'''
OBJECTIVES:
1. Build WRS system
2. Build Structural BMP Solution evaluator
3. Identify minimum BMP solution front for:
   individual facilities
   facilities w/in departments
   facilities w/in city
   
PYTHON VERSION: 3.6.3  
SQLALCHEMY VERSION: 1.1.13

'''

In [1]:
import winsound
import pandas as pd
'''
Define basic SQLAlchemy items:
    declarative base object
    connection object
    session object
    DB tables
'''
#SQLAlchemy library items:
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String
from sqlalchemy import update, insert
from sqlalchemy import and_ #used in query.filter() to joing multiple where clauses
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship #http://docs.sqlalchemy.org/en/latest/orm/basic_relationships.html#relationship-patterns
from sqlalchemy import inspect

from SQLA_Base import Base #module containing declarative_base
from SQLA_conn_man import session, engine #module handling db and connection creation 

#Table definitions as SQLA classes:
from SQLA_DB_base_bmp_feasibility_test_results import Base_BMP_Feasibility_Test_Results as BBFTR
from SQLA_DB_base_bmp_feasibility_test_definitions import Base_BMP_Feasibility_Test_Definitions as BBFTD
from SQLA_DB_base_bmps import Base_BMPs
from SQLA_DB_combo_bmps import Combo_BMPs
from SQLA_DB_combo_bmp_feasibility_test_results import Combo_BMP_Feasibility_Test_Results as CBFTR
from SQLA_DB_expressions import Expressions
from SQLA_DB_facility_chars import Facility_Chars
from SQLA_DB_facility_monthly_rain import Facility_Monthly_Rain
from SQLA_DB_facility_risks import Facility_Risks
from SQLA_DB_facility_type_has_nel import Facility_Type_Has_NEL
from SQLA_DB_facility_types import Facility_Types
from SQLA_DB_feasibility_test_questions import Feasibility_Test_Questions as FTQ
from SQLA_DB_nel_sample_classes import NEL_Sample_Classes
from SQLA_DB_existing_pollutant_concentrations import Existing_Pollutant_Concentrations as ExPollConcs
from SQLA_DB_pollutant_removal_rates import Pollutant_Removal_Rates as PRR
from SQLA_DB_wrs_pollutant_risks import WRS_Pollutant_Risks
Base.metadata.create_all(engine, checkfirst=True) #create SQLA classes

'''
Dictionary of "SQLAlchemy where clause lambda functions" that importCSV uses to test record uniqueness.
used as the where clause in sqlalchemy queries, updates and deletes 
Form:
    {TableName:Lambda Function, TableName:Lambda Function, ...}
    
    TableName is the table name we want to define uniqueness test for
    Lambda Function is a SQLAlchemy query used to test record uniqueness. The function can take on any form 
        but must be made to evaluate the CSV row passed as a dictionary (CSVRowDict in this explanation):
        CSVRowDict: {FieldName:CSVColValue, DBTableFieldName:CSVColValue...} 
            Where: DBTableFieldName is the name of the field associated with the value at CSVColValue on the current row
                   CSVColValue: a value in the CSV's current row+column corresponding to the DBTableFieldName 
        *this assumes that field names are unique across table. if not, then method fails (maybe need to extend method?)
    FALSE: indicates that db table doesn't impose uniqueness on its records (other than its record id being unique)
        
e.g.: lambda myRowVal: Base.metadata.tables['people'].c['name'] == CSVRowDict['name']
        using lambda function in query will search for CSVRowDict's value for 'name' in the table people, field name 
if table has no record uniqueness requirement, then enter: TableName:False
'''
unqTests = {
    'facility_chars': lambda CSVRowDict: Base.metadata.tables['facility_chars'].c['Fac_Name'] == CSVRowDict['Fac_Name'],
    'facility_monthly_rain': False, #DB schema does not impose uniqueness on records in this table
    'facility_type_has_nel': False,
    'facility_risks': False,
    'facility_types': lambda CSVRowDict: Base.metadata.tables['facility_types'].c['Fac_Type'] == CSVRowDict['Fac_Type'],
    'nel_sample_classes': lambda CSVRowDict: Base.metadata.tables['nel_sample_classes'].c['nel_column']==CSVRowDict['nel_column'],
    'existing_pollutant_concentrations': False, #uniqueness not imposed for records in this table.
    'wrs_pollutant_risks': False #DB schema does not impose uniqueness on records in this table
}

import SQLA_main as SQLA_main #import main SQLAlchemy functions

Clearing old DB

In [2]:
'''
Define other custom modules

'''
import mod_Base_BMP_Eval as BBMP_Eval
import mod_Combo_BMP_Eval as CBMP_Eval
import mod_EffluentLimit as EffLim
import mod_expression as Expr
import mod_importSpecial as importSpecial #special import functions are defined here
import mod_importCSV as importCSV #generic CSV importer ****IMPORTANT NOTE: function assumes csv in the utf-8-sig file format. weird things happen if its not in this format!!!

In [3]:
#import feasibillity questions, build feasibility expressions
importSpecial.importFeasibilityQuestionsCSV('Input_Files\\feasibility_test_questions.csv') 

#import base bmp information including:
  #1. imports definitions for cip costs, o&m costs, and BMP sizing to the expressions table
  #2. imports pollutant removal rates into pollutant_removal_rates table
  #3. creates a record in the base_bmps table using (1) and (2)
  #4. feasibility tests
importSpecial.importBaseBMPsCSV('Input_Files\\bmp_lego_piece.csv') 

#IMPORT BASIC FACILITY CHARS:
    #!!!!IMPORTANT!!!! This import must occur before other facility specific data is imported!
print ('\nImporting facility characteristics:')
importCSV.importCSV('Input_Files\\facility_chars.csv', unqTests)

#IMPORT PBP Appendix A1 data
print ('\nImporting PBP Appendix A1 data:')
importCSV.importCSV('Input_Files\\pbp_appxa1.csv', unqTests)

#IMPORT FACILITY RAINFALL EXTRACTED FROM http://rainfall.geography.hawaii.edu/downloads.html
print ('\nImporting Facility Rainfall Data:')
importCSV.importCSV('Input_Files\\FacilityRainfallData.csv', unqTests)

#IMPORT EFFLUENT LIMITS EXISTANCE FOR FACILITY TYPES: (either by Priority Based Plan, Table 3 or as City operational assignment)
#IF CSV HEADRS SETUP CORRECTLY, THEN THIS INSERTS NEL EXISTANCE DATA (0 OR 1) TO WRS_POLLUTANT TABLE 
#AND USES THE FACILITY_TYPE_HAS_NEL TO ASSOCIATE RECORD WITH FACILITY TYPE
print ('\nImporting Facility Type Has Effluent Limits:') #import into wrs_pollutant_risks table
importCSV.importCSV('Input_Files\\nel_exists_facility_types.csv', unqTests)

#IMPORT NEL CLASSIFICATION DATA (from PBP Appendix L)
print ('\nImporting NEL Classes')
importCSV.importCSV('Input_Files\\nel_pbp_appxl.csv', unqTests)

#IMPORT FACILITY RISKS:
print ('\nImporting Facility Risks')
#for future implementation:
    #The current process inserts fac risk and update existing_fac_char_id in Facility_chars table. this process thus creates
#dead records. a more sophisticated approach using sophisticated lambda function in unqTests would fix this
importCSV.importCSV('Input_Files\\facility_risks.csv', unqTests)

# #IMPORT FACILITY SAMPLING DATA
 #!!!IMPORTANT!!!! For now, we make none detects = 0 BUT this must be changed to detection limit, per DOH guidance.
print ('\nImporting Facilty Sampling data:')
importCSV.importCSV('Input_Files\\sample_data.csv', unqTests)


# for now, since we're developing, delete out all except 1st 2 facilities.
# n = 5
# session.query(ExPollConcs).filter(ExPollConcs.facility_id >n).delete(synchronize_session = False) #http://docs.sqlalchemy.org/en/latest/orm/query.html#sqlalchemy.orm.query.Query.delete
# session.query(Facility_Chars).filter(Facility_Chars.id >n).delete(synchronize_session = False) #http://docs.sqlalchemy.org/en/latest/orm/query.html#sqlalchemy.orm.query.Query.delete
# session.commit #we chose not to sync session so need to commit before proceeding to requery or else you may get unpredictable resutls

session.commit()
winsound.Beep(250,1000)

Reading csv for import to Feasibility Questions

Reading csv record: Feas-1

Reading csv record: Feas-2

Reading csv record: Feas-3

Reading csv record: Feas-4

Reading csv record: Feas-5

Reading csv record: Feas-6

Reading csv record: Feas-7

Reading csv record: Feas-8

Reading csv record: Feas-9

Reading csv record: Feas-10

Reading csv record: Feas-11

Reading csv record: Feas-12

Reading csv record: Feas-13

Reading csv record: Feas-14

Reading csv record: Feas-15

Reading csv record: Feas-16

Reading csv record: Feas-17

Reading csv record: Feas-18

Reading csv record: Feas-19

Reading csv record: Feas-20

Reading csv record: Feas-21
Reading csv for import to base bmp tables

Reading csv record: Hydrodynamic Separation
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 1
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  1
Added feasibility test def as record:  2
Added feasibility test def as record:  3
Added feasibility test def as record:  4

Reading csv record: Enhanced Media Filtration (Replaceable Cartridge)
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 2
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  5
Added feasibility test def as record:  6
Added feasibility test def as record:  7
Added feasibility test def as record:  8

Reading csv record: Biofiltration (Vault)
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 3
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  9
Added feasibility test def as record:  10
Added feasibility test def as record:  11
Added feasibility test def as record:  12

Reading csv record: Media Filtration (Pressure)
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 4
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  13
Added feasibility test def as record:  14
Added feasibility test def as record:  15
Added feasibility test def as record:  16

Reading csv record: Bioinfiltration / Bioretention
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 5
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  17
Added feasibility test def as record:  18
Added feasibility test def as record:  19
Added feasibility test def as record:  20
Added feasibility test def as record:  21
Added feasibility test def as record:  22
Added feasibility test def as record:  23
Added feasibility test def as record:  24

Reading csv record: Inlet Insert Unit
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 6
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  25

Reading csv record: Sand Filtration
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 7
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  26
Added feasibility test def as record:  27
Added feasibility test def as record:  28
Added feasibility test def as record:  29

Reading csv record: Coagulation Enhanced Treatment
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 8
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  30
Added feasibility test def as record:  31
Added feasibility test def as record:  32
Added feasibility test def as record:  33

Reading csv record: Roofing
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 9
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  34

Reading csv record: Paving and Curbing
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 10
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  35

Reading csv record: Oil and Water Separators
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 11
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  36
Added feasibility test def as record:  37
Added feasibility test def as record:  38
Added feasibility test def as record:  39
Added feasibility test def as record:  40

Reading csv record: Vegetative Swales
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 12
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  41
Added feasibility test def as record:  42
Added feasibility test def as record:  43
Added feasibility test def as record:  44
Added feasibility test def as record:  45
Added feasibility test def as record:  46

Reading csv record: Detention
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 13
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  47
Added feasibility test def as record:  48
Added feasibility test def as record:  49

Importing facility characteristics:
importing data in CSV rows...
imported records in  2  rows
associating records...

Importing PBP Appendix A1 data:
importing data in CSV rows...
imported records in  238  rows
associating records...

Importing Facility Rainfall Data:
importing data in CSV rows...
imported records in  238  rows
associating records...

Importing Facility Type Has Effluent Limits:
importing data in CSV rows...
imported records in  8  rows
associating records...

Importing NEL Classes
importing data in CSV rows...
imported records in  9  rows
associating records...

Importing Facility Risks
importing data in CSV rows...
imported records in  238  rows
associating records...

Importing Facilty Sampling data:
importing data in CSV rows...
imported records in  110  rows
associating records...

In [4]:
# # EVALUATE BASE BMP FEASIBILITY at each facility
# # Write results to the base_bmp_feasibility_test_results table.

# print('\n******Evaluating Base BMP feasibility at facilities.******')
# ShowCalculations = False #flag indicating if steps should be outputted
# Expr.ResetEvalErrorCount() #RESET EXPRESION EVALUATOR ERROR COUNT
# for aFac in session.query(Facility_Chars):
#     if ShowCalculations: print ('\n***Evaluating base bmp feasibiilty tests for facility: ', aFac.Fac_Name), ' ***'
#     myBMPs = session.query(Base_BMPs)
#     for aBMP in myBMPs:
#         if ShowCalculations:print ('\nEvaluating feasibility of base_bmp: ', aBMP.bmp_name, ' ID: ', aBMP.id)
#         BBMP_Eval.Eval_base_bmp_feasibility_tests(aFac, aBMP, False)
# session.commit
# winsound.Beep(250,1000)
# print ('*****************************************************************')
# print ('* Completed evaluating Base BMP feasibility                     *')
# if Expr.CountEvalErrors() >0:
#     print (Expr.CountEvalErrors(), ' errors were encountered. Review output to identify location(s)')
#     print ('Hint: expression evaluation error lines are prefixed by: FAULT!!!! Error occured while evaluating expression:')
# else:
#     print ('No errors detected.')
# print ('*****************************************************************')

In [5]:
'''
Enter estimated pollutant concentrations into database's existing pollutant concentration table for facilities without 
actual sampling data. Use 1 of 2 methods:

Method 1: Use maximum concentration value sampled for period 2013-2017
          This method is for Permit Table 1 facilities only
          Method assumes we have already entered sampling data for into the database's existing pollutant concentration table

Method 2: Use data from an EMC study.
          This method is for facilities that are not on Permit Table 1
          
          
Defined Global Vars:
    pd_infieldExtrema: dataframe holding maximum concentrations that were measured. *exception is phMin. we use lowest observed ph
    
    
'''
pollLS = ['tss', 'turbidity', 'p', 'n', 'nn', 'an', 'og', 'cu', 'zn', 'fe', 'phmin', 'phmax'] #list of pollutant constituants we're trying to address


#get all existing pollutant concentrations obtained using the 'infield' sampling method
q = session.query(ExPollConcs).filter(ExPollConcs.sample_method == 'infield')
pd_Concs = pd.read_sql(q.statement,session.bind) 

#build pd_infieldExtreama by making a dictionary of maximum sample results for each constiuent
dict_extrema = {'c_' + Constituent: pd_Concs.loc[:,'c_' + Constituent].max() for Constituent in pollLS}
dict_extrema['c_phmin'] = pd_Concs.loc[:,'c_phmin'].min() #phMin is exception to above. we want min. phMin value
#use dictionary to build pd_infieldExtrema dataframe
pd_infieldExtrema = pd.DataFrame([dict_extrema])
display(pd_infieldExtrema)

#Apply Method1 to all unsampled Table 1 facilities
#we need to get all Table 1 facilities that are not currently in the existing pollutant concentration table
#############################################################################################################
'''
To be sure we're starting fresh, let's remove any records in ExPollConcs that:
1. Were not obtained directly from field samples (i.e. sample_method != 'infield)
2. Were obtained from field samples, but are not Table 1 facilities (i.e. we shouldn't be looking at their  sample results)
'''
#delete all pollutant concentration table records that are not from infield sampling.
session.query(ExPollConcs).filter(ExPollConcs.sample_method != 'infield').delete(synchronize_session = False)
#delete all pollutant concentration table records that are not for Table 1 facilities
#for some reason bulk delete's not working. so let's use a loop to work around it.
for rec in session.query(ExPollConcs.id).filter(ExPollConcs.facility_id == Facility_Chars.id).filter(Facility_Chars.Permit_Table != 'Table 1'):
    session.query(ExPollConcs).filter(ExPollConcs.id == rec[0]).delete(synchronize_session = False)


#now build query that identifies all Table 1 facilities that are not in ExPollConcs
subq = session.query(ExPollConcs.facility_id.distinct()).order_by(ExPollConcs.facility_id).all()
ls_sq = [i[0] for i in subq if i[0] is not None] #list comprehension to produce list of all facility_id in ExPollConcs table
#get list of Table 1 facilities not in ExPollConcs:
tpl_q = session.query(Facility_Chars.id).filter(Facility_Chars.Permit_Table == 'Table 1').filter(Facility_Chars.id.notin_(ls_sq)).all()
ls_FacIDs = [i[0] for i in tpl_q] #write query tuple to list    
#make a list of Table 1 facs not in ExPollConcs (a list of dicts). also include extrema conc. values.  
ls_dict_pd = [{**{'facility_id': FacID, 'sample_method': 'sim_MaxType', 'sample_date':'12/31/2016'}, **dict_extrema} for FacID in ls_FacIDs]
#write list to database:
ExPollConcs_meta = Base.metadata.tables['existing_pollutant_concentrations']
ExPollConcs_id_meta = ExPollConcs_meta.c['id']
for dict_temp in ls_dict_pd:
    SQLA_main.insertRec(ExPollConcs_meta,dict_temp)
session.commit()
#for future implementation: write dict -> dataframe -> db(using sqla):
    # pd_temp.to_sql('existing_pollutant_concentrations', engine, if_exists='append', index = False)
    #http://docs.sqlalchemy.org/en/latest/faq/performance.html#i-m-inserting-400-000-rows-with-the-orm-and-it-s-really-slow
    #https://stackoverflow.com/questions/31997859/bulk-insert-a-pandas-dataframe-using-sqlalchemy
q = session.query(ExPollConcs)
pd.read_sql(q.statement,session.bind)

,c_an,c_cu,c_fe,c_n,c_nn,c_og,c_p,c_phmax,c_phmin,c_tss,c_turbidity,c_zn
0,10.5,105.0,19500.0,27.25,3.68,59.0,10.3,8.7,6.01,2010.0,4181.0,730.0

,id,facility_id,sample_method,sample_point_name,sample_date,c_tss,c_turbidity,c_p,c_n,c_nn,c_an,c_og,c_cu,c_zn,c_fe,c_phmin,c_phmax
0,4,15,infield,CAESHAL,4/20/2017,NaN,22.00,0.300,2.130,0.300,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5,15,infield,CAESHAL,2/11/2017,NaN,21.00,0.146,5.070,0.210,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6,15,infield,CAESHAL,12/8/2016,30.0,28.10,0.200,1.240,0.370,0.000,0.0,NaN,NaN,NaN,7.90,7.90
3,7,15,infield,CAESHAL,6/17/2016,23.0,24.30,0.182,0.850,0.000,0.000,0.0,NaN,NaN,NaN,6.87,6.87
4,8,15,infield,CAESHAL,5/2/2014,42.5,29.30,0.230,1.161,0.101,0.050,4.9,NaN,NaN,NaN,7.65,7.65
5,9,15,infield,CAESHAL,3/9/2013,53.5,NaN,0.337,2.485,0.545,0.160,NaN,NaN,NaN,NaN,NaN,NaN
6,10,15,infield,CAESHAL,1/27/2013,NaN,23.60,NaN,NaN,NaN,NaN,4.7,NaN,NaN,NaN,7.76,7.76
7,11,21,infield,CWCSMHAL,5/2/2014,30.5,17.40,0.161,1.152,0.092,0.050,4.8,NaN,NaN,NaN,7.55,7.55
8,12,21,infield,CWCSMHAL,1/27/2013,233.0,240.00,0.558,1.243,0.203,0.068,4.7,NaN,NaN,NaN,7.45,7.45
9,13,8,infield,CDRMHAL,4/20/2017,NaN,29.00,0.500,1.690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,14,8,infield,CDRMHAL,2/11/2017,NaN,29.00,0.200,0.590,NaN,NaN,NaN,NaN,NaN,NaN,7.90,7.90
11,15,8,infield,CDRMHAL,12/8/2016,28.0,33.50,4.800,0.970,0.110,0.000,0.0,NaN,NaN,NaN,8.30,8.30
12,16,8,infield,CDRMHAL,6/17/2016,70.0,51.80,0.300,1.050,0.000,0.267,0.0,NaN,NaN,NaN,6.70,6.70
13,17,8,infield,CDRMHAL,5/2/2014,8.0,63.60,0.248,1.221,0.161,0.050,5.2,NaN,NaN,NaN,7.48,7.48
14,18,8,infield,CDRMHAL,1/27/2013,214.0,189.00,0.468,1.142,0.122,0.131,4.7,NaN,NaN,NaN,7.22,7.22
15,20,3,infield,CWTPHON-2,2/11/2017,677.0,720.00,1.500,1.650,1.120,0.194,0.0,17.00,24.0,NaN,8.10,8.10
16,21,3,infield,CWTPHON-1,2/11/2017,910.0,105.00,0.300,1.080,0.520,0.121,4.0,58.00,730.0,NaN,8.10,8.10
17,22,3,infield,CWTPHON,4/14/2013,303.0,16.00,0.874,1.887,0.097,0.050,5.6,28.60,114.0,NaN,8.10,8.10
18,23,22,infield,CDRMKAI,4/12/2015,5.0,2.20,0.073,1.016,0.196,0.050,4.7,NaN,NaN,NaN,7.21,7.21
19,24,6,infield,CWTPKAI-2,2/6/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.10,6.3,NaN,8.10,8.10
20,25,6,infield,CWTPKAI-1,2/6/2017,680.0,4000.00,1.200,5.700,3.680,0.000,0.0,100.00,133.0,NaN,8.00,8.00
21,26,6,infield,CWTPKAI-2,12/1/2016,272.0,801.00,0.800,0.700,0.120,0.000,0.0,59.00,112.0,NaN,8.10,8.10
22,27,6,infield,CWTPKAI-1,6/17/2016,151.0,8.15,0.096,0.680,0.000,0.000,0.0,92.60,190.0,NaN,6.83,6.83
23,28,6,infield,CWTPKAI-2,5/25/2016,157.0,137.00,1.600,1.640,0.000,0.256,0.0,38.40,112.0,NaN,7.56,7.56
24,29,6,infield,CWTPKAI-1,2/3/2015,119.0,6.30,0.119,1.296,0.076,0.101,4.9,105.00,310.0,NaN,7.90,7.90
25,30,6,infield,CWTPKAI-2,2/3/2015,155.0,8.20,0.379,1.275,0.085,0.083,5.2,36.80,143.0,NaN,7.40,7.40
26,31,6,infield,CWTPKAI-1,3/9/2013,10.5,17.00,0.124,0.856,0.106,0.063,5.6,45.60,200.0,NaN,7.49,7.49
27,33,14,infield,CCSLKALA,2/11/2017,255.0,78.00,0.398,1.680,1.050,0.000,0.0,NaN,NaN,15500.0,7.70,7.70
28,35,1,infield,CDTSKALI,4/19/2017,122.0,NaN,NaN,2.430,NaN,NaN,NaN,NaN,NaN,NaN,7.00,7.00
29,36,1,infield,CDTSKALI,2/11/2017,59.0,13.00,0.097,0.580,NaN,NaN,NaN,NaN,NaN,NaN,8.30,8.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,94,4,infield,CWTPSAN,2/20/2015,16.0,31.70,0.227,1.412,0.342,0.050,5.1,29.20,146.0,NaN,7.88,7.88
78,95,4,infield,CWTPSAN,3/24/2013,6.0,7.80,0.102,1.021,0.281,0.094,4.8,17.20,47.1,NaN,8.26,8.26
79,97,26,infield,CRCCWAH,3/22/2013,62.5,34.40,0.451,2.647,0.377,0.283,5.3,NaN,NaN,NaN,8.07,8.07
80,98,25,infield,CWTPWAH,4/20/2017,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.00,115.0,NaN,NaN,NaN
81,99,25,infield,CWTPWAH,1/21/2017,13.0,22.00,0.150,1.770,0.120,0.330,59.0,21.00,205.0,NaN,6.90,6.90
82,100,25,infield,CWTPWAH,11/5/2015,6.0,13.30,0.071,0.720,0.000,0.000,0.0,4.71,50.7,NaN,7.42,7.42
83,101,7,infield,CWTPWAIA,2/11/2017,142.0,15.90,0.890,3.470,2.830,0.108,0.0,18.90,26.0,NaN,7.90,7.90
84,106,29,infield,CRCCWAIM,4/28/2017,280.0,136.00,1.800,21.100,1.500,0.331,NaN,NaN,NaN,NaN,NaN,NaN
85,107,29,infield,CRCCWAIM,2/6/2017,80.0,73.00,1.200,4.900,0.720,0.228,0.0,NaN,NaN,NaN,7.00,7.00
86,108,29,infield,CRCCWAIM,3/22/2013,2010.0,4181.00,3.150,5.859,0.909,0.309,5.3,NaN,NaN,NaN,8.00,8.00
87,109,30,infield,CCSLWAIP-1,4/20/2017,72.0,21.00,0.278,1.490,0.290,0.000,0.0,NaN,NaN,2650.0,8.70,8.70
88,110,240,infield,CDPRWAI,9/11/2015,293.0,93.20,0.774,4.510,1.800,0.173,0.0,NaN,NaN,NaN,7.71,7.71
89,111,9,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
90,112,10,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
91,113,11,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
92,114,12,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
93,115,13,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
94,116,16,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
95,117,17,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
96,118,19,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
97,119,20,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
98,120,23,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
99,121,28,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
100,122,31,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
101,123,39,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
102,124,47,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
103,125,48,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
104,126,63,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
105,127,66,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
106,128,67,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70

In [6]:
#Estimate Pollutant Effluent Limits
'''
Estimate the Numeric Effluent Limits (NELs) for each facility.
Return wet and dry season NELs in 2 separate dataframes:
    pd_FacsNELs_Wet & pd_FacsNELs_Dry
Estimate NELs using the EffLim module's GetNELs function call.
 The GetNELs function call will differentiate between wet and dry season limits
 (if limits are the same between wet & dry season, then the same limit will be placed into the wet and dry
  dataframes.)
 The GetNEls function calculates a pollutant constituent NEL using this formula:
    NEL = fTypeHas_NEL * SampleClass_NEL
    Where:
      fTypeHas_NEL is a [0,1] value from PBP Table 3, based on facility type (stored in SQLA_DB_facility_type_has_nel)
      SampleClass_NEL is pollutant concentration based on facility's sample class, based on PBP Appendix L
'''
pd_FacsNELs_Wet, pd_FacsNELs_Dry = pd.DataFrame(),  pd.DataFrame() #initialize wet and dry season nel dataframes 
for recFac in session.query(Facility_Chars): #do the following for each facility:
    wet,dry = EffLim.GetNELs(recFac,False) #Get Wed & Dry NELs by calculating: NEL = fTypeHas_NEL * SampleClass_NEL
#     if wet is not None:
    pd_FacsNELs_Wet = pd.concat([pd_FacsNELs_Wet, wet]) #write wet NELs to pd_FacsNELs_Wet
#     if dry is not None:
    pd_FacsNELs_Dry = pd.concat([pd_FacsNELs_Dry, dry]) #write dry NELs to pd_FacsNELs_Dry

print('Wet NELs:')
display(pd_FacsNELs_Wet)
print('Dry NELs:')
display(pd_FacsNELs_Dry)

Wet NELs:

,wrs_tss,wrs_turbidity,wrs_p,wrs_n,wrs_nn,wrs_an,wrs_og,wrs_cu,wrs_zn,wrs_fe,wrs_phmin,wrs_phmax
Facility_ID,,,,,,,,,,,,
1,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
2,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
3,50.0,15.00,0.10,0.52,0.180,NaN,15.0,6.0,22.0,NaN,5.5,8.0
4,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,2.9,95.0,NaN,7.0,8.6
5,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
6,NaN,NaN,NaN,NaN,NaN,NaN,15.0,6.0,22.0,NaN,5.5,8.0
7,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,2.9,95.0,NaN,7.6,8.6
8,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
9,NaN,1.25,0.04,0.25,0.014,0.0085,15.0,NaN,NaN,NaN,7.6,8.6
10,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
11,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
12,NaN,8.00,0.13,0.55,0.040,0.0200,15.0,NaN,NaN,NaN,6.8,8.8
13,NaN,3.00,0.05,0.35,0.025,0.0100,15.0,NaN,NaN,NaN,7.0,8.6
14,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,1000.0,5.5,8.0
15,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
16,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
17,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
18,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
19,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
20,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
21,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
22,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
23,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,1000.0,5.5,8.0
24,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,1000.0,5.5,8.0
25,NaN,NaN,NaN,NaN,NaN,NaN,15.0,6.0,22.0,NaN,5.5,8.0
26,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
27,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
28,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
29,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
30,NaN,8.00,0.13,0.55,0.040,0.0200,15.0,NaN,NaN,1000.0,6.8,8.8
...,...,...,...,...,...,...,...,...,...,...,...,...
89,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6
90,NaN,1.25,0.04,0.25,0.014,0.0085,15.0,NaN,NaN,NaN,7.6,8.6
91,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
92,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
93,NaN,1.25,0.04,0.25,0.014,0.0085,15.0,NaN,NaN,NaN,7.6,8.6
94,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
95,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
96,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
97,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
98,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
99,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
101,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
102,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6
103,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
104,NaN,1.25,0.04,0.25,0.014,0.0085,15.0,NaN,NaN,NaN,7.6,8.6
105,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
181,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
219,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
220,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
228,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
229,NaN,8.00,0.13,0.55,0.040,0.0200,15.0,NaN,NaN,NaN,6.8,8.8
230,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6
231,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
232,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
233,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6
234,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6
235,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6
236,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
237,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
238,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0

Dry NELs:

,wrs_tss,wrs_turbidity,wrs_p,wrs_n,wrs_nn,wrs_an,wrs_og,wrs_cu,wrs_zn,wrs_fe,wrs_phmin,wrs_phmax
Facility_ID,,,,,,,,,,,,
1,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
2,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
3,30.0,5.50,0.06,0.38,0.090,NaN,15.0,6.0,22.0,NaN,5.5,8.0
4,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,2.9,95.0,NaN,7.0,8.6
5,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
6,NaN,NaN,NaN,NaN,NaN,NaN,15.0,6.0,22.0,NaN,5.5,8.0
7,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,2.9,95.0,NaN,7.6,8.6
8,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
9,NaN,1.25,0.04,0.25,0.014,0.0085,15.0,NaN,NaN,NaN,7.6,8.6
10,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
11,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
12,NaN,8.00,0.13,0.55,0.040,0.0200,15.0,NaN,NaN,NaN,6.8,8.8
13,NaN,3.00,0.05,0.35,0.025,0.0100,15.0,NaN,NaN,NaN,7.0,8.6
14,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,1000.0,5.5,8.0
15,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
16,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
17,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
18,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
19,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
20,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
21,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
22,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
23,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,1000.0,5.5,8.0
24,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,1000.0,5.5,8.0
25,NaN,NaN,NaN,NaN,NaN,NaN,15.0,6.0,22.0,NaN,5.5,8.0
26,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
27,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
28,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
29,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
30,NaN,8.00,0.13,0.55,0.040,0.0200,15.0,NaN,NaN,1000.0,6.8,8.8
...,...,...,...,...,...,...,...,...,...,...,...,...
89,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6
90,NaN,1.25,0.04,0.25,0.014,0.0085,15.0,NaN,NaN,NaN,7.6,8.6
91,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
92,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
93,NaN,1.25,0.04,0.25,0.014,0.0085,15.0,NaN,NaN,NaN,7.6,8.6
94,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
95,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
96,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
97,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
98,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
99,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
101,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
102,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6
103,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
104,NaN,1.25,0.04,0.25,0.014,0.0085,15.0,NaN,NaN,NaN,7.6,8.6
105,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
181,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
219,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
220,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
228,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
229,NaN,8.00,0.13,0.55,0.040,0.0200,15.0,NaN,NaN,NaN,6.8,8.8
230,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6
231,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
232,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
233,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6
234,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6
235,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6
236,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
237,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
238,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0

In [7]:
import pandas as pd
import numpy as np
import math
import datetime

In [8]:
#let's work on calculating exceedance values

import mod_EffluentLimit as EffLim

#get all sampling data
q = session.query(ExPollConcs.id, ExPollConcs.facility_id.label('Facility_ID'), ExPollConcs.sample_date, 
        ExPollConcs.c_tss,
        ExPollConcs.c_turbidity,
        ExPollConcs.c_p,
        ExPollConcs.c_n,
        ExPollConcs.c_nn,
        ExPollConcs.c_an,
        ExPollConcs.c_og,
        ExPollConcs.c_cu,
        ExPollConcs.c_zn,
        ExPollConcs.c_fe,
        ExPollConcs.c_phmin,
        ExPollConcs.c_phmax  
         ).order_by(ExPollConcs.facility_id) #.filter(ExPollConcs.facility_id == FacID)
pd_Concs = pd.read_sql(q.statement,session.bind) 
#tidy up the sampling data
from datetime import datetime
pd_Concs['sample_date'] = pd.to_datetime(pd_Concs['sample_date'], format="%m/%d/%Y")
pd_Concs = pd_Concs.applymap(lambda x: float('nan') if x is None else x) #assign NaN values to any None element

#for each pollutant constituent, do the Exceedance Calculation = max(0,(Constituent Concentration - NEL))
# if no exceedance, then report 0. report NaN sample result is NaN
pd_FacExceedances = pd.DataFrame() #make an empty dataframe.  we will append to it.
for Facs in session.query(Facility_Chars.id).order_by(Facility_Chars.id):
    FacID = Facs[0]
    if (FacID in pd_Concs.Facility_ID.values) and (FacID in pd_FacsNELs_Dry.index) and (FacID in pd_FacsNELs_Wet.index):
        pd_temp = pd_Concs.loc[pd_Concs['Facility_ID'] == FacID] #slice facility id rows into a temp dataframe
        pd_temp.is_copy = False #acknowledge that pd_temp is NOT a copy of pd_Concs. but intended to be treated as new dataframe
        for Constituent in pollLS:
            pd_temp['c_' + Constituent]  = pd_Concs.apply(lambda row: #for each row in pd_Concs:
                                     EffLim.ExceedanceCalc(row, Constituent, FacID, pd_FacsNELs_Wet, pd_FacsNELs_Dry, True), axis = 1)
#         display(pd_temp)
        pd_FacExceedances = pd.concat([pd_FacExceedances,pd_temp])
print('Concentrations in excess of wet/dry season NELs')
display(pd_FacExceedances)

Concentrations in excess of wet/dry season NELs

,id,Facility_ID,sample_date,c_tss,c_turbidity,c_p,c_n,c_nn,c_an,c_og,c_cu,c_zn,c_fe,c_phmin,c_phmax
0,35,1,2017-04-19,72.0,NaN,NaN,1.910,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
1,36,1,2017-02-11,9.0,0.0,0.000,0.060,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.30
2,37,1,2016-12-04,30.0,56.2,0.200,0.390,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.20
3,38,1,2016-06-17,53.0,75.9,0.190,0.560,0.110,NaN,0.0,NaN,NaN,NaN,0.00,0.00
4,39,1,2015-02-20,0.0,2.5,0.076,1.310,0.010,NaN,0.0,NaN,NaN,NaN,0.00,0.54
5,40,1,2014-04-13,0.0,0.0,0.144,1.517,0.067,NaN,0.0,NaN,NaN,NaN,0.00,0.00
6,41,1,2013-03-09,113.0,9.4,0.055,0.679,0.059,NaN,0.0,NaN,NaN,NaN,0.00,0.09
7,80,2,2017-04-20,NaN,0.0,NaN,0.260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,81,2,2017-01-21,0.0,16.0,0.000,1.060,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.00
9,82,2,2016-05-05,0.0,0.0,0.006,2.292,0.122,NaN,0.0,NaN,NaN,NaN,0.00,0.00
10,83,2,2014-06-03,0.0,0.0,0.015,0.756,0.026,NaN,0.0,NaN,NaN,NaN,0.00,0.00
11,84,2,2013-03-09,30.0,0.0,0.067,0.241,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.00
12,20,3,2017-02-11,627.0,705.0,1.400,1.130,0.940,NaN,0.0,11.0,2.0,NaN,0.00,0.10
13,21,3,2017-02-11,860.0,90.0,0.200,0.560,0.340,NaN,0.0,52.0,708.0,NaN,0.00,0.10
14,22,3,2013-04-14,253.0,1.0,0.774,1.367,0.000,NaN,0.0,22.6,92.0,NaN,0.00,0.10
15,88,4,2017-04-19,NaN,42.0,0.430,1.330,0.550,0.068,NaN,27.7,NaN,NaN,NaN,NaN
16,89,4,2017-04-19,NaN,44.0,0.430,1.100,0.450,0.057,NaN,83.1,321.0,NaN,NaN,NaN
17,90,4,2017-01-24,NaN,87.0,0.450,1.840,0.500,0.061,NaN,33.6,NaN,NaN,NaN,NaN
18,91,4,2017-01-24,NaN,63.0,0.520,1.590,0.520,0.077,0.0,36.1,72.0,NaN,0.00,0.00
19,92,4,2016-12-04,NaN,4.2,10.250,0.600,0.180,0.070,0.0,10.4,0.0,NaN,0.00,0.00
20,93,4,2016-05-14,NaN,28.1,0.231,2.139,0.289,0.207,0.0,31.5,125.0,NaN,0.11,0.00
21,94,4,2015-02-20,NaN,28.7,0.177,1.062,0.322,0.037,0.0,26.3,51.0,NaN,0.00,0.00
22,95,4,2013-03-24,NaN,4.8,0.052,0.671,0.261,0.081,0.0,14.3,0.0,NaN,0.00,0.00
23,62,5,2017-01-24,199.0,31.0,2.200,15.330,0.000,NaN,0.0,NaN,NaN,NaN,NaN,NaN
24,63,5,2016-12-08,190.0,752.0,0.037,26.730,0.000,NaN,6.0,NaN,NaN,NaN,0.00,0.00
25,64,5,2016-05-25,59.5,7.7,2.860,14.162,0.052,NaN,0.0,NaN,NaN,NaN,0.00,0.00
26,65,5,2013-03-09,82.0,38.0,2.430,0.000,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.00
27,24,6,2017-02-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.1,0.0,NaN,0.00,0.10
28,25,6,2017-02-06,NaN,NaN,NaN,NaN,NaN,NaN,0.0,94.0,111.0,NaN,0.00,0.00
29,26,6,2016-12-01,NaN,NaN,NaN,NaN,NaN,NaN,0.0,53.0,90.0,NaN,0.00,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,67,27,2015-11-19,162.0,108.8,0.676,1.640,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.00
77,121,28,2016-12-31,1960.0,4166.0,10.200,26.730,3.500,NaN,44.0,NaN,NaN,NaN,0.00,0.70
78,106,29,2017-04-28,230.0,121.0,1.700,20.580,1.320,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,107,29,2017-02-06,30.0,58.0,1.100,4.380,0.540,NaN,0.0,NaN,NaN,NaN,0.00,0.00
80,108,29,2013-03-22,1960.0,4166.0,3.050,5.339,0.729,NaN,0.0,NaN,NaN,NaN,0.00,0.00
81,109,30,2017-04-20,NaN,13.0,0.148,0.940,0.250,0.000,0.0,NaN,NaN,1650.0,0.00,0.00
82,122,31,2016-12-31,NaN,4178.0,10.250,26.900,3.660,10.487,44.0,NaN,NaN,NaN,0.99,0.10
83,51,35,2017-04-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
84,52,35,2016-12-01,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.00,0.50
85,53,35,2015-02-14,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.00,0.00
86,54,35,2013-03-14,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.00,0.00
87,42,36,2014-04-12,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.00,0.00
88,79,38,2013-04-14,0.0,0.0,0.258,2.260,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.00
89,123,39,2016-12-31,1960.0,4166.0,10.200,26.730,3.500,NaN,44.0,NaN,NaN,NaN,0.00,0.70
90,69,42,2017-04-20,NaN,28.0,0.100,0.180,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,70,42,2017-02-06,0.0,20.5,0.290,1.770,0.630,NaN,0.0,NaN,NaN,NaN,0.00,0.00
92,71,42,2013-03-09,105.0,0.8,0.675,1.701,0.281,NaN,0.0,NaN,NaN,NaN,0.00,0.00
93,50,43,2013-03-07,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.00,0.07
94,76,45,2017-04-20,0.0,0.0,NaN,1.610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,77,45,2017-01-21,18.0,15.0,0.500,11.640,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.00
96,78,45,2013-02-20,135.0,13.3,0.518,1.820,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.00
97,124,47,2016-12-31,NaN,NaN,NaN,NaN,NaN,NaN,44.0,NaN,NaN,NaN,0.00,0.70
98,125,48,2016-12-31,NaN,4178.0,10.250,26.900,3.660,10.487,44.0,NaN,NaN,NaN,0.99,0.10
99,60,51,2013-04-24,197.0,0.0,0.655,0.829,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.00
100,57,52,2017-04-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13400.0,NaN,NaN
101,58,52,2017-02-11,91.0,110.0,0.557,0.570,0.380,NaN,0.0,NaN,NaN,7290.0,0.00,0.00
102,59,52,2015-11-20,22.0,72.5,0.224,4.800,3.440,NaN,0.0,NaN,NaN,7740.0,0.00,0.00
103,126,63,2016-12-31,1960.0,4166.0,10.200,26.730,3.500,NaN,44.0,NaN,NaN,NaN,0.00,0.70
104,127,66,2016-12-31,1960.0,4166.0,10.200,26.730,3.500,NaN,44.0,NaN,NaN,NaN,0.00,0.70
105,128,67,2016-12-31,NaN,4180.5,10.270,27.070,3.670,10.495,44.0,NaN,NaN,NaN,1.59,0.10

In [12]:
'''
CALCULATE AGE FACTOR WEIGHTED AVERAGE FOR EACH CONSTITUENT:

Age factor acknowledges fact that more recent samples are a better representation of facility pollutant discharge 
(i.e. sampling data) and housekeeping-operations (i.e. inspections) realities. But, historic data as a whole also tells part 
of story (i.e. we want to dampen whipsaw effects that may occur if we only considered most recent data).

AF = exp(-SampleRank)
SampleRank = Newest sample = 1
              Second Newest sample = 2
              ...
              nth Newest Sample = n (out of n samples)
'''
#calculate age factor weighted averages for each constituent of each facility.
#write these averages into a dataframe called pd_AFWFacExceedances
#use exceedance values in pd_FacExceedances
#we will process each facility separately. The results will be added to the pd_AFWFacExceedances dataframe
pd_AFWFacExceedances = pd.DataFrame() #make an empty dataframe.  we will append to it.
ShowCalculations = False
UnqFacIDs = pd_FacExceedances.Facility_ID.unique() #get unique facility IDs
for FacID in UnqFacIDs:
    pd_temp = pd_FacExceedances.loc[pd_FacExceedances['Facility_ID'] == FacID].set_index('sample_date') #write current fac's data to temp df
    pd_AFWFacExceedances = pd.concat([pd_AFWFacExceedances,EffLim.Calc_AFWtdExceedances(pd_temp,pollLS,ShowCalculations)]) #calculate age factor weighted averages
print ('Age Factor Weighted Averages:')
display(pd_AFWFacExceedances)

Age Factor Weighted Averages:

,Facility_ID,AFWtd_c_tss,AFWtd_c_turbidity,AFWtd_c_p,AFWtd_c_n,AFWtd_c_nn,AFWtd_c_an,AFWtd_c_og,AFWtd_c_cu,AFWtd_c_zn,AFWtd_c_fe,AFWtd_c_phmin,AFWtd_c_phmax
0,1,52.064543,19.729711,0.067223,1.296165,0.029425,NaN,0.000000,NaN,NaN,NaN,0.000000,0.093351
0,2,0.961758,3.745947,0.004876,0.637805,0.031165,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,3,696.752557,515.665239,1.231643,1.193739,0.687195,NaN,0.000000,44.093122,542.332084,NaN,0.000000,0.100000
0,4,NaN,49.764373,1.282323,1.405886,0.499160,0.074351,0.000000,63.327487,224.735333,NaN,0.009474,0.000000
0,5,180.960566,199.986459,1.752511,17.437221,0.004532,NaN,1.421297,NaN,NaN,NaN,0.000000,0.000000
0,6,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,81.689667,112.670680,NaN,0.000000,0.086681
0,7,NaN,15.400000,0.860000,3.290000,2.820000,0.103000,0.000000,16.000000,0.000000,NaN,0.000000,0.000000
0,8,14.732924,16.599986,0.691190,0.829885,0.006187,NaN,0.000000,NaN,NaN,NaN,0.000000,0.070236
0,9,NaN,4179.750000,10.260000,27.000000,3.666000,10.491500,44.000000,NaN,NaN,NaN,1.590000,0.100000
0,10,NaN,4178.000000,10.250000,26.900000,3.660000,10.487000,44.000000,NaN,NaN,NaN,0.990000,0.100000
0,11,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
0,12,NaN,4173.000000,10.170000,26.700000,3.640000,10.480000,44.000000,NaN,NaN,NaN,0.790000,0.000000
0,13,NaN,4178.000000,10.250000,26.900000,3.655000,10.490000,44.000000,NaN,NaN,NaN,0.990000,0.100000
0,14,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,14500.000000,0.000000,0.000000
0,15,1.201509,7.864125,0.152872,2.174979,0.101017,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,16,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
0,17,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
0,18,0.000000,12.800000,0.000000,0.323000,0.043000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,19,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
0,20,NaN,NaN,NaN,NaN,NaN,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
0,21,49.581809,69.211417,0.197012,0.758822,0.007648,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,22,0.000000,0.000000,0.000000,0.496000,0.016000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,23,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,18500.000000,0.000000,0.700000
0,24,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,4939.571691,0.000000,0.000000
0,25,NaN,NaN,NaN,NaN,NaN,NaN,10.768053,7.662373,109.236597,NaN,0.000000,0.000000
0,26,12.500000,19.400000,0.351000,2.127000,0.197000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.070000
0,27,43.568510,30.576732,1.132181,1.131914,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,28,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
0,29,336.807197,469.755775,1.674704,15.243243,1.075904,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,30,NaN,13.000000,0.148000,0.940000,0.250000,0.000000,0.000000,NaN,NaN,1650.000000,0.000000,0.000000
0,31,NaN,4178.000000,10.250000,26.900000,3.660000,10.487000,44.000000,NaN,NaN,NaN,0.990000,0.100000
0,35,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,0.118441
0,36,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,38,0.000000,0.000000,0.258000,2.260000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,39,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
0,42,28.238849,23.715705,0.198266,0.706055,0.179478,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,43,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,0.070000
0,45,16.559240,4.868334,0.504841,4.083533,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,47,NaN,NaN,NaN,NaN,NaN,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
0,48,NaN,4178.000000,10.250000,26.900000,3.660000,10.487000,44.000000,NaN,NaN,NaN,0.990000,0.100000
0,51,197.000000,0.000000,0.655000,0.829000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,52,72.443042,99.914697,0.467443,1.707622,1.202961,NaN,0.000000,NaN,NaN,11395.135998,0.000000,0.000000
0,63,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
0,66,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
0,67,NaN,4180.500000,10.270000,27.070000,3.670000,10.495000,44.000000,NaN,NaN,NaN,1.590000,0.100000

In [71]:
#calculate monthly runoff volumes in cubic feet for each facility.
#hold data in dataframe called pd_RunoffVols
import calendar

#get facility imperviousness and area. order by Facility_ID so it's given in same order as monthly rain data dataframe
q_facDat = session.query(Facility_Chars.id.label('Facility_ID'), 
                         Facility_Chars.Drainage_Area_Acres.label('Drn_Area'), 
                         Facility_Chars.Imperv.label('Imperv')).order_by('Facility_ID')
pd_facDat = pd.read_sql(q_facDat.statement,session.bind)

#get monthly rain data for each facility. order by facility_id so order matches facility data dataframe
q_rain = session.query(Facility_Chars.id.label('Facility_ID'), Facility_Monthly_Rain).filter(
    Facility_Chars.facility_monthly_rain_id == Facility_Monthly_Rain.id).order_by('Facility_ID')
pd_rainDat = pd.read_sql(q_rain.statement,session.bind)

#create a new dataframe to hold rain volumes
pd_RunoffVols = pd_facDat.loc[:,['Facility_ID']] #put facilities into the new dataframe
#now calculate volumes for each month:
for mo in range(1,13):
    pd_RunoffVols[calendar.month_name[mo]] = pd.DataFrame(pd_facDat['Drn_Area'] * pd_facDat['Imperv'] * pd_rainDat[calendar.month_name[mo]])
display(pd_RunoffVols)

,Facility_ID,January,February,March,April,May,June,July,August,September,October,November,December
0,1,325440.00000,369600.000000,388800.000000,275520.000000,173760.00000,154560.0000,158400.000000,152640.000000,188160.000000,286080.000000,368640.000000,432000.000000
1,2,87373.57253,63429.853135,62169.657377,26254.078284,33815.25283,24783.8499,24993.882527,20163.132122,27094.208789,67840.538287,90734.094551,87163.539904
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#CREATE COMBO BMPS USING BASE BMPS
#ALL POSSIBLE COMBOS WILL BE CREATED AND ADDED TO THE COMBO_BMPS TABLE
#MAXIMUM POLLUTANT REMOVAL RATES ARE DETERMINED BY IDENTIFYING 
#  THE BASE_BMP IN THE COMBO THAT PROVIDES THE HIGHEST REMOVAL RATE FOR A GIVEN POLLUTANT

import time
print ('get a coffee...this one takes a while!')
start_time = time.time()
CBMP_Eval.Make_ALL_bmp_base_option_combos()
session.commit()
print ('--- %s execution time in seconds ---' % (time.time() - start_time))

get a coffee...this one takes a while!
 Making BMP Combos of length: 1
 Find max pollutant removal rates for each BMP Combo of length:  1
  Made  13  combos
 Making BMP Combos of length: 2
 Find max pollutant removal rates for each BMP Combo of length:  2
  Made  78  combos
 Making BMP Combos of length: 3
 Find max pollutant removal rates for each BMP Combo of length:  3
  Made  286  combos
 Making BMP Combos of length: 4
 Find max pollutant removal rates for each BMP Combo of length:  4
  Made  715  combos
 Making BMP Combos of length: 5
 Find max pollutant removal rates for each BMP Combo of length:  5
  Made  1287  combos
 Making BMP Combos of length: 6
 Find max pollutant removal rates for each BMP Combo of length:  6
  Made  1716  combos
 Making BMP Combos of length: 7
 Find max pollutant removal rates for each BMP Combo of length:  7
  Made  1716  combos
 Making BMP Combos of length: 8
 Find max pollutant removal rates for each BMP Combo of length:  8
  Made  1287  combos
 Making BMP Combos of length: 9
 Find max pollutant removal rates for each BMP Combo of length:  9
  Made  715  combos
 Making BMP Combos of length: 10
 Find max pollutant removal rates for each BMP Combo of length:  10
  Made  286  combos
 Making BMP Combos of length: 11
 Find max pollutant removal rates for each BMP Combo of length:  11
  Made  78  combos
 Making BMP Combos of length: 12
 Find max pollutant removal rates for each BMP Combo of length:  12
  Made  13  combos
--- 53.03700017929077 execution time in seconds ---

In [11]:
'''
Identify the feasible bmp combinations for each facility
Use base bmp feasibility results for each facility.
Put results into the combo_bmp_feasibility_test_results table
'''
import itertools     #https://docs.python.org/3/library/itertools.html    
import pandas as pd

from sqlalchemy import and_

def _Make_bmp_fingerprint(base_BMP_components):
    #create fingerprint of the passed list of base_bmp_ids
    #fingerprint is just a | separated list of ids of the base bmps that make up the combo bmp
    #corresponds to bmp_options table's bmp_fingerprint field
    #FORMAT: |bmp_option_base_component_id||bmp_option_base_component_id| w/ id's given in ascending order
    fingerprint = '|' + '|'.join(str(id) + '|' for id in base_BMP_components)
    return fingerprint

def Eval_FacBMPCombo(pd_basebmps, myFacility, bmpCombo):
    '''
    input:
        pdbasebmps: pandas built from a BBMP_Eval.evalFacility_BaseBMP dictionary list
                    assme that pandas is passed in w/ index is set as base_bmp_id
        myFacility: SQLA fac_chars record
        bmpCombo: list of base_bmp_ids that make up this combo
    
    #retrieve previously computed combo removal rate
    #calculate combo cip and om cost, insert/update database
    #calculate wrs reduction, insert/update database

    #return as pandas    
    '''    
    #get combo bmp pollutant removal rates into pandas 
    q = session.query(Combo_BMPs.bmp_fingerprint, Combo_BMPs.id.label('combos_bmp_id'), PRR.id.label('PRR_id'),
          PRR.r_tss, PRR.r_turbidity, PRR.r_p, PRR.r_n, PRR.r_nn, PRR.r_an,
          PRR.r_og, PRR.r_cu, PRR.r_zn, PRR.r_fe, PRR.r_phmin, PRR.r_phmax
        ).filter(Combo_BMPs.bmp_fingerprint == _Make_bmp_fingerprint(bmpCombo)).filter(
        Combo_BMPs.bmp_option_removal_rate_id == PRR.id)  
    pd_rr = pd.read_sql(q.statement,session.bind) 

    #use information in pd_rr to get CBFTR_record - make new record if necessary
    myCBFTR = Base.metadata.tables['combo_bmp_feasibility_test_results']
    myCBFTR_id = SQLA_main.insertupdateRec(myCBFTR,{'facility_id':myFacility.id, 'combo_bmps_id':pd_rr['combos_bmp_id'][0]},
                and_(
        myCBFTR.c['facility_id'] == myFacility.id,
        myCBFTR.c['combo_bmps_id'] == pd_rr['combos_bmp_id'][0]
                    ))
    session.flush()
    
    print (myCBFTR_id)
    
    #calculate WRS reduction
#     myFac_exWRSData = session.query(
    
    

    #get costs in pandas
    sumCIP = sum(pd_basebmps.loc[bmp_id,'calc_cip_cost'] for bmp_id in bmpCombo)
    sumOM = sum(pd_basebmps.loc[bmp_id,'calc_om_cost'] for bmp_id in bmpCombo)
    pd_sums = pd.DataFrame([{'calc_cip_cost':sumCIP, 'calc_om_cost': sumOM}])

    #merge combo bmp's removal rates and costs into 1 dataframe
    return pd.concat([pd_rr, pd_sums], axis = 1)
    
    

def Eval_FacBMPOptions(myFacility):
    #a wrapper around Eval_FacBMPCombo
    print('\n***Evaluating feasible bmp combos for facility: ', aFac.Fac_Name, '***')
    print ('****Evaluating feasibile base bmps****')
    df = pd.DataFrame(BBMP_Eval.evalFacility_BaseBMP(aFac, False)).set_index('base_bmp_id')
    display (df)   
    print ('****These are the feasible base bmps. I\'ll use them to make combos:****')
    df = df.loc[df['is_feasible'] == 1]
    display (df)
    feas_ls = df.index #send feasible base bmp ids to list
#     print (feas_ls)
# from SQLA_DB_combo_bmps import Combo_BMPs
# from SQLA_DB_combo_bmp_feasibility_test_results import Combo_BMP_Feasibility_Test_Results as CBFTR
    for CBOLen in range (1, len(feas_ls)+1): #+1 so it's inclusive of last count
        for combo in  itertools.combinations(feas_ls,CBOLen):
            print ('Here is a summary of the combo: ', list(combo))
            display(Eval_FacBMPCombo(df,myFacility, list(combo)))

            
def Eval_All_FacBMPOptions():
    print ('Evaluating feasibile BMP Options for each facility:')
    for aFac in session.query(Facility_Chars):
        Eval_FacBMPOptions(aFac)
    
Eval_All_FacBMPOptions()
session.commit()

Evaluating feasibile BMP Options for each facility:

NameError: name 'aFac' is not defined

In [ ]:
# session.close()
# engine.dispose()

In [ ]:
# http://pythonhow.com/accessing-dataframe-columns-rows-and-cells/
import pandas as pd #import in pandas library
print ('#get csv data and read into pandas')
df1=pd.read_csv("http://pythonhow.com/wp-content/uploads/2016/01/Income_data.csv")
print (df1)
print ('#write new dataframe w/ index set to the "State" column in the csv')
df2=df1.set_index("State").copy()
print (df2)
print ('#extract a portion of the dataframe: States = Alaska to Arkansas; and Dates 2005:2007')
print (df2.loc["Alaska":"Arkansas","2005":"2007"])

print ('Get only certain States, using a list of states:')
getStates = ['Alaska', 'Arizona']
print (df2.loc[getStates])

print ('#slice a column:')
df2.loc[: , "2005"]
print ('get a cell:')
df2.loc['Alaska','2005']
print ('#get max of 2005 data')
print (df2.loc[:,'2005'].max())
print ('take 2005 column and put into list')
LS = df2['2005'].tolist() #this is a series. we use the .tolist() to convert from series to list
print (type(LS))

In [ ]:
df = pd.DataFrame({'col1' : [1.0] * 5, 
                   'col2' : [2.0] * 5, 
                   'col3' : [3.0] * 5 }, index = range(1,6),)
display(df)
df2 = pd.DataFrame({'col1' : [10.0] * 5, 
                    'col2' : [100.0] * 5, 
                    'col3' : [1000.0] * 5 }, index = range(1,6),)
display(df2)
df.mul(df2, 0) # element by element multiplication no problems

In [ ]:
import datetime

# xmin = datetime.datetime.strptime('1/1/2018', "%m/%d/%Y").date()
# xmax = datetime.datetime.strptime('5/6/2018', "%m/%d/%Y").date()

# xmin <= datetime.date(2018,1,5) <= xmax

#     Wet Season is from: January 1 through April 30 and November 1 through December 31
#     Dry Season is from: May 1 through October 31

SampleDate = datetime.date(2018,11,1)

#Wet Season 1:
if datetime.date(SampleDate.year, 1,1) <= SampleDate <= datetime.date(SampleDate.year, 4,30):
    print ('ws 1')
elif datetime.date(SampleDate.year, 5,1) <= SampleDate <= datetime.date(SampleDate.year, 10,31):
    print ('dry')
else:
    print ('ws 2')
    
    
import numpy as np    
# np.max([float('nan'),0])
np.max([0,float('nan')])

if math.isnan(10)

In [ ]:
#import the pandas library
import pandas as pd

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

display (df)

display (df.groupby('Team').groups)


import numpy as np


grouped = df.groupby('Year')
print (grouped['Points'].agg(np.max))

In [ ]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [0.1, 0.2]},
                      index=['a', 'b'])
for idx in df.index:
    print (idx)
    print (df.loc[idx]['col2'])

In [ ]:
t1 = True
t2 = True
print (t1 and t2)