'''
OBJECTIVES:
1. Build WRS system
2. Build Structural BMP Solution evaluator
3. Identify minimum BMP solution front for:
   individual facilities
   facilities w/in departments
   facilities w/in city
   
PYTHON VERSION: 3.6.3  
SQLALCHEMY VERSION: 1.1.13

'''

In [1]:
import winsound
import pandas as pd
'''
Define basic SQLAlchemy items:
    declarative base object
    connection object
    session object
    DB tables
'''
#SQLAlchemy library items:
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String
from sqlalchemy import update, insert
from sqlalchemy import and_ #used in query.filter() to joing multiple where clauses
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship #http://docs.sqlalchemy.org/en/latest/orm/basic_relationships.html#relationship-patterns
from sqlalchemy import inspect

from SQLA_Base import Base #module containing declarative_base
from SQLA_conn_man import session, engine #module handling db and connection creation 

#Table definitions as SQLA classes:
from SQLA_DB_base_bmp_feasibility_test_results import Base_BMP_Feasibility_Test_Results as BBFTR
from SQLA_DB_base_bmp_feasibility_test_definitions import Base_BMP_Feasibility_Test_Definitions as BBFTD
from SQLA_DB_base_bmps import Base_BMPs
from SQLA_DB_combo_bmps import Combo_BMPs
from SQLA_DB_combo_bmp_feasibility_test_results import Combo_BMP_Feasibility_Test_Results as CBFTR
from SQLA_DB_expressions import Expressions
from SQLA_DB_facility_chars import Facility_Chars
from SQLA_DB_facility_monthly_rain import Facility_Monthly_Rain
from SQLA_DB_facility_risks import Facility_Risks
from SQLA_DB_facility_type_has_nel import Facility_Type_Has_NEL
from SQLA_DB_facility_types import Facility_Types
from SQLA_DB_feasibility_test_questions import Feasibility_Test_Questions as FTQ
from SQLA_DB_nel_sample_classes import NEL_Sample_Classes
from SQLA_DB_existing_pollutant_concentrations import Existing_Pollutant_Concentrations as ExPollConcs
from SQLA_DB_pollutant_removal_rates import Pollutant_Removal_Rates as PRR
from SQLA_DB_wrs_pollutant_risks import WRS_Pollutant_Risks
Base.metadata.create_all(engine, checkfirst=True) #create SQLA classes

'''
Dictionary of "SQLAlchemy where clause lambda functions" that importCSV uses to test record uniqueness.
used as the where clause in sqlalchemy queries, updates and deletes 
Form:
    {TableName:Lambda Function, TableName:Lambda Function, ...}
    
    TableName is the table name we want to define uniqueness test for
    Lambda Function is a SQLAlchemy query used to test record uniqueness. The function can take on any form 
        but must be made to evaluate the CSV row passed as a dictionary (CSVRowDict in this explanation):
        CSVRowDict: {FieldName:CSVColValue, DBTableFieldName:CSVColValue...} 
            Where: DBTableFieldName is the name of the field associated with the value at CSVColValue on the current row
                   CSVColValue: a value in the CSV's current row+column corresponding to the DBTableFieldName 
        *this assumes that field names are unique across table. if not, then method fails (maybe need to extend method?)
    FALSE: indicates that db table doesn't impose uniqueness on its records (other than its record id being unique)
        
e.g.: lambda myRowVal: Base.metadata.tables['people'].c['name'] == CSVRowDict['name']
        using lambda function in query will search for CSVRowDict's value for 'name' in the table people, field name 
if table has no record uniqueness requirement, then enter: TableName:False
'''
unqTests = {
    'facility_chars': lambda CSVRowDict: Base.metadata.tables['facility_chars'].c['Fac_Name'] == CSVRowDict['Fac_Name'],
    'facility_monthly_rain': False, #DB schema does not impose uniqueness on records in this table
    'facility_type_has_nel': False,
    'facility_risks': False,
    'facility_types': lambda CSVRowDict: Base.metadata.tables['facility_types'].c['Fac_Type'] == CSVRowDict['Fac_Type'],
    'nel_sample_classes': lambda CSVRowDict: Base.metadata.tables['nel_sample_classes'].c['nel_column']==CSVRowDict['nel_column'],
    'existing_pollutant_concentrations': False, #uniqueness not imposed for records in this table.
    'wrs_pollutant_risks': False #DB schema does not impose uniqueness on records in this table
}

import SQLA_main as SQLA_main #import main SQLAlchemy functions

Clearing old DB

In [2]:
'''
Define other custom modules

'''
import mod_Base_BMP_Eval as BBMP_Eval
import mod_Combo_BMP_Eval as CBMP_Eval
import mod_EffluentLimit as EffLim
import mod_expression as Expr
import mod_importSpecial as importSpecial #special import functions are defined here
import mod_importCSV as importCSV #generic CSV importer ****IMPORTANT NOTE: function assumes csv in the utf-8-sig file format. weird things happen if its not in this format!!!

In [3]:
#import feasibillity questions, build feasibility expressions
importSpecial.importFeasibilityQuestionsCSV('Input_Files\\feasibility_test_questions.csv') 

#import base bmp information including:
  #1. imports definitions for cip costs, o&m costs, and BMP sizing to the expressions table
  #2. imports pollutant removal rates into pollutant_removal_rates table
  #3. creates a record in the base_bmps table using (1) and (2)
  #4. feasibility tests
importSpecial.importBaseBMPsCSV('Input_Files\\bmp_lego_piece.csv') 

#IMPORT BASIC FACILITY CHARS:
    #!!!!IMPORTANT!!!! This import must occur before other facility specific data is imported!
print ('\nImporting facility characteristics:')
importCSV.importCSV('Input_Files\\facility_chars.csv', unqTests)

#IMPORT PBP Appendix A1 data
print ('\nImporting PBP Appendix A1 data:')
importCSV.importCSV('Input_Files\\pbp_appxa1.csv', unqTests)

#IMPORT FACILITY RAINFALL EXTRACTED FROM http://rainfall.geography.hawaii.edu/downloads.html
print ('\nImporting Facility Rainfall Data:')
importCSV.importCSV('Input_Files\\FacilityRainfallData.csv', unqTests)

#IMPORT EFFLUENT LIMITS EXISTANCE FOR FACILITY TYPES: (either by Priority Based Plan, Table 3 or as City operational assignment)
#IF CSV HEADRS SETUP CORRECTLY, THEN THIS INSERTS NEL EXISTANCE DATA (0 OR 1) TO WRS_POLLUTANT TABLE 
#AND USES THE FACILITY_TYPE_HAS_NEL TO ASSOCIATE RECORD WITH FACILITY TYPE
print ('\nImporting Facility Type Has Effluent Limits:') #import into wrs_pollutant_risks table
importCSV.importCSV('Input_Files\\nel_exists_facility_types.csv', unqTests)

#IMPORT NEL CLASSIFICATION DATA (from PBP Appendix L)
print ('\nImporting NEL Classes')
importCSV.importCSV('Input_Files\\nel_pbp_appxl.csv', unqTests)

#IMPORT FACILITY RISKS:
print ('\nImporting Facility Risks')
#for future implementation:
    #The current process inserts fac risk and update existing_fac_char_id in Facility_chars table. this process thus creates
#dead records. a more sophisticated approach using sophisticated lambda function in unqTests would fix this
importCSV.importCSV('Input_Files\\facility_risks.csv', unqTests)

# #IMPORT FACILITY SAMPLING DATA
 #!!!IMPORTANT!!!! For now, we make none detects = 0 BUT this must be changed to detection limit, per DOH guidance.
print ('\nImporting Facilty Sampling data:')
importCSV.importCSV('Input_Files\\sample_data.csv', unqTests)


# for now, since we're developing, delete out all except 1st 2 facilities.
n = 5
session.query(ExPollConcs).filter(ExPollConcs.facility_id >n).delete(synchronize_session = False) #http://docs.sqlalchemy.org/en/latest/orm/query.html#sqlalchemy.orm.query.Query.delete
session.query(Facility_Chars).filter(Facility_Chars.id >n).delete(synchronize_session = False) #http://docs.sqlalchemy.org/en/latest/orm/query.html#sqlalchemy.orm.query.Query.delete
session.commit #we chose not to sync session so need to commit before proceeding to requery or else you may get unpredictable resutls

session.commit()
winsound.Beep(250,1000)

Reading csv for import to Feasibility Questions

Reading csv record: Feas-1

Reading csv record: Feas-2

Reading csv record: Feas-3

Reading csv record: Feas-4

Reading csv record: Feas-5

Reading csv record: Feas-6

Reading csv record: Feas-7

Reading csv record: Feas-8

Reading csv record: Feas-9

Reading csv record: Feas-10

Reading csv record: Feas-11

Reading csv record: Feas-12

Reading csv record: Feas-13

Reading csv record: Feas-14

Reading csv record: Feas-15

Reading csv record: Feas-16

Reading csv record: Feas-17

Reading csv record: Feas-18

Reading csv record: Feas-19

Reading csv record: Feas-20

Reading csv record: Feas-21
Reading csv for import to base bmp tables

Reading csv record: Hydrodynamic Separation
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 1
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  1
Added feasibility test def as record:  2
Added feasibility test def as record:  3
Added feasibility test def as record:  4

Reading csv record: Enhanced Media Filtration (Replaceable Cartridge)
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 2
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  5
Added feasibility test def as record:  6
Added feasibility test def as record:  7
Added feasibility test def as record:  8

Reading csv record: Biofiltration (Vault)
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 3
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  9
Added feasibility test def as record:  10
Added feasibility test def as record:  11
Added feasibility test def as record:  12

Reading csv record: Media Filtration (Pressure)
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 4
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  13
Added feasibility test def as record:  14
Added feasibility test def as record:  15
Added feasibility test def as record:  16

Reading csv record: Bioinfiltration / Bioretention
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 5
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  17
Added feasibility test def as record:  18
Added feasibility test def as record:  19
Added feasibility test def as record:  20
Added feasibility test def as record:  21
Added feasibility test def as record:  22
Added feasibility test def as record:  23
Added feasibility test def as record:  24

Reading csv record: Inlet Insert Unit
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 6
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  25

Reading csv record: Sand Filtration
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 7
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  26
Added feasibility test def as record:  27
Added feasibility test def as record:  28
Added feasibility test def as record:  29

Reading csv record: Coagulation Enhanced Treatment
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 8
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  30
Added feasibility test def as record:  31
Added feasibility test def as record:  32
Added feasibility test def as record:  33

Reading csv record: Roofing
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 9
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  34

Reading csv record: Paving and Curbing
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 10
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  35

Reading csv record: Oil and Water Separators
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 11
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  36
Added feasibility test def as record:  37
Added feasibility test def as record:  38
Added feasibility test def as record:  39
Added feasibility test def as record:  40

Reading csv record: Vegetative Swales
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 12
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  41
Added feasibility test def as record:  42
Added feasibility test def as record:  43
Added feasibility test def as record:  44
Added feasibility test def as record:  45
Added feasibility test def as record:  46

Reading csv record: Detention
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 13
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  47
Added feasibility test def as record:  48
Added feasibility test def as record:  49

Importing facility characteristics:
importing data in CSV rows...
imported records in  2  rows
associating records...

Importing PBP Appendix A1 data:
importing data in CSV rows...
imported records in  238  rows
associating records...

Importing Facility Rainfall Data:
importing data in CSV rows...
imported records in  238  rows
associating records...

Importing Facility Type Has Effluent Limits:
importing data in CSV rows...
imported records in  8  rows
associating records...

Importing NEL Classes
importing data in CSV rows...
imported records in  9  rows
associating records...

Importing Facility Risks
importing data in CSV rows...
imported records in  238  rows
associating records...

Importing Facilty Sampling data:
importing data in CSV rows...
imported records in  110  rows
associating records...

In [4]:
# EVALUATE BASE BMP FEASIBILITY at each facility
# Write results to the base_bmp_feasibility_test_results table.

print('\n******Evaluating Base BMP feasibility at facilities.******')
ShowCalculations = False #flag indicating if steps should be outputted
Expr.ResetEvalErrorCount() #RESET EXPRESION EVALUATOR ERROR COUNT
for aFac in session.query(Facility_Chars):
    if ShowCalculations: print ('\n***Evaluating base bmp feasibiilty tests for facility: ', aFac.Fac_Name), ' ***'
    myBMPs = session.query(Base_BMPs)
    for aBMP in myBMPs:
        if ShowCalculations:print ('\nEvaluating feasibility of base_bmp: ', aBMP.bmp_name, ' ID: ', aBMP.id)
        BBMP_Eval.Eval_base_bmp_feasibility_tests(aFac, aBMP, False)
session.commit
winsound.Beep(250,1000)
print ('*****************************************************************')
print ('* Completed evaluating Base BMP feasibility                     *')
if Expr.CountEvalErrors() >0:
    print (Expr.CountEvalErrors(), ' errors were encountered. Review output to identify location(s)')
    print ('Hint: expression evaluation error lines are prefixed by: FAULT!!!! Error occured while evaluating expression:')
else:
    print ('No errors detected.')
print ('*****************************************************************')

******Evaluating Base BMP feasibility at facilities.******
*****************************************************************
* Completed evaluating Base BMP feasibility                     *
81  errors were encountered. Review output to identify location(s)
Hint: expression evaluation error lines are prefixed by: FAULT!!!! Error occured while evaluating expression:
*****************************************************************

In [5]:
#Estimate Pollutant Effluent Limits
'''
Estimate the Numeric Effluent Limits (NELs) for each facility.
Return wet and dry season NELs in 2 separate dataframes:
    pd_FacsNELs_Wet & pd_FacsNELs_Dry
Estimate NELs using the EffLim module's GetNELs function call.
 The GetNELs function call will differentiate between wet and dry season limits
 (if limits are the same between wet & dry season, then the same limit will be placed into the wet and dry
  dataframes.)
 The GetNEls function calculates a pollutant constituent NEL using this formula:
    NEL = fTypeHas_NEL * SampleClass_NEL
    Where:
      fTypeHas_NEL is a [0,1] value from PBP Table 3, based on facility type (stored in SQLA_DB_facility_type_has_nel)
      SampleClass_NEL is pollutant concentration based on facility's sample class, based on PBP Appendix L
'''
pd_FacsNELs_Wet, pd_FacsNELs_Dry = pd.DataFrame(),  pd.DataFrame() #initialize wet and dry season nel dataframes 
for recFac in session.query(Facility_Chars): #do the following for each facility:
    wet,dry = EffLim.GetNELs(recFac,True) #Get Wed & Dry NELs by calculating: NEL = fTypeHas_NEL * SampleClass_NEL
    pd_FacsNELs_Wet = pd.concat([pd_FacsNELs_Wet, wet]) #write wet NELs to pd_FacsNELs_Wet
    pd_FacsNELs_Dry = pd.concat([pd_FacsNELs_Dry, dry]) #write dry NELs to pd_FacsNELs_Dry

print('Wet NELs:')
display(pd_FacsNELs_Wet)
print('Dry NELs:')
display(pd_FacsNELs_Dry)

Summary of Wet & Dry Season NEL Determination for:  Kalihi-Palama Bus & Paratransit Facility

,wrs_tss,wrs_turbidity,wrs_p,wrs_n,wrs_nn,wrs_an,wrs_og,wrs_cu,wrs_zn,wrs_fe,wrs_phmin,wrs_phmax
description,,,,,,,,,,,,
Dry Season NELs* (Col. I):,30.0,5.5,0.06,0.38,0.09,NaN,15.0,6.0,22.0,1000.0,5.5,8.0
Wet Season NELs* (Col. II):,50.0,15.0,0.10,0.52,0.18,NaN,15.0,6.0,22.0,1000.0,5.5,8.0
NEL Exists**:,1.0,1.0,1.00,1.00,1.00,1.0,1.0,0.0,0.0,0.0,1.0,1.0
Facility Dry Season NELs:,30.0,5.5,0.06,0.38,0.09,NaN,15.0,NaN,NaN,NaN,5.5,8.0
Facility Wet Season NELs:,50.0,15.0,0.10,0.52,0.18,NaN,15.0,NaN,NaN,NaN,5.5,8.0

   Notes: *Per PBP Appendix L; **Facility Type Requires this NEL (0: No; 1: Yes)

Summary of Wet & Dry Season NEL Determination for:  Pearl City Bus Facility

,wrs_tss,wrs_turbidity,wrs_p,wrs_n,wrs_nn,wrs_an,wrs_og,wrs_cu,wrs_zn,wrs_fe,wrs_phmin,wrs_phmax
description,,,,,,,,,,,,
Dry Season NELs* (Col. I):,30.0,5.5,0.06,0.38,0.09,NaN,15.0,6.0,22.0,1000.0,5.5,8.0
Wet Season NELs* (Col. II):,50.0,15.0,0.10,0.52,0.18,NaN,15.0,6.0,22.0,1000.0,5.5,8.0
NEL Exists**:,1.0,1.0,1.00,1.00,1.00,1.0,1.0,0.0,0.0,0.0,1.0,1.0
Facility Dry Season NELs:,30.0,5.5,0.06,0.38,0.09,NaN,15.0,NaN,NaN,NaN,5.5,8.0
Facility Wet Season NELs:,50.0,15.0,0.10,0.52,0.18,NaN,15.0,NaN,NaN,NaN,5.5,8.0

   Notes: *Per PBP Appendix L; **Facility Type Requires this NEL (0: No; 1: Yes)

Summary of Wet & Dry Season NEL Determination for:  Honouliuli Wastewater Treatment Plant

,wrs_tss,wrs_turbidity,wrs_p,wrs_n,wrs_nn,wrs_an,wrs_og,wrs_cu,wrs_zn,wrs_fe,wrs_phmin,wrs_phmax
description,,,,,,,,,,,,
Dry Season NELs* (Col. I):,30.0,5.5,0.06,0.38,0.09,NaN,15.0,6.0,22.0,1000.0,5.5,8.0
Wet Season NELs* (Col. II):,50.0,15.0,0.10,0.52,0.18,NaN,15.0,6.0,22.0,1000.0,5.5,8.0
NEL Exists**:,1.0,1.0,1.00,1.00,1.00,1.0,1.0,1.0,1.0,0.0,1.0,1.0
Facility Dry Season NELs:,30.0,5.5,0.06,0.38,0.09,NaN,15.0,6.0,22.0,NaN,5.5,8.0
Facility Wet Season NELs:,50.0,15.0,0.10,0.52,0.18,NaN,15.0,6.0,22.0,NaN,5.5,8.0

   Notes: *Per PBP Appendix L; **Facility Type Requires this NEL (0: No; 1: Yes)

Summary of Wet & Dry Season NEL Determination for:  Sand Island Wastewater Treatment Plant

,wrs_tss,wrs_turbidity,wrs_p,wrs_n,wrs_nn,wrs_an,wrs_og,wrs_cu,wrs_zn,wrs_fe,wrs_phmin,wrs_phmax
description,,,,,,,,,,,,
Dry Season NELs* (Col. VII):,NaN,3.0,0.05,0.35,0.02,0.013,15.0,2.9,95.0,1000.0,7.0,8.6
Wet Season NELs* (Col. VII):,NaN,3.0,0.05,0.35,0.02,0.013,15.0,2.9,95.0,1000.0,7.0,8.6
NEL Exists**:,1.0,1.0,1.00,1.00,1.00,1.000,1.0,1.0,1.0,0.0,1.0,1.0
Facility Dry Season NELs:,NaN,3.0,0.05,0.35,0.02,0.013,15.0,2.9,95.0,NaN,7.0,8.6
Facility Wet Season NELs:,NaN,3.0,0.05,0.35,0.02,0.013,15.0,2.9,95.0,NaN,7.0,8.6

   Notes: *Per PBP Appendix L; **Facility Type Requires this NEL (0: No; 1: Yes)

Summary of Wet & Dry Season NEL Determination for:  Keehi Refuse Transfer Station

,wrs_tss,wrs_turbidity,wrs_p,wrs_n,wrs_nn,wrs_an,wrs_og,wrs_cu,wrs_zn,wrs_fe,wrs_phmin,wrs_phmax
description,,,,,,,,,,,,
Dry Season NELs* (Col. I):,30.0,5.5,0.06,0.38,0.09,NaN,15.0,6.0,22.0,1000.0,5.5,8.0
Wet Season NELs* (Col. II):,50.0,15.0,0.10,0.52,0.18,NaN,15.0,6.0,22.0,1000.0,5.5,8.0
NEL Exists**:,1.0,1.0,1.00,1.00,1.00,1.0,1.0,0.0,0.0,0.0,1.0,1.0
Facility Dry Season NELs:,30.0,5.5,0.06,0.38,0.09,NaN,15.0,NaN,NaN,NaN,5.5,8.0
Facility Wet Season NELs:,50.0,15.0,0.10,0.52,0.18,NaN,15.0,NaN,NaN,NaN,5.5,8.0

   Notes: *Per PBP Appendix L; **Facility Type Requires this NEL (0: No; 1: Yes)
Wet NELs:

,wrs_tss,wrs_turbidity,wrs_p,wrs_n,wrs_nn,wrs_an,wrs_og,wrs_cu,wrs_zn,wrs_fe,wrs_phmin,wrs_phmax
Facility_ID,,,,,,,,,,,,
1,50.0,15.0,0.10,0.52,0.18,NaN,15.0,NaN,NaN,NaN,5.5,8.0
2,50.0,15.0,0.10,0.52,0.18,NaN,15.0,NaN,NaN,NaN,5.5,8.0
3,50.0,15.0,0.10,0.52,0.18,NaN,15.0,6.0,22.0,NaN,5.5,8.0
4,NaN,3.0,0.05,0.35,0.02,0.013,15.0,2.9,95.0,NaN,7.0,8.6
5,50.0,15.0,0.10,0.52,0.18,NaN,15.0,NaN,NaN,NaN,5.5,8.0

Dry NELs:

,wrs_tss,wrs_turbidity,wrs_p,wrs_n,wrs_nn,wrs_an,wrs_og,wrs_cu,wrs_zn,wrs_fe,wrs_phmin,wrs_phmax
Facility_ID,,,,,,,,,,,,
1,30.0,5.5,0.06,0.38,0.09,NaN,15.0,NaN,NaN,NaN,5.5,8.0
2,30.0,5.5,0.06,0.38,0.09,NaN,15.0,NaN,NaN,NaN,5.5,8.0
3,30.0,5.5,0.06,0.38,0.09,NaN,15.0,6.0,22.0,NaN,5.5,8.0
4,NaN,3.0,0.05,0.35,0.02,0.013,15.0,2.9,95.0,NaN,7.0,8.6
5,30.0,5.5,0.06,0.38,0.09,NaN,15.0,NaN,NaN,NaN,5.5,8.0

In [6]:
import pandas as pd
import numpy as np
import math
import datetime

In [7]:
#let's work on calculating exceedance values

import mod_EffluentLimit as EffLim


###### stuff above this line should go into a module

#get all sampling data
q = session.query(ExPollConcs.id, ExPollConcs.facility_id.label('Facility_ID'), ExPollConcs.sample_date, 
        ExPollConcs.c_tss,
        ExPollConcs.c_turbidity,
        ExPollConcs.c_p,
        ExPollConcs.c_n,
        ExPollConcs.c_nn,
        ExPollConcs.c_an,
        ExPollConcs.c_og,
        ExPollConcs.c_cu,
        ExPollConcs.c_zn,
        ExPollConcs.c_fe,
        ExPollConcs.c_phmin,
        ExPollConcs.c_phmax  
         ).order_by(ExPollConcs.facility_id) #.filter(ExPollConcs.facility_id == FacID)
pd_Concs = pd.read_sql(q.statement,session.bind) 
#tidy up the sampling data
from datetime import datetime
pd_Concs['sample_date'] = pd.to_datetime(pd_Concs['sample_date'], format="%m/%d/%Y")
pd_Concs = pd_Concs.applymap(lambda x: float('nan') if x is None else x) #assign NaN values to any None element
print ('Sampled Concentrations')
display(pd_Concs)

pollLS = ['tss', 'turbidity', 'p', 'n', 'nn', 'an', 'og', 'cu', 'zn', 'fe', 'phmin', 'phmax'] #list of pollutant constituants we're trying to address

#for each pollutant constituent, do the Exceedance Calculation = max(0,(Constituent Concentration - NEL))
# if no exceedance, then report 0. report NaN sample result is NaN
pd_FacExceedances = pd.DataFrame() #make an empty dataframe.  we will append to it.
for Facs in session.query(Facility_Chars.id).order_by(Facility_Chars.id):
    FacID = Facs[0]
    pd_temp = pd_Concs.loc[pd_Concs['Facility_ID'] == FacID] #slice facility id rows into a temp dataframe
    pd_temp.is_copy = False #acknowledge that pd_temp is NOT a copy of pd_Concs. but intended to be treated as new dataframe
    for Constituent in pollLS:
        pd_temp['c_' + Constituent]  = pd_Concs.apply(lambda row: #for each row in pd_Concs:
                                 EffLim.ExceedanceCalc(row, Constituent, FacID, pd_FacsNELs_Wet, pd_FacsNELs_Dry, True), axis = 1)
    pd_FacExceedances = pd.concat([pd_FacExceedances,pd_temp])
print('Concentrations in excess of wet/dry season NELs')
display(pd_FacExceedances)

Sampled Concentrations

,id,Facility_ID,sample_date,c_tss,c_turbidity,c_p,c_n,c_nn,c_an,c_og,c_cu,c_zn,c_fe,c_phmin,c_phmax
0,35,1,2017-04-19,122.0,NaN,NaN,2.430,NaN,NaN,NaN,NaN,NaN,NaN,7.00,7.00
1,36,1,2017-02-11,59.0,13.0,0.097,0.580,NaN,NaN,NaN,NaN,NaN,NaN,8.30,8.30
2,37,1,2016-12-04,80.0,71.2,0.300,0.910,0.120,0.141,0.0,NaN,NaN,NaN,8.20,8.20
3,38,1,2016-06-17,83.0,81.4,0.250,0.940,0.200,0.060,0.0,NaN,NaN,NaN,6.92,6.92
4,39,1,2015-02-20,33.5,17.5,0.176,1.830,0.190,1.090,5.7,NaN,NaN,NaN,8.54,8.54
5,40,1,2014-04-13,14.0,8.5,0.244,2.037,0.247,0.556,4.7,NaN,NaN,NaN,6.64,6.64
6,41,1,2013-03-09,163.0,24.4,0.155,1.199,0.239,0.073,5.0,NaN,NaN,NaN,8.09,8.09
7,80,2,2017-04-20,NaN,13.0,NaN,0.780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,81,2,2017-01-21,0.0,31.0,0.100,1.580,0.000,0.418,0.0,NaN,NaN,NaN,7.20,7.20
9,82,2,2016-05-05,7.0,4.9,0.066,2.672,0.212,0.416,0.0,NaN,NaN,NaN,6.83,6.83
10,83,2,2014-06-03,18.5,3.3,0.075,1.136,0.116,0.100,4.8,NaN,NaN,NaN,7.26,7.26
11,84,2,2013-03-09,80.0,7.8,0.167,0.761,0.061,0.155,4.8,NaN,NaN,NaN,7.57,7.57
12,20,3,2017-02-11,677.0,720.0,1.500,1.650,1.120,0.194,0.0,17.0,24.0,NaN,8.10,8.10
13,21,3,2017-02-11,910.0,105.0,0.300,1.080,0.520,0.121,4.0,58.0,730.0,NaN,8.10,8.10
14,22,3,2013-04-14,303.0,16.0,0.874,1.887,0.097,0.050,5.6,28.6,114.0,NaN,8.10,8.10
15,88,4,2017-04-19,NaN,45.0,0.480,1.680,0.570,0.081,NaN,30.6,NaN,NaN,NaN,NaN
16,89,4,2017-04-19,NaN,47.0,0.480,1.450,0.470,0.070,NaN,86.0,416.0,NaN,NaN,NaN
17,90,4,2017-01-24,NaN,90.0,0.500,2.190,0.520,0.074,NaN,36.5,NaN,NaN,NaN,NaN
18,91,4,2017-01-24,124.0,66.0,0.570,1.940,0.540,0.090,0.0,39.0,167.0,NaN,7.70,7.70
19,92,4,2016-12-04,7.0,7.2,10.300,0.950,0.200,0.083,0.0,13.3,31.4,NaN,8.30,8.30
20,93,4,2016-05-14,52.0,31.1,0.281,2.489,0.309,0.220,0.0,34.4,220.0,NaN,6.89,6.89
21,94,4,2015-02-20,16.0,31.7,0.227,1.412,0.342,0.050,5.1,29.2,146.0,NaN,7.88,7.88
22,95,4,2013-03-24,6.0,7.8,0.102,1.021,0.281,0.094,4.8,17.2,47.1,NaN,8.26,8.26
23,62,5,2017-01-24,249.0,46.0,2.300,15.850,0.000,NaN,4.0,NaN,NaN,NaN,NaN,NaN
24,63,5,2016-12-08,240.0,767.0,0.137,27.250,0.050,2.840,21.0,NaN,NaN,NaN,6.40,6.40
25,64,5,2016-05-25,89.5,13.2,2.920,14.542,0.142,0.714,9.9,NaN,NaN,NaN,6.40,6.40
26,65,5,2013-03-09,132.0,53.0,2.530,0.350,0.050,0.112,5.5,NaN,NaN,NaN,6.01,6.01

Concentrations in excess of wet/dry season NELs

,id,Facility_ID,sample_date,c_tss,c_turbidity,c_p,c_n,c_nn,c_an,c_og,c_cu,c_zn,c_fe,c_phmin,c_phmax
0,35,1,2017-04-19,72.0,NaN,NaN,1.910,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
1,36,1,2017-02-11,9.0,0.0,0.000,0.060,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.30
2,37,1,2016-12-04,30.0,56.2,0.200,0.390,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.20
3,38,1,2016-06-17,53.0,75.9,0.190,0.560,0.110,NaN,0.0,NaN,NaN,NaN,0.00,0.00
4,39,1,2015-02-20,0.0,2.5,0.076,1.310,0.010,NaN,0.0,NaN,NaN,NaN,0.00,0.54
5,40,1,2014-04-13,0.0,0.0,0.144,1.517,0.067,NaN,0.0,NaN,NaN,NaN,0.00,0.00
6,41,1,2013-03-09,113.0,9.4,0.055,0.679,0.059,NaN,0.0,NaN,NaN,NaN,0.00,0.09
7,80,2,2017-04-20,NaN,0.0,NaN,0.260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,81,2,2017-01-21,0.0,16.0,0.000,1.060,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.00
9,82,2,2016-05-05,0.0,0.0,0.006,2.292,0.122,NaN,0.0,NaN,NaN,NaN,0.00,0.00
10,83,2,2014-06-03,0.0,0.0,0.015,0.756,0.026,NaN,0.0,NaN,NaN,NaN,0.00,0.00
11,84,2,2013-03-09,30.0,0.0,0.067,0.241,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.00
12,20,3,2017-02-11,627.0,705.0,1.400,1.130,0.940,NaN,0.0,11.0,2.0,NaN,0.00,0.10
13,21,3,2017-02-11,860.0,90.0,0.200,0.560,0.340,NaN,0.0,52.0,708.0,NaN,0.00,0.10
14,22,3,2013-04-14,253.0,1.0,0.774,1.367,0.000,NaN,0.0,22.6,92.0,NaN,0.00,0.10
15,88,4,2017-04-19,NaN,42.0,0.430,1.330,0.550,0.068,NaN,27.7,NaN,NaN,NaN,NaN
16,89,4,2017-04-19,NaN,44.0,0.430,1.100,0.450,0.057,NaN,83.1,321.0,NaN,NaN,NaN
17,90,4,2017-01-24,NaN,87.0,0.450,1.840,0.500,0.061,NaN,33.6,NaN,NaN,NaN,NaN
18,91,4,2017-01-24,NaN,63.0,0.520,1.590,0.520,0.077,0.0,36.1,72.0,NaN,0.00,0.00
19,92,4,2016-12-04,NaN,4.2,10.250,0.600,0.180,0.070,0.0,10.4,0.0,NaN,0.00,0.00
20,93,4,2016-05-14,NaN,28.1,0.231,2.139,0.289,0.207,0.0,31.5,125.0,NaN,0.11,0.00
21,94,4,2015-02-20,NaN,28.7,0.177,1.062,0.322,0.037,0.0,26.3,51.0,NaN,0.00,0.00
22,95,4,2013-03-24,NaN,4.8,0.052,0.671,0.261,0.081,0.0,14.3,0.0,NaN,0.00,0.00
23,62,5,2017-01-24,199.0,31.0,2.200,15.330,0.000,NaN,0.0,NaN,NaN,NaN,NaN,NaN
24,63,5,2016-12-08,190.0,752.0,0.037,26.730,0.000,NaN,6.0,NaN,NaN,NaN,0.00,0.00
25,64,5,2016-05-25,59.5,7.7,2.860,14.162,0.052,NaN,0.0,NaN,NaN,NaN,0.00,0.00
26,65,5,2013-03-09,82.0,38.0,2.430,0.000,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.00

In [21]:
'''
CALCULATE AGE FACTOR WEIGHTED AVERAGE FOR EACH CONSTITUENT:

Age factor acknowledges fact that more recent samples are a better representation of facility pollutant discharge 
(i.e. sampling data) and housekeeping-operations (i.e. inspections) realities. But, historic data as a whole also tells part 
of story (i.e. we want to dampen whipsaw effects that may occur if we only considered most recent data).

AF = exp(-SampleRank)
SampleRank = Newest sample = 1
              Second Newest sample = 2
              ...
              nth Newest Sample = n (out of n samples)
'''
import numpy as np
import math



def Calc_AFWtdExceedances(pd_FacExceedances, ShowCalculations):
    # group dataframe by date
    grouped = pd_FacExceedances.groupby('sample_date')
    #make age factored exceedence dataframe. Only include max concentration for each of the facility's sample date
    pd_FacExceedances= pd.DataFrame(grouped.agg(np.max)) #write max concs for each date to the pd_AFFacExeedances dataframe.
    #establish sorted order. we want most recent data to be assigned lowest rank
    pd_FacExceedances = pd_FacExceedances.sort_index(ascending=False) #sort by date, which is currently the data frame's index. most recent at top

    #add facility id and sample date to a new dataframe called pd_AFFAcExceedances, which will hold AF related calcs for the concs
    #as we calc data for each conc, we'll add it to this dataframe
    pd_AFFacExceedances = pd_FacExceedances.loc[:,['Facility_ID']]
    for Constituent in pollLS:
        pd_temp = pd_FacExceedances.loc[:,['c_' + Constituent]] #copy the current pollutant exceedance value into a temp dataframe
        pd_temp.insert(pd_temp.shape[1],'c_' + Constituent + '_SR', float('nan')) #make sample rank column
        pd_temp.insert(pd_temp.shape[1],'c_' + Constituent + '_AF', float('nan')) #make age factor column
        pd_temp.insert(pd_temp.shape[1],'c_' + Constituent + '_AF*c', float('nan')) #make age factor weighted column               

        #establish sample rank for each row. Only rank rows where Concentration value is not NaN
        SampleRank=-1 #initialize sample rank
        #ITERATE THROUGH EACH ROW. Use Row's index to locate concentration value
        for idx in pd_temp.index:
            if not math.isnan(pd_temp.loc[idx]['c_' + Constituent]): #if not NaN then make sample rank & calc AF
                SampleRank += 1
                AF = math.exp(-SampleRank)
                AFc = AF * pd_temp.loc[idx]['c_' + Constituent]
                #write results to temp dataframe:
                pd_temp.loc[idx]['c_' + Constituent + '_SR'] = SampleRank
                pd_temp.loc[idx]['c_' + Constituent + '_AF'] = math.exp(-SampleRank)
                pd_temp.loc[idx]['c_' + Constituent + '_AF*c'] = AFc
        pd_AFFacExceedances = pd.concat([pd_AFFacExceedances, pd_temp], axis=1)
    FacID = pd_AFFacExceedances['Facility_ID'].iloc[0]
    if ShowCalculations:
        print('Calculation Details for Facilty ID: ', FacID)
        display(pd_AFFacExceedances)
#     #calculate age factor weighted average for each constituent. Put into new dataframe called pd_AFWFacExceedances
    pd_AFWtdAvg=pd.DataFrame({'Facility_ID':[FacID]})#insert facility id into pd_AFWtdAvg
    for Constituent in pollLS:
        AFSum = pd_AFFacExceedances['c_' + Constituent + '_AF'].sum()
        AFcSum = pd_AFFacExceedances['c_' + Constituent + '_AF*c'].sum()
        try:
            pd_AFWtdAvg['AFWtd_c_' + Constituent]  = AFcSum / AFSum
        except ZeroDivisionError:
            pd_AFWtdAvg['AFWtd_c_' + Constituent] = float('nan')
    if ShowCalculations:
        print ('Age Factor Weighted Averages')
        display(pd_AFWtdAvg)
    return(pd_AFWtdAvg)

#calculate age factor weighted averages for each constituent of each facility.
#write these averages into a dataframe called pd_AFWFacExceedances
#use exceedance values in pd_FacExceedances
#we will process each facility separately. The results will be added to the pd_AFWFacExceedances dataframe
pd_AFWFacExceedances = pd.DataFrame() #make an empty dataframe.  we will append to it.
ShowCalculations = True
UnqFacIDs = pd_FacExceedances.Facility_ID.unique() #get unique facility IDs
for FacID in UnqFacIDs:
    pd_temp = pd_FacExceedances.loc[pd_FacExceedances['Facility_ID'] == FacID].set_index('sample_date') #write current fac's data to temp df
    pd_AFWFacExceedances = pd.concat([pd_AFWFacExceedances,Calc_AFWtdExceedances(pd_temp,ShowCalculations)]) #calculate age factor weighted averages
print ('Age Factor Weighted Averages:')
display(pd_AFWFacExceedances)

Calculation Details for Facilty ID:  1

,Facility_ID,c_tss,c_tss_SR,c_tss_AF,c_tss_AF*c,c_turbidity,c_turbidity_SR,c_turbidity_AF,c_turbidity_AF*c,c_p,...,c_fe_AF,c_fe_AF*c,c_phmin,c_phmin_SR,c_phmin_AF,c_phmin_AF*c,c_phmax,c_phmax_SR,c_phmax_AF,c_phmax_AF*c
sample_date,,,,,,,,,,,,,,,,,,,,,
2017-04-19,1,72.0,0.0,1.000000,72.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,1.000000,0.0,0.00,0.0,1.000000,0.000000
2017-02-11,1,9.0,1.0,0.367879,3.310915,0.0,0.0,1.000000,0.000000,0.000,...,NaN,NaN,0.0,1.0,0.367879,0.0,0.30,1.0,0.367879,0.110364
2016-12-04,1,30.0,2.0,0.135335,4.060058,56.2,1.0,0.367879,20.674825,0.200,...,NaN,NaN,0.0,2.0,0.135335,0.0,0.20,2.0,0.135335,0.027067
2016-06-17,1,53.0,3.0,0.049787,2.638715,75.9,2.0,0.135335,10.271948,0.190,...,NaN,NaN,0.0,3.0,0.049787,0.0,0.00,3.0,0.049787,0.000000
2015-02-20,1,0.0,4.0,0.018316,0.000000,2.5,3.0,0.049787,0.124468,0.076,...,NaN,NaN,0.0,4.0,0.018316,0.0,0.54,4.0,0.018316,0.009890
2014-04-13,1,0.0,5.0,0.006738,0.000000,0.0,4.0,0.018316,0.000000,0.144,...,NaN,NaN,0.0,5.0,0.006738,0.0,0.00,5.0,0.006738,0.000000
2013-03-09,1,113.0,6.0,0.002479,0.280099,9.4,5.0,0.006738,0.063337,0.055,...,NaN,NaN,0.0,6.0,0.002479,0.0,0.09,6.0,0.002479,0.000223

Age Factor Weighted Averages

,Facility_ID,AFWtd_c_tss,AFWtd_c_turbidity,AFWtd_c_p,AFWtd_c_n,AFWtd_c_nn,AFWtd_c_an,AFWtd_c_og,AFWtd_c_cu,AFWtd_c_zn,AFWtd_c_fe,AFWtd_c_phmin,AFWtd_c_phmax
0,1,52.064543,19.729711,0.067223,1.296165,0.029425,NaN,0.0,NaN,NaN,NaN,0.0,0.093351

Calculation Details for Facilty ID:  2

,Facility_ID,c_tss,c_tss_SR,c_tss_AF,c_tss_AF*c,c_turbidity,c_turbidity_SR,c_turbidity_AF,c_turbidity_AF*c,c_p,...,c_fe_AF,c_fe_AF*c,c_phmin,c_phmin_SR,c_phmin_AF,c_phmin_AF*c,c_phmax,c_phmax_SR,c_phmax_AF,c_phmax_AF*c
sample_date,,,,,,,,,,,,,,,,,,,,,
2017-04-20,2,NaN,NaN,NaN,NaN,0.0,0.0,1.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-21,2,0.0,0.0,1.000000,0.000000,16.0,1.0,0.367879,5.886071,0.000,...,NaN,NaN,0.0,0.0,1.000000,0.0,0.0,0.0,1.000000,0.0
2016-05-05,2,0.0,1.0,0.367879,0.000000,0.0,2.0,0.135335,0.000000,0.006,...,NaN,NaN,0.0,1.0,0.367879,0.0,0.0,1.0,0.367879,0.0
2014-06-03,2,0.0,2.0,0.135335,0.000000,0.0,3.0,0.049787,0.000000,0.015,...,NaN,NaN,0.0,2.0,0.135335,0.0,0.0,2.0,0.135335,0.0
2013-03-09,2,30.0,3.0,0.049787,1.493612,0.0,4.0,0.018316,0.000000,0.067,...,NaN,NaN,0.0,3.0,0.049787,0.0,0.0,3.0,0.049787,0.0

Age Factor Weighted Averages

,Facility_ID,AFWtd_c_tss,AFWtd_c_turbidity,AFWtd_c_p,AFWtd_c_n,AFWtd_c_nn,AFWtd_c_an,AFWtd_c_og,AFWtd_c_cu,AFWtd_c_zn,AFWtd_c_fe,AFWtd_c_phmin,AFWtd_c_phmax
0,2,0.961758,3.745947,0.004876,0.637805,0.031165,NaN,0.0,NaN,NaN,NaN,0.0,0.0

Calculation Details for Facilty ID:  3

,Facility_ID,c_tss,c_tss_SR,c_tss_AF,c_tss_AF*c,c_turbidity,c_turbidity_SR,c_turbidity_AF,c_turbidity_AF*c,c_p,...,c_fe_AF,c_fe_AF*c,c_phmin,c_phmin_SR,c_phmin_AF,c_phmin_AF*c,c_phmax,c_phmax_SR,c_phmax_AF,c_phmax_AF*c
sample_date,,,,,,,,,,,,,,,,,,,,,
2017-02-11,3,860.0,0.0,1.000000,860.000000,705.0,0.0,1.000000,705.000000,1.400,...,NaN,NaN,0.0,0.0,1.000000,0.0,0.1,0.0,1.000000,0.100000
2013-04-14,3,253.0,1.0,0.367879,93.073499,1.0,1.0,0.367879,0.367879,0.774,...,NaN,NaN,0.0,1.0,0.367879,0.0,0.1,1.0,0.367879,0.036788

Age Factor Weighted Averages

,Facility_ID,AFWtd_c_tss,AFWtd_c_turbidity,AFWtd_c_p,AFWtd_c_n,AFWtd_c_nn,AFWtd_c_an,AFWtd_c_og,AFWtd_c_cu,AFWtd_c_zn,AFWtd_c_fe,AFWtd_c_phmin,AFWtd_c_phmax
0,3,696.752557,515.665239,1.231643,1.193739,0.687195,NaN,0.0,44.093122,542.332084,NaN,0.0,0.1

Calculation Details for Facilty ID:  4

,Facility_ID,c_tss,c_tss_SR,c_tss_AF,c_tss_AF*c,c_turbidity,c_turbidity_SR,c_turbidity_AF,c_turbidity_AF*c,c_p,...,c_fe_AF,c_fe_AF*c,c_phmin,c_phmin_SR,c_phmin_AF,c_phmin_AF*c,c_phmax,c_phmax_SR,c_phmax_AF,c_phmax_AF*c
sample_date,,,,,,,,,,,,,,,,,,,,,
2017-04-19,4,NaN,NaN,NaN,NaN,44.0,0.0,1.000000,44.000000,0.430,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-24,4,NaN,NaN,NaN,NaN,87.0,1.0,0.367879,32.005511,0.520,...,NaN,NaN,0.00,0.0,1.000000,0.000000,0.0,0.0,1.000000,0.0
2016-12-04,4,NaN,NaN,NaN,NaN,4.2,2.0,0.135335,0.568408,10.250,...,NaN,NaN,0.00,1.0,0.367879,0.000000,0.0,1.0,0.367879,0.0
2016-05-14,4,NaN,NaN,NaN,NaN,28.1,3.0,0.049787,1.399017,0.231,...,NaN,NaN,0.11,2.0,0.135335,0.014887,0.0,2.0,0.135335,0.0
2015-02-20,4,NaN,NaN,NaN,NaN,28.7,4.0,0.018316,0.525659,0.177,...,NaN,NaN,0.00,3.0,0.049787,0.000000,0.0,3.0,0.049787,0.0
2013-03-24,4,NaN,NaN,NaN,NaN,4.8,5.0,0.006738,0.032342,0.052,...,NaN,NaN,0.00,4.0,0.018316,0.000000,0.0,4.0,0.018316,0.0

Age Factor Weighted Averages

,Facility_ID,AFWtd_c_tss,AFWtd_c_turbidity,AFWtd_c_p,AFWtd_c_n,AFWtd_c_nn,AFWtd_c_an,AFWtd_c_og,AFWtd_c_cu,AFWtd_c_zn,AFWtd_c_fe,AFWtd_c_phmin,AFWtd_c_phmax
0,4,NaN,49.764373,1.282323,1.405886,0.49916,0.074351,0.0,63.327487,224.735333,NaN,0.009474,0.0

Calculation Details for Facilty ID:  5

,Facility_ID,c_tss,c_tss_SR,c_tss_AF,c_tss_AF*c,c_turbidity,c_turbidity_SR,c_turbidity_AF,c_turbidity_AF*c,c_p,...,c_fe_AF,c_fe_AF*c,c_phmin,c_phmin_SR,c_phmin_AF,c_phmin_AF*c,c_phmax,c_phmax_SR,c_phmax_AF,c_phmax_AF*c
sample_date,,,,,,,,,,,,,,,,,,,,,
2017-01-24,5,199.0,0.0,1.000000,199.000000,31.0,0.0,1.000000,31.000000,2.200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-12-08,5,190.0,1.0,0.367879,69.897094,752.0,1.0,0.367879,276.645340,0.037,...,NaN,NaN,0.0,0.0,1.000000,0.0,0.0,0.0,1.000000,0.0
2016-05-25,5,59.5,2.0,0.135335,8.052449,7.7,2.0,0.135335,1.042082,2.860,...,NaN,NaN,0.0,1.0,0.367879,0.0,0.0,1.0,0.367879,0.0
2013-03-09,5,82.0,3.0,0.049787,4.082540,38.0,3.0,0.049787,1.891909,2.430,...,NaN,NaN,0.0,2.0,0.135335,0.0,0.0,2.0,0.135335,0.0

Age Factor Weighted Averages

,Facility_ID,AFWtd_c_tss,AFWtd_c_turbidity,AFWtd_c_p,AFWtd_c_n,AFWtd_c_nn,AFWtd_c_an,AFWtd_c_og,AFWtd_c_cu,AFWtd_c_zn,AFWtd_c_fe,AFWtd_c_phmin,AFWtd_c_phmax
0,5,180.960566,199.986459,1.752511,17.437221,0.004532,NaN,1.421297,NaN,NaN,NaN,0.0,0.0

Age Factor Weighted Averages:

,Facility_ID,AFWtd_c_tss,AFWtd_c_turbidity,AFWtd_c_p,AFWtd_c_n,AFWtd_c_nn,AFWtd_c_an,AFWtd_c_og,AFWtd_c_cu,AFWtd_c_zn,AFWtd_c_fe,AFWtd_c_phmin,AFWtd_c_phmax
0,1,52.064543,19.729711,0.067223,1.296165,0.029425,NaN,0.000000,NaN,NaN,NaN,0.000000,0.093351
0,2,0.961758,3.745947,0.004876,0.637805,0.031165,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,3,696.752557,515.665239,1.231643,1.193739,0.687195,NaN,0.000000,44.093122,542.332084,NaN,0.000000,0.100000
0,4,NaN,49.764373,1.282323,1.405886,0.499160,0.074351,0.000000,63.327487,224.735333,NaN,0.009474,0.000000
0,5,180.960566,199.986459,1.752511,17.437221,0.004532,NaN,1.421297,NaN,NaN,NaN,0.000000,0.000000

In [ ]:
#CREATE COMBO BMPS USING BASE BMPS
#ALL POSSIBLE COMBOS WILL BE CREATED AND ADDED TO THE COMBO_BMPS TABLE
#MAXIMUM POLLUTANT REMOVAL RATES ARE DETERMINED BY IDENTIFYING 
#  THE BASE_BMP IN THE COMBO THAT PROVIDES THE HIGHEST REMOVAL RATE FOR A GIVEN POLLUTANT

import time
print ('get a coffee...this one takes a while!')
start_time = time.time()
CBMP_Eval.Make_ALL_bmp_base_option_combos()
session.commit()
print ('--- %s execution time in seconds ---' % (time.time() - start_time))

In [ ]:
'''
Identify the feasible bmp combinations for each facility
Use base bmp feasibility results for each facility.
Put results into the combo_bmp_feasibility_test_results table
'''
import itertools     #https://docs.python.org/3/library/itertools.html    
import pandas as pd

from sqlalchemy import and_

def _Make_bmp_fingerprint(base_BMP_components):
    #create fingerprint of the passed list of base_bmp_ids
    #fingerprint is just a | separated list of ids of the base bmps that make up the combo bmp
    #corresponds to bmp_options table's bmp_fingerprint field
    #FORMAT: |bmp_option_base_component_id||bmp_option_base_component_id| w/ id's given in ascending order
    fingerprint = '|' + '|'.join(str(id) + '|' for id in base_BMP_components)
    return fingerprint

def Eval_FacBMPCombo(pd_basebmps, myFacility, bmpCombo):
    '''
    input:
        pdbasebmps: pandas built from a BBMP_Eval.evalFacility_BaseBMP dictionary list
                    assme that pandas is passed in w/ index is set as base_bmp_id
        myFacility: SQLA fac_chars record
        bmpCombo: list of base_bmp_ids that make up this combo
    
    #retrieve previously computed combo removal rate
    #calculate combo cip and om cost, insert/update database
    #calculate wrs reduction, insert/update database

    #return as pandas    
    '''    
    #get combo bmp pollutant removal rates into pandas 
    q = session.query(Combo_BMPs.bmp_fingerprint, Combo_BMPs.id.label('combos_bmp_id'), PRR.id.label('PRR_id'),
          PRR.r_tss, PRR.r_turbidity, PRR.r_p, PRR.r_n, PRR.r_nn, PRR.r_an,
          PRR.r_og, PRR.r_cu, PRR.r_zn, PRR.r_fe, PRR.r_phmin, PRR.r_phmax
        ).filter(Combo_BMPs.bmp_fingerprint == _Make_bmp_fingerprint(bmpCombo)).filter(
        Combo_BMPs.bmp_option_removal_rate_id == PRR.id)  
    pd_rr = pd.read_sql(q.statement,session.bind) 

    #use information in pd_rr to get CBFTR_record - make new record if necessary
    myCBFTR = Base.metadata.tables['combo_bmp_feasibility_test_results']
    myCBFTR_id = SQLA_main.insertupdateRec(myCBFTR,{'facility_id':myFacility.id, 'combo_bmps_id':pd_rr['combos_bmp_id'][0]},
                and_(
        myCBFTR.c['facility_id'] == myFacility.id,
        myCBFTR.c['combo_bmps_id'] == pd_rr['combos_bmp_id'][0]
                    ))
    session.flush()
    
    print (myCBFTR_id)
    
    #calculate WRS reduction
#     myFac_exWRSData = session.query(
    
    

    #get costs in pandas
    sumCIP = sum(pd_basebmps.loc[bmp_id,'calc_cip_cost'] for bmp_id in bmpCombo)
    sumOM = sum(pd_basebmps.loc[bmp_id,'calc_om_cost'] for bmp_id in bmpCombo)
    pd_sums = pd.DataFrame([{'calc_cip_cost':sumCIP, 'calc_om_cost': sumOM}])

    #merge combo bmp's removal rates and costs into 1 dataframe
    return pd.concat([pd_rr, pd_sums], axis = 1)
    
    

def Eval_FacBMPOptions(myFacility):
    #a wrapper around Eval_FacBMPCombo
    print('\n***Evaluating feasible bmp combos for facility: ', aFac.Fac_Name, '***')
    print ('****Evaluating feasibile base bmps****')
    df = pd.DataFrame(BBMP_Eval.evalFacility_BaseBMP(aFac, False)).set_index('base_bmp_id')
    display (df)   
    print ('****These are the feasible base bmps. I\'ll use them to make combos:****')
    df = df.loc[df['is_feasible'] == 1]
    display (df)
    feas_ls = df.index #send feasible base bmp ids to list
#     print (feas_ls)
# from SQLA_DB_combo_bmps import Combo_BMPs
# from SQLA_DB_combo_bmp_feasibility_test_results import Combo_BMP_Feasibility_Test_Results as CBFTR
    for CBOLen in range (1, len(feas_ls)+1): #+1 so it's inclusive of last count
        for combo in  itertools.combinations(feas_ls,CBOLen):
            print ('Here is a summary of the combo: ', list(combo))
            display(Eval_FacBMPCombo(df,myFacility, list(combo)))

            
def Eval_All_FacBMPOptions():
    print ('Evaluating feasibile BMP Options for each facility:')
    for aFac in session.query(Facility_Chars):
        Eval_FacBMPOptions(aFac)
    
Eval_All_FacBMPOptions()
session.commit()

In [ ]:
# session.close()
# engine.dispose()

In [ ]:
# http://pythonhow.com/accessing-dataframe-columns-rows-and-cells/
import pandas as pd #import in pandas library
print ('#get csv data and read into pandas')
df1=pd.read_csv("http://pythonhow.com/wp-content/uploads/2016/01/Income_data.csv")
print (df1)
print ('#write new dataframe w/ index set to the "State" column in the csv')
df2=df1.set_index("State").copy()
print (df2)
print ('#extract a portion of the dataframe: States = Alaska to Arkansas; and Dates 2005:2007')
print (df2.loc["Alaska":"Arkansas","2005":"2007"])

print ('Get only certain States, using a list of states:')
getStates = ['Alaska', 'Arizona']
print (df2.loc[getStates])

print ('#slice a column:')
df2.loc[: , "2005"]
print ('get a cell:')
df2.loc['Alaska','2005']
print ('#get max of 2005 data')
print (df2.loc[:,'2005'].max())
print ('take 2005 column and put into list')
LS = df2['2005'].tolist() #this is a series. we use the .tolist() to convert from series to list
print (type(LS))

In [ ]:
df = pd.DataFrame({'col1' : [1.0] * 5, 
                   'col2' : [2.0] * 5, 
                   'col3' : [3.0] * 5 }, index = range(1,6),)
display(df)
df2 = pd.DataFrame({'col1' : [10.0] * 5, 
                    'col2' : [100.0] * 5, 
                    'col3' : [1000.0] * 5 }, index = range(1,6),)
display(df2)
df.mul(df2, 0) # element by element multiplication no problems

In [ ]:
import datetime

# xmin = datetime.datetime.strptime('1/1/2018', "%m/%d/%Y").date()
# xmax = datetime.datetime.strptime('5/6/2018', "%m/%d/%Y").date()

# xmin <= datetime.date(2018,1,5) <= xmax

#     Wet Season is from: January 1 through April 30 and November 1 through December 31
#     Dry Season is from: May 1 through October 31

SampleDate = datetime.date(2018,11,1)

#Wet Season 1:
if datetime.date(SampleDate.year, 1,1) <= SampleDate <= datetime.date(SampleDate.year, 4,30):
    print ('ws 1')
elif datetime.date(SampleDate.year, 5,1) <= SampleDate <= datetime.date(SampleDate.year, 10,31):
    print ('dry')
else:
    print ('ws 2')
    
    
import numpy as np    
# np.max([float('nan'),0])
np.max([0,float('nan')])

if math.isnan(10)

In [ ]:
#import the pandas library
import pandas as pd

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

display (df)

display (df.groupby('Team').groups)


import numpy as np


grouped = df.groupby('Year')
print (grouped['Points'].agg(np.max))

In [ ]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [0.1, 0.2]},
                      index=['a', 'b'])
for idx in df.index:
    print (idx)
    print (df.loc[idx]['col2'])