'''
OBJECTIVES:
1. Build WRS system
2. Build Structural BMP Solution evaluator
3. Identify minimum BMP solution front for:
   individual facilities
   facilities w/in departments
   facilities w/in city
   
PYTHON VERSION: 3.6.3  
SQLALCHEMY VERSION: 1.1.13

'''

In [1]:
import winsound
import pandas as pd
'''
Define basic SQLAlchemy items:
    declarative base object
    connection object
    session object
    DB tables
'''
#SQLAlchemy library items:
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String
from sqlalchemy import update, insert
from sqlalchemy import and_ #used in query.filter() to joing multiple where clauses
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship #http://docs.sqlalchemy.org/en/latest/orm/basic_relationships.html#relationship-patterns
from sqlalchemy import inspect

from SQLA_Base import Base #module containing declarative_base
from SQLA_conn_man import session, engine #module handling db and connection creation 

#Table definitions as SQLA classes:
from SQLA_DB_base_bmp_feasibility_test_results import Base_BMP_Feasibility_Test_Results as BBFTR
from SQLA_DB_base_bmp_feasibility_test_definitions import Base_BMP_Feasibility_Test_Definitions as BBFTD
from SQLA_DB_base_bmps import Base_BMPs
from SQLA_DB_combo_bmps import Combo_BMPs
from SQLA_DB_combo_bmp_feasibility_test_results import Combo_BMP_Feasibility_Test_Results as CBFTR
from SQLA_DB_expressions import Expressions
from SQLA_DB_facility_chars import Facility_Chars
from SQLA_DB_facility_monthly_rain import Facility_Monthly_Rain
from SQLA_DB_facility_risks import Facility_Risks
from SQLA_DB_facility_type_has_nel import Facility_Type_Has_NEL
from SQLA_DB_facility_types import Facility_Types
from SQLA_DB_feasibility_test_questions import Feasibility_Test_Questions as FTQ
from SQLA_DB_nel_sample_classes import NEL_Sample_Classes
from SQLA_DB_existing_pollutant_concentrations import Existing_Pollutant_Concentrations as ExPollConcs
from SQLA_DB_pollutant_removal_rates import Pollutant_Removal_Rates as PRR
from SQLA_DB_wrs_pollutant_risks import WRS_Pollutant_Risks
Base.metadata.create_all(engine, checkfirst=True) #create SQLA classes

'''
Dictionary of "SQLAlchemy where clause lambda functions" that importCSV uses to test record uniqueness.
used as the where clause in sqlalchemy queries, updates and deletes 
Form:
    {TableName:Lambda Function, TableName:Lambda Function, ...}
    
    TableName is the table name we want to define uniqueness test for
    Lambda Function is a SQLAlchemy query used to test record uniqueness. The function can take on any form 
        but must be made to evaluate the CSV row passed as a dictionary (CSVRowDict in this explanation):
        CSVRowDict: {FieldName:CSVColValue, DBTableFieldName:CSVColValue...} 
            Where: DBTableFieldName is the name of the field associated with the value at CSVColValue on the current row
                   CSVColValue: a value in the CSV's current row+column corresponding to the DBTableFieldName 
        *this assumes that field names are unique across table. if not, then method fails (maybe need to extend method?)
    FALSE: indicates that db table doesn't impose uniqueness on its records (other than its record id being unique)
        
e.g.: lambda myRowVal: Base.metadata.tables['people'].c['name'] == CSVRowDict['name']
        using lambda function in query will search for CSVRowDict's value for 'name' in the table people, field name 
if table has no record uniqueness requirement, then enter: TableName:False
'''
unqTests = {
    'facility_chars': lambda CSVRowDict: Base.metadata.tables['facility_chars'].c['Fac_Name'] == CSVRowDict['Fac_Name'],
    'facility_monthly_rain': False, #DB schema does not impose uniqueness on records in this table
    'facility_type_has_nel': False,
    'facility_risks': False,
    'facility_types': lambda CSVRowDict: Base.metadata.tables['facility_types'].c['Fac_Type'] == CSVRowDict['Fac_Type'],
    'nel_sample_classes': lambda CSVRowDict: Base.metadata.tables['nel_sample_classes'].c['nel_column']==CSVRowDict['nel_column'],
    'existing_pollutant_concentrations': False, #uniqueness not imposed for records in this table.
    'wrs_pollutant_risks': False #DB schema does not impose uniqueness on records in this table
}

import SQLA_main as SQLA_main #import main SQLAlchemy functions

Clearing old DB

In [2]:
'''
Define other custom modules

'''
import mod_Base_BMP_Eval as BBMP_Eval
import mod_Combo_BMP_Eval as CBMP_Eval
import mod_EffluentLimit as EffLim
import mod_expression as Expr
import mod_importSpecial as importSpecial #special import functions are defined here
import mod_importCSV as importCSV #generic CSV importer ****IMPORTANT NOTE: function assumes csv in the utf-8-sig file format. weird things happen if its not in this format!!!

In [3]:
#import feasibillity questions, build feasibility expressions
importSpecial.importFeasibilityQuestionsCSV('Input_Files\\feasibility_test_questions.csv') 

#import base bmp information including:
  #1. imports definitions for cip costs, o&m costs, and BMP sizing to the expressions table
  #2. imports pollutant removal rates into pollutant_removal_rates table
  #3. creates a record in the base_bmps table using (1) and (2)
  #4. feasibility tests
importSpecial.importBaseBMPsCSV('Input_Files\\bmp_lego_piece.csv') 

#IMPORT BASIC FACILITY CHARS:
    #!!!!IMPORTANT!!!! This import must occur before other facility specific data is imported!
print ('\nImporting facility characteristics:')
importCSV.importCSV('Input_Files\\facility_chars.csv', unqTests)

#IMPORT PBP Appendix A1 data
print ('\nImporting PBP Appendix A1 data:')
importCSV.importCSV('Input_Files\\pbp_appxa1.csv', unqTests)

#IMPORT FACILITY RAINFALL EXTRACTED FROM http://rainfall.geography.hawaii.edu/downloads.html
print ('\nImporting Facility Rainfall Data:')
importCSV.importCSV('Input_Files\\FacilityRainfallData.csv', unqTests)

#IMPORT EFFLUENT LIMITS EXISTANCE FOR FACILITY TYPES: (either by Priority Based Plan, Table 3 or as City operational assignment)
#IF CSV HEADRS SETUP CORRECTLY, THEN THIS INSERTS NEL EXISTANCE DATA (0 OR 1) TO WRS_POLLUTANT TABLE 
#AND USES THE FACILITY_TYPE_HAS_NEL TO ASSOCIATE RECORD WITH FACILITY TYPE
print ('\nImporting Facility Type Has Effluent Limits:') #import into wrs_pollutant_risks table
importCSV.importCSV('Input_Files\\nel_exists_facility_types.csv', unqTests)

#IMPORT NEL CLASSIFICATION DATA (from PBP Appendix L)
print ('\nImporting NEL Classes')
importCSV.importCSV('Input_Files\\nel_pbp_appxl.csv', unqTests)

#IMPORT FACILITY RISKS:
print ('\nImporting Facility Risks')
#for future implementation:
    #The current process inserts fac risk and update existing_fac_char_id in Facility_chars table. this process thus creates
#dead records. a more sophisticated approach using sophisticated lambda function in unqTests would fix this
importCSV.importCSV('Input_Files\\facility_risks.csv', unqTests)

# #IMPORT FACILITY SAMPLING DATA
 #!!!IMPORTANT!!!! For now, we make none detects = 0 BUT this must be changed to detection limit, per DOH guidance.
print ('\nImporting Facilty Sampling data:')
importCSV.importCSV('Input_Files\\sample_data.csv', unqTests)


# for now, since we're developing, delete out all except 1st 2 facilities.
# n = 5
# session.query(ExPollConcs).filter(ExPollConcs.facility_id >n).delete(synchronize_session = False) #http://docs.sqlalchemy.org/en/latest/orm/query.html#sqlalchemy.orm.query.Query.delete
# session.query(Facility_Chars).filter(Facility_Chars.id >n).delete(synchronize_session = False) #http://docs.sqlalchemy.org/en/latest/orm/query.html#sqlalchemy.orm.query.Query.delete
# session.commit #we chose not to sync session so need to commit before proceeding to requery or else you may get unpredictable resutls

session.commit()
winsound.Beep(250,1000)

Reading csv for import to Feasibility Questions

Reading csv record: Feas-1

Reading csv record: Feas-2

Reading csv record: Feas-3

Reading csv record: Feas-4

Reading csv record: Feas-5

Reading csv record: Feas-6

Reading csv record: Feas-7

Reading csv record: Feas-8

Reading csv record: Feas-9

Reading csv record: Feas-10

Reading csv record: Feas-11

Reading csv record: Feas-12

Reading csv record: Feas-13

Reading csv record: Feas-14

Reading csv record: Feas-15

Reading csv record: Feas-16

Reading csv record: Feas-17

Reading csv record: Feas-18

Reading csv record: Feas-19

Reading csv record: Feas-20

Reading csv record: Feas-21
Reading csv for import to base bmp tables

Reading csv record: Hydrodynamic Separation
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 1
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  1
Added feasibility test def as record:  2
Added feasibility test def as record:  3
Added feasibility test def as record:  4

Reading csv record: Enhanced Media Filtration (Replaceable Cartridge)
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 2
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  5
Added feasibility test def as record:  6
Added feasibility test def as record:  7
Added feasibility test def as record:  8

Reading csv record: Biofiltration (Vault)
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 3
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  9
Added feasibility test def as record:  10
Added feasibility test def as record:  11
Added feasibility test def as record:  12

Reading csv record: Media Filtration (Pressure)
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 4
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  13
Added feasibility test def as record:  14
Added feasibility test def as record:  15
Added feasibility test def as record:  16

Reading csv record: Bioinfiltration / Bioretention
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 5
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  17
Added feasibility test def as record:  18
Added feasibility test def as record:  19
Added feasibility test def as record:  20
Added feasibility test def as record:  21
Added feasibility test def as record:  22
Added feasibility test def as record:  23
Added feasibility test def as record:  24

Reading csv record: Inlet Insert Unit
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 6
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  25

Reading csv record: Sand Filtration
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 7
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  26
Added feasibility test def as record:  27
Added feasibility test def as record:  28
Added feasibility test def as record:  29

Reading csv record: Coagulation Enhanced Treatment
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 8
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  30
Added feasibility test def as record:  31
Added feasibility test def as record:  32
Added feasibility test def as record:  33

Reading csv record: Roofing
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 9
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  34

Reading csv record: Paving and Curbing
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 10
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  35

Reading csv record: Oil and Water Separators
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 11
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  36
Added feasibility test def as record:  37
Added feasibility test def as record:  38
Added feasibility test def as record:  39
Added feasibility test def as record:  40

Reading csv record: Vegetative Swales
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 12
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  41
Added feasibility test def as record:  42
Added feasibility test def as record:  43
Added feasibility test def as record:  44
Added feasibility test def as record:  45
Added feasibility test def as record:  46

Reading csv record: Detention
Reading pollutant removal rate info...
Linking feasibility tests w/ base bmp: 13
Removed:  0  old feasibility test defs for the base bmp
Added feasibility test def as record:  47
Added feasibility test def as record:  48
Added feasibility test def as record:  49

Importing facility characteristics:
importing data in CSV rows...
imported records in  104  rows
associating records...

Importing PBP Appendix A1 data:
importing data in CSV rows...
imported records in  238  rows
associating records...

Importing Facility Rainfall Data:
importing data in CSV rows...
imported records in  238  rows
associating records...

Importing Facility Type Has Effluent Limits:
importing data in CSV rows...
imported records in  8  rows
associating records...

Importing NEL Classes
importing data in CSV rows...
imported records in  9  rows
associating records...

Importing Facility Risks
importing data in CSV rows...
imported records in  238  rows
associating records...

Importing Facilty Sampling data:
importing data in CSV rows...
imported records in  110  rows
associating records...

In [4]:
# # EVALUATE BASE BMP FEASIBILITY at each facility
# # Write results to the base_bmp_feasibility_test_results table.

# print('\n******Evaluating Base BMP feasibility at facilities.******')
# ShowCalculations = False #flag indicating if steps should be outputted
# Expr.ResetEvalErrorCount() #RESET EXPRESION EVALUATOR ERROR COUNT
# for aFac in session.query(Facility_Chars):
#     if ShowCalculations: print ('\n***Evaluating base bmp feasibiilty tests for facility: ', aFac.Fac_Name), ' ***'
#     myBMPs = session.query(Base_BMPs)
#     for aBMP in myBMPs:
#         if ShowCalculations:print ('\nEvaluating feasibility of base_bmp: ', aBMP.bmp_name, ' ID: ', aBMP.id)
#         BBMP_Eval.Eval_base_bmp_feasibility_tests(aFac, aBMP, False)
# session.commit
# winsound.Beep(250,1000)
# print ('*****************************************************************')
# print ('* Completed evaluating Base BMP feasibility                     *')
# if Expr.CountEvalErrors() >0:
#     print (Expr.CountEvalErrors(), ' errors were encountered. Review output to identify location(s)')
#     print ('Hint: expression evaluation error lines are prefixed by: FAULT!!!! Error occured while evaluating expression:')
# else:
#     print ('No errors detected.')
# print ('*****************************************************************')

In [5]:
'''
Enter estimated pollutant concentrations into database's existing pollutant concentration table for facilities without 
actual sampling data. Use 1 of 2 methods:

Method 1: Use maximum concentration value sampled for period 2013-2017
          This method is for Permit Table 1 facilities only
          Method assumes we have already entered sampling data for into the database's existing pollutant concentration table

Method 2: Use data from an EMC study.
          This method is for facilities that are not on Permit Table 1
          
          
Defined Global Vars:
    pd_infieldExtrema: dataframe holding maximum concentrations that were measured. *exception is phMin. we use lowest observed
        ###need to fill this out - typ all cells.
    
'''
#this is the list of pollutant constituants we're trying to address:
pollLS = ['tss', 'turbidity', 'p', 'n', 'nn', 'an', 'og', 'cu', 'zn', 'fe', 'phmin', 'phmax'] 


'''make a dataframe called pd_Concs to hold existing pollutant concentrations that 
were sampled in the field (the 'infield' sampling method)'''
q = session.query(ExPollConcs).filter(ExPollConcs.sample_method == 'infield')
pd_Concs = pd.read_sql(q.statement,session.bind) 

#Apply Method1 to all unsampled Table 1 facilities
#we need to get all Table 1 facilities that are not currently in the existing pollutant concentration table
#############################################################################################################
'''
To be sure we're starting fresh, let's remove any records in ExPollConcs that:
1. Were not obtained directly from field samples (i.e. sample_method != 'infield)
2. Were obtained from field samples, but are not Table 1 facilities (i.e. we shouldn't be looking at their  sample results)
'''
#delete all pollutant concentration table records that are not from infield sampling.
session.query(ExPollConcs).filter(ExPollConcs.sample_method != 'infield').delete(synchronize_session = False)
#delete all pollutant concentration table records that are not for Table 1 facilities
#for some reason bulk delete's not working. so let's use a loop to work around it.
for rec in session.query(ExPollConcs.id).filter(ExPollConcs.facility_id == Facility_Chars.id).filter(Facility_Chars.Permit_Table != 'Table 1'):
    session.query(ExPollConcs).filter(ExPollConcs.id == rec[0]).delete(synchronize_session = False)

    
#build pd_infieldExtreama by making a dictionary of maximum sample results for each constiuent
dict_extrema = {'c_' + Constituent: pd_Concs.loc[:,'c_' + Constituent].max() for Constituent in pollLS}
dict_extrema['c_phmin'] = pd_Concs.loc[:,'c_phmin'].min() #phMin is exception to above. we want min. phMin value
#use dictionary to build pd_infieldExtrema dataframe
pd_infieldExtrema = pd.DataFrame([dict_extrema])
display(pd_infieldExtrema)

#now build query that identifies all Table 1 facilities that are not in ExPollConcs
subq = session.query(ExPollConcs.facility_id.distinct()).order_by(ExPollConcs.facility_id).all()
ls_sq = [i[0] for i in subq if i[0] is not None] #list comprehension to produce list of all facility_id in ExPollConcs table
#get list of Table 1 facilities not in ExPollConcs:
tpl_q = session.query(Facility_Chars.id).filter(Facility_Chars.Permit_Table == 'Table 1').filter(Facility_Chars.id.notin_(ls_sq)).all()
ls_FacIDs = [i[0] for i in tpl_q] #write query tuple to list    
#make a list of Table 1 facs not in ExPollConcs (a list of dicts). also include extrema conc. values.  
ls_dict_pd = [{**{'facility_id': FacID, 'sample_method': 'sim_MaxType', 'sample_date':'12/31/2016'}, **dict_extrema} for FacID in ls_FacIDs]
#write list to database:
ExPollConcs_meta = Base.metadata.tables['existing_pollutant_concentrations']
ExPollConcs_id_meta = ExPollConcs_meta.c['id']
for dict_temp in ls_dict_pd:
    SQLA_main.insertRec(ExPollConcs_meta,dict_temp)
session.commit()
#for future implementation: write dict -> dataframe -> db(using sqla):
    # pd_temp.to_sql('existing_pollutant_concentrations', engine, if_exists='append', index = False)
    #http://docs.sqlalchemy.org/en/latest/faq/performance.html#i-m-inserting-400-000-rows-with-the-orm-and-it-s-really-slow
    #https://stackoverflow.com/questions/31997859/bulk-insert-a-pandas-dataframe-using-sqlalchemy
q = session.query(ExPollConcs)
pd.read_sql(q.statement,session.bind)

,c_an,c_cu,c_fe,c_n,c_nn,c_og,c_p,c_phmax,c_phmin,c_tss,c_turbidity,c_zn
0,10.5,105.0,19500.0,27.25,3.68,59.0,10.3,8.7,6.01,2010.0,4181.0,730.0

,id,facility_id,sample_method,sample_point_name,sample_date,c_tss,c_turbidity,c_p,c_n,c_nn,c_an,c_og,c_cu,c_zn,c_fe,c_phmin,c_phmax
0,4,108,infield,CAESHAL,4/20/2017,NaN,22.00,0.300,2.130,0.300,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5,108,infield,CAESHAL,2/11/2017,NaN,21.00,0.146,5.070,0.210,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6,108,infield,CAESHAL,12/8/2016,30.0,28.10,0.200,1.240,0.370,0.000,0.0,NaN,NaN,NaN,7.90,7.90
3,7,108,infield,CAESHAL,6/17/2016,23.0,24.30,0.182,0.850,0.000,0.000,0.0,NaN,NaN,NaN,6.87,6.87
4,8,108,infield,CAESHAL,5/2/2014,42.5,29.30,0.230,1.161,0.101,0.050,4.9,NaN,NaN,NaN,7.65,7.65
5,9,108,infield,CAESHAL,3/9/2013,53.5,NaN,0.337,2.485,0.545,0.160,NaN,NaN,NaN,NaN,NaN,NaN
6,10,108,infield,CAESHAL,1/27/2013,NaN,23.60,NaN,NaN,NaN,NaN,4.7,NaN,NaN,NaN,7.76,7.76
7,11,112,infield,CWCSMHAL,5/2/2014,30.5,17.40,0.161,1.152,0.092,0.050,4.8,NaN,NaN,NaN,7.55,7.55
8,12,112,infield,CWCSMHAL,1/27/2013,233.0,240.00,0.558,1.243,0.203,0.068,4.7,NaN,NaN,NaN,7.45,7.45
9,13,105,infield,CDRMHAL,4/20/2017,NaN,29.00,0.500,1.690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,14,105,infield,CDRMHAL,2/11/2017,NaN,29.00,0.200,0.590,NaN,NaN,NaN,NaN,NaN,NaN,7.90,7.90
11,15,105,infield,CDRMHAL,12/8/2016,28.0,33.50,4.800,0.970,0.110,0.000,0.0,NaN,NaN,NaN,8.30,8.30
12,16,105,infield,CDRMHAL,6/17/2016,70.0,51.80,0.300,1.050,0.000,0.267,0.0,NaN,NaN,NaN,6.70,6.70
13,17,105,infield,CDRMHAL,5/2/2014,8.0,63.60,0.248,1.221,0.161,0.050,5.2,NaN,NaN,NaN,7.48,7.48
14,18,105,infield,CDRMHAL,1/27/2013,214.0,189.00,0.468,1.142,0.122,0.131,4.7,NaN,NaN,NaN,7.22,7.22
15,20,100,infield,CWTPHON-2,2/11/2017,677.0,720.00,1.500,1.650,1.120,0.194,0.0,17.00,24.0,NaN,8.10,8.10
16,21,100,infield,CWTPHON-1,2/11/2017,910.0,105.00,0.300,1.080,0.520,0.121,4.0,58.00,730.0,NaN,8.10,8.10
17,22,100,infield,CWTPHON,4/14/2013,303.0,16.00,0.874,1.887,0.097,0.050,5.6,28.60,114.0,NaN,8.10,8.10
18,23,84,infield,CDRMKAI,4/12/2015,5.0,2.20,0.073,1.016,0.196,0.050,4.7,NaN,NaN,NaN,7.21,7.21
19,24,101,infield,CWTPKAI-2,2/6/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.10,6.3,NaN,8.10,8.10
20,25,101,infield,CWTPKAI-1,2/6/2017,680.0,4000.00,1.200,5.700,3.680,0.000,0.0,100.00,133.0,NaN,8.00,8.00
21,26,101,infield,CWTPKAI-2,12/1/2016,272.0,801.00,0.800,0.700,0.120,0.000,0.0,59.00,112.0,NaN,8.10,8.10
22,27,101,infield,CWTPKAI-1,6/17/2016,151.0,8.15,0.096,0.680,0.000,0.000,0.0,92.60,190.0,NaN,6.83,6.83
23,28,101,infield,CWTPKAI-2,5/25/2016,157.0,137.00,1.600,1.640,0.000,0.256,0.0,38.40,112.0,NaN,7.56,7.56
24,29,101,infield,CWTPKAI-1,2/3/2015,119.0,6.30,0.119,1.296,0.076,0.101,4.9,105.00,310.0,NaN,7.90,7.90
25,30,101,infield,CWTPKAI-2,2/3/2015,155.0,8.20,0.379,1.275,0.085,0.083,5.2,36.80,143.0,NaN,7.40,7.40
26,31,101,infield,CWTPKAI-1,3/9/2013,10.5,17.00,0.124,0.856,0.106,0.063,5.6,45.60,200.0,NaN,7.49,7.49
27,33,107,infield,CCSLKALA,2/11/2017,255.0,78.00,0.398,1.680,1.050,0.000,0.0,NaN,NaN,15500.0,7.70,7.70
28,35,1,infield,CDTSKALI,4/19/2017,122.0,NaN,NaN,2.430,NaN,NaN,NaN,NaN,NaN,NaN,7.00,7.00
29,36,1,infield,CDTSKALI,2/11/2017,59.0,13.00,0.097,0.580,NaN,NaN,NaN,NaN,NaN,NaN,8.30,8.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,94,102,infield,CWTPSAN,2/20/2015,16.0,31.70,0.227,1.412,0.342,0.050,5.1,29.20,146.0,NaN,7.88,7.88
78,95,102,infield,CWTPSAN,3/24/2013,6.0,7.80,0.102,1.021,0.281,0.094,4.8,17.20,47.1,NaN,8.26,8.26
79,97,12,infield,CRCCWAH,3/22/2013,62.5,34.40,0.451,2.647,0.377,0.283,5.3,NaN,NaN,NaN,8.07,8.07
80,98,103,infield,CWTPWAH,4/20/2017,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.00,115.0,NaN,NaN,NaN
81,99,103,infield,CWTPWAH,1/21/2017,13.0,22.00,0.150,1.770,0.120,0.330,59.0,21.00,205.0,NaN,6.90,6.90
82,100,103,infield,CWTPWAH,11/5/2015,6.0,13.30,0.071,0.720,0.000,0.000,0.0,4.71,50.7,NaN,7.42,7.42
83,101,104,infield,CWTPWAIA,2/11/2017,142.0,15.90,0.890,3.470,2.830,0.108,0.0,18.90,26.0,NaN,7.90,7.90
84,106,13,infield,CRCCWAIM,4/28/2017,280.0,136.00,1.800,21.100,1.500,0.331,NaN,NaN,NaN,NaN,NaN,NaN
85,107,13,infield,CRCCWAIM,2/6/2017,80.0,73.00,1.200,4.900,0.720,0.228,0.0,NaN,NaN,NaN,7.00,7.00
86,108,13,infield,CRCCWAIM,3/22/2013,2010.0,4181.00,3.150,5.859,0.909,0.309,5.3,NaN,NaN,NaN,8.00,8.00
87,109,116,infield,CCSLWAIP-1,4/20/2017,72.0,21.00,0.278,1.490,0.290,0.000,0.0,NaN,NaN,2650.0,8.70,8.70
88,110,264,infield,CDPRWAI,9/11/2015,293.0,93.20,0.774,4.510,1.800,0.173,0.0,NaN,NaN,NaN,7.71,7.71
89,111,6,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
90,112,9,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
91,113,10,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
92,114,11,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
93,115,14,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
94,116,15,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
95,117,34,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
96,118,41,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
97,119,85,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
98,120,87,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
99,121,96,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
100,122,97,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
101,123,106,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
102,124,109,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
103,125,110,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
104,126,111,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
105,127,113,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70
106,128,117,sim_MaxType,None,12/31/2016,2010.0,4181.00,10.300,27.250,3.680,10.500,59.0,105.00,730.0,19500.0,6.01,8.70

In [6]:
#Estimate Pollutant Effluent Limits
'''
Estimate the Numeric Effluent Limits (NELs) for each facility.
Return wet and dry season NELs in 2 separate dataframes:
    pd_FacsNELs_Wet & pd_FacsNELs_Dry
Estimate NELs using the EffLim module's GetNELs function call.
 The GetNELs function call will differentiate between wet and dry season limits
 (if limits are the same between wet & dry season, then the same limit will be placed into the wet and dry
  dataframes.)
 The GetNEls function calculates a pollutant constituent NEL using this formula:
    NEL = fTypeHas_NEL * SampleClass_NEL
    Where:
      fTypeHas_NEL is a [0,1] value from PBP Table 3, based on facility type (stored in SQLA_DB_facility_type_has_nel)
      SampleClass_NEL is pollutant concentration based on facility's sample class, based on PBP Appendix L
'''
pd_FacsNELs_Wet, pd_FacsNELs_Dry = pd.DataFrame(),  pd.DataFrame() #initialize wet and dry season nel dataframes 
for recFac in session.query(Facility_Chars): #do the following for each facility:
    
    wet,dry = EffLim.GetNELs(recFac,False) #Get Wed & Dry NELs by calculating: NEL = fTypeHas_NEL * SampleClass_NEL
#     if wet is not None:
    pd_FacsNELs_Wet = pd.concat([pd_FacsNELs_Wet, wet]) #write wet NELs to pd_FacsNELs_Wet
#     if dry is not None:
    pd_FacsNELs_Dry = pd.concat([pd_FacsNELs_Dry, dry]) #write dry NELs to pd_FacsNELs_Dry

print('Wet NELs:')
display(pd_FacsNELs_Wet)
print('Dry NELs:')
display(pd_FacsNELs_Dry)

try get pd_FacNELs_Wet <Facility_Chars(id='1', Fac_Name ='Kalihi-Palama Bus & Paratransit Facility')>
try get pd_FacNELs_Dry <Facility_Chars(id='1', Fac_Name ='Kalihi-Palama Bus & Paratransit Facility')>
try get pd_FacNELs_Wet <Facility_Chars(id='2', Fac_Name ='Pearl City Bus Facility')>
try get pd_FacNELs_Dry <Facility_Chars(id='2', Fac_Name ='Pearl City Bus Facility')>
try get pd_FacNELs_Wet <Facility_Chars(id='3', Fac_Name ='Kapaa Refuse Transfer Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='3', Fac_Name ='Kapaa Refuse Transfer Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='4', Fac_Name ='Kawailoa Refuse Transfer Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='4', Fac_Name ='Kawailoa Refuse Transfer Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='5', Fac_Name ='Keehi Refuse Transfer Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='5', Fac_Name ='Keehi Refuse Transfer Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='6', Fac_Name ='Honolulu Refuse Collection Yard')>
try get pd_FacNELs_Dry <Facility_Chars(id='6', Fac_Name ='Honolulu Refuse Collection Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='7', Fac_Name ='Pearl City Refuse Collection Yard')>
try get pd_FacNELs_Dry <Facility_Chars(id='7', Fac_Name ='Pearl City Refuse Collection Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='8', Fac_Name ='Kapaa Refuse Collection Yard')>
try get pd_FacNELs_Dry <Facility_Chars(id='8', Fac_Name ='Kapaa Refuse Collection Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='9', Fac_Name ='Waianae Refuse Collection Yard')>
try get pd_FacNELs_Dry <Facility_Chars(id='9', Fac_Name ='Waianae Refuse Collection Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='10', Fac_Name ='Ewa Refuse Convenience Center')>
try get pd_FacNELs_Dry <Facility_Chars(id='10', Fac_Name ='Ewa Refuse Convenience Center')>
try get pd_FacNELs_Wet <Facility_Chars(id='11', Fac_Name ='Laie Refuse Convenience Center')>
try get pd_FacNELs_Dry <Facility_Chars(id='11', Fac_Name ='Laie Refuse Convenience Center')>
try get pd_FacNELs_Wet <Facility_Chars(id='12', Fac_Name ='Wahiawa Refuse Convenience Center')>
try get pd_FacNELs_Dry <Facility_Chars(id='12', Fac_Name ='Wahiawa Refuse Convenience Center')>
try get pd_FacNELs_Wet <Facility_Chars(id='13', Fac_Name ='Waimanalo Refuse Convenience Center')>
try get pd_FacNELs_Dry <Facility_Chars(id='13', Fac_Name ='Waimanalo Refuse Convenience Center')>
try get pd_FacNELs_Wet <Facility_Chars(id='14', Fac_Name ='Waipahu Refuse Convenience Center')>
try get pd_FacNELs_Dry <Facility_Chars(id='14', Fac_Name ='Waipahu Refuse Convenience Center')>
try get pd_FacNELs_Wet <Facility_Chars(id='15', Fac_Name ='Waianae Refuse Convenience Center')>
try get pd_FacNELs_Dry <Facility_Chars(id='15', Fac_Name ='Waianae Refuse Convenience Center')>
try get pd_FacNELs_Wet <Facility_Chars(id='16', Fac_Name ='Waikiki Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='16', Fac_Name ='Waikiki Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='17', Fac_Name ='Pearl City Fire Station (Station 20)')>
try get pd_FacNELs_Wet <Facility_Chars(id='18', Fac_Name ='Wahiawa Police Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='18', Fac_Name ='Wahiawa Police Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='19', Fac_Name ='Makiki Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='19', Fac_Name ='Makiki Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='20', Fac_Name ='Manoa Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='20', Fac_Name ='Manoa Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='21', Fac_Name ='Aikahi Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='21', Fac_Name ='Aikahi Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='22', Fac_Name ='Kapolei Police Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='22', Fac_Name ='Kapolei Police Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='23', Fac_Name ='Mokulele Fire Station and Training Facility')>
try get pd_FacNELs_Wet <Facility_Chars(id='24', Fac_Name ='Kalihi Police Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='24', Fac_Name ='Kalihi Police Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='25', Fac_Name ='Kahuku Police Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='25', Fac_Name ='Kahuku Police Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='26', Fac_Name ='Kailua Police Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='26', Fac_Name ='Kailua Police Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='27', Fac_Name ='Mililani Mauka Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='28', Fac_Name ='Kalihi Uka Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='29', Fac_Name ='Nuuanu Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='29', Fac_Name ='Nuuanu Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='30', Fac_Name ='Waiau Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='30', Fac_Name ='Waiau Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='31', Fac_Name ='Kapolei Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='31', Fac_Name ='Kapolei Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='32', Fac_Name ='Central Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='32', Fac_Name ='Central Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='33', Fac_Name ='Olomana Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='33', Fac_Name ='Olomana Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='34', Fac_Name ='Waipahu Vehicle Maintenance Shop')>
try get pd_FacNELs_Dry <Facility_Chars(id='34', Fac_Name ='Waipahu Vehicle Maintenance Shop')>
try get pd_FacNELs_Wet <Facility_Chars(id='35', Fac_Name ='Sunset Beach Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='35', Fac_Name ='Sunset Beach Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='36', Fac_Name ='Waikele Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='36', Fac_Name ='Waikele Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='37', Fac_Name ='Wahiawa Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='37', Fac_Name ='Wahiawa Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='38', Fac_Name ='Waimanalo Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='38', Fac_Name ='Waimanalo Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='39', Fac_Name ='Waianae Police Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='39', Fac_Name ='Waianae Police Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='40', Fac_Name ='Wailupe Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='40', Fac_Name ='Wailupe Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='41', Fac_Name ='Waipahu Training Academy')>
try get pd_FacNELs_Dry <Facility_Chars(id='41', Fac_Name ='Waipahu Training Academy')>
try get pd_FacNELs_Wet <Facility_Chars(id='42', Fac_Name ='Kaimuki Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='42', Fac_Name ='Kaimuki Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='43', Fac_Name ='Kaaawa Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='43', Fac_Name ='Kaaawa Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='44', Fac_Name ='Moanalua Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='44', Fac_Name ='Moanalua Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='45', Fac_Name ='McCully (Moiliili) Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='46', Fac_Name ='Pawaa Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='46', Fac_Name ='Pawaa Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='47', Fac_Name ='Waialua Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='47', Fac_Name ='Waialua Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='48', Fac_Name ='Kahaluu Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='48', Fac_Name ='Kahaluu Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='49', Fac_Name ='Kuakini Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='49', Fac_Name ='Kuakini Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='50', Fac_Name ='East Kapolei Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='50', Fac_Name ='East Kapolei Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='51', Fac_Name ='Kahuku Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='51', Fac_Name ='Kahuku Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='52', Fac_Name ='Palolo Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='52', Fac_Name ='Palolo Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='53', Fac_Name ='Makakilo Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='53', Fac_Name ='Makakilo Fire Station')>

try get pd_FacNELs_Wet <Facility_Chars(id='54', Fac_Name ='Aiea Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='54', Fac_Name ='Aiea Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='55', Fac_Name ='Kailua Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='55', Fac_Name ='Kailua Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='56', Fac_Name ='Kalihi-Kai Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='56', Fac_Name ='Kalihi-Kai Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='57', Fac_Name ='Waianae Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='57', Fac_Name ='Waianae Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='58', Fac_Name ='Waipahu Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='58', Fac_Name ='Waipahu Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='59', Fac_Name ='Air Craft One Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='60', Fac_Name ='Ewa Beach Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='60', Fac_Name ='Ewa Beach Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='61', Fac_Name ='Mililani Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='61', Fac_Name ='Mililani Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='62', Fac_Name ='Kalihi Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='62', Fac_Name ='Kalihi Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='63', Fac_Name ='Nanakuli Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='63', Fac_Name ='Nanakuli Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='64', Fac_Name ='Hauula Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='64', Fac_Name ='Hauula Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='65', Fac_Name ='Hawaii Kai Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='66', Fac_Name ='Kaneohe Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='66', Fac_Name ='Kaneohe Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='67', Fac_Name ='Kakaako Fire Station and Main Complex')>
try get pd_FacNELs_Dry <Facility_Chars(id='67', Fac_Name ='Kakaako Fire Station and Main Complex')>
try get pd_FacNELs_Wet <Facility_Chars(id='68', Fac_Name ='Ala Moana Regional Park (Including Maintenance Baseyard)')>
try get pd_FacNELs_Wet <Facility_Chars(id='69', Fac_Name ='Central Oahu Regional Park (Including Maintenance Baseyard)')>
try get pd_FacNELs_Wet <Facility_Chars(id='70', Fac_Name ='Puu Manawahua Radio Site')>
try get pd_FacNELs_Wet <Facility_Chars(id='71', Fac_Name ='Umi Street Fueling Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='72', Fac_Name ='Waimanalo Ridge Radio Site')>
try get pd_FacNELs_Wet <Facility_Chars(id='73', Fac_Name ='Kawailoa Landfill')>
try get pd_FacNELs_Wet <Facility_Chars(id='74', Fac_Name ='Kalaheo Closed Landfill')>
try get pd_FacNELs_Wet <Facility_Chars(id='75', Fac_Name ='Waipahu Closed Landfill')>
try get pd_FacNELs_Wet <Facility_Chars(id='76', Fac_Name ='Waianae Closed Landfill')>
try get pd_FacNELs_Wet <Facility_Chars(id='77', Fac_Name ='Kapaa Closed Landfill')>
try get pd_FacNELs_Wet <Facility_Chars(id='78', Fac_Name ='Pali Golf Course')>
try get pd_FacNELs_Dry <Facility_Chars(id='78', Fac_Name ='Pali Golf Course')>
try get pd_FacNELs_Wet <Facility_Chars(id='79', Fac_Name ='Ted Makalena Golf Course')>
try get pd_FacNELs_Dry <Facility_Chars(id='79', Fac_Name ='Ted Makalena Golf Course')>
try get pd_FacNELs_Wet <Facility_Chars(id='80', Fac_Name ='Ala Wai Golf Course')>
try get pd_FacNELs_Dry <Facility_Chars(id='80', Fac_Name ='Ala Wai Golf Course')>
try get pd_FacNELs_Wet <Facility_Chars(id='81', Fac_Name ='Ewa Villages Golf Course')>
try get pd_FacNELs_Dry <Facility_Chars(id='81', Fac_Name ='Ewa Villages Golf Course')>
try get pd_FacNELs_Wet <Facility_Chars(id='82', Fac_Name ='Kahuku Golf Course')>
try get pd_FacNELs_Dry <Facility_Chars(id='82', Fac_Name ='Kahuku Golf Course')>
try get pd_FacNELs_Wet <Facility_Chars(id='83', Fac_Name ='West Loch Golf Course')>
try get pd_FacNELs_Dry <Facility_Chars(id='83', Fac_Name ='West Loch Golf Course')>
try get pd_FacNELs_Wet <Facility_Chars(id='84', Fac_Name ='Kailua Corporation Yard')>
try get pd_FacNELs_Dry <Facility_Chars(id='84', Fac_Name ='Kailua Corporation Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='85', Fac_Name ='Kaneohe Corporation Yard')>
try get pd_FacNELs_Dry <Facility_Chars(id='85', Fac_Name ='Kaneohe Corporation Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='86', Fac_Name ='Kapaa Corporation Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='87', Fac_Name ='Kapolei Corporation Yard')>
try get pd_FacNELs_Dry <Facility_Chars(id='87', Fac_Name ='Kapolei Corporation Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='88', Fac_Name ='Kokea Corporation Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='89', Fac_Name ='Laie Corporation Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='90', Fac_Name ='Manana Corporation Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='91', Fac_Name ='Pearl City (AES) Corporation Yard')>
try get pd_FacNELs_Dry <Facility_Chars(id='91', Fac_Name ='Pearl City (AES) Corporation Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='92', Fac_Name ='Pearl City (DRM) Corporation Yard')>
try get pd_FacNELs_Dry <Facility_Chars(id='92', Fac_Name ='Pearl City (DRM) Corporation Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='93', Fac_Name ='Wahiawa Corporation Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='94', Fac_Name ='Waialua Corporation Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='95', Fac_Name ='Halawa AES Corporation Yard ')>
try get pd_FacNELs_Wet <Facility_Chars(id='96', Fac_Name ='Ahuimanu Dewatering Facility')>
try get pd_FacNELs_Dry <Facility_Chars(id='96', Fac_Name ='Ahuimanu Dewatering Facility')>
try get pd_FacNELs_Wet <Facility_Chars(id='97', Fac_Name ='Sand Island Dewatering Facility')>
try get pd_FacNELs_Dry <Facility_Chars(id='97', Fac_Name ='Sand Island Dewatering Facility')>
try get pd_FacNELs_Wet <Facility_Chars(id='98', Fac_Name ='Halawa DRM Corporation Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='99', Fac_Name ='Halawa CSM Baseyard')>
try get pd_FacNELs_Wet <Facility_Chars(id='100', Fac_Name ='Honouliuli Wastewater Treatment Plant')>
try get pd_FacNELs_Dry <Facility_Chars(id='100', Fac_Name ='Honouliuli Wastewater Treatment Plant')>
try get pd_FacNELs_Wet <Facility_Chars(id='101', Fac_Name ='Kailua Wastewater Treatment Plant')>
try get pd_FacNELs_Dry <Facility_Chars(id='101', Fac_Name ='Kailua Wastewater Treatment Plant')>
try get pd_FacNELs_Wet <Facility_Chars(id='102', Fac_Name ='Sand Island Wastewater Treatment Plant')>
try get pd_FacNELs_Dry <Facility_Chars(id='102', Fac_Name ='Sand Island Wastewater Treatment Plant')>
try get pd_FacNELs_Wet <Facility_Chars(id='103', Fac_Name ='Wahiawa Wastewater Treatment Plant')>
try get pd_FacNELs_Dry <Facility_Chars(id='103', Fac_Name ='Wahiawa Wastewater Treatment Plant')>
try get pd_FacNELs_Wet <Facility_Chars(id='104', Fac_Name ='Waianae Wastewater Treatment Plant')>
try get pd_FacNELs_Dry <Facility_Chars(id='104', Fac_Name ='Waianae Wastewater Treatment Plant')>
try get pd_FacNELs_Wet <Facility_Chars(id='105', Fac_Name ='Halawa (DRM) Corporation Yard')>
try get pd_FacNELs_Dry <Facility_Chars(id='105', Fac_Name ='Halawa (DRM) Corporation Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='106', Fac_Name ='Waialua Corporation & Refuse Collection Yard')>
try get pd_FacNELs_Dry <Facility_Chars(id='106', Fac_Name ='Waialua Corporation & Refuse Collection Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='107', Fac_Name ='Kalaheo Closed Sanitary Landfill')>
try get pd_FacNELs_Dry <Facility_Chars(id='107', Fac_Name ='Kalaheo Closed Sanitary Landfill')>
try get pd_FacNELs_Wet <Facility_Chars(id='108', Fac_Name ='Halawa (AES) Corporation Yard')>
try get pd_FacNELs_Dry <Facility_Chars(id='108', Fac_Name ='Halawa (AES) Corporation Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='109', Fac_Name ='Manana (PBEM) Corporation Yard')>
try get pd_FacNELs_Dry <Facility_Chars(id='109', Fac_Name ='Manana (PBEM) Corporation Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='110', Fac_Name ='Manana (DPR-MSS) Corporation Yard')>
try get pd_FacNELs_Dry <Facility_Chars(id='110', Fac_Name ='Manana (DPR-MSS) Corporation Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='111', Fac_Name ='Wahiawa Corporation & Refuse Collection Yard')>
try get pd_FacNELs_Dry <Facility_Chars(id='111', Fac_Name ='Wahiawa Corporation & Refuse Collection Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='112', Fac_Name ='Halawa (CSM) Baseyard (Corporation Yard)')>
try get pd_FacNELs_Dry <Facility_Chars(id='112', Fac_Name ='Halawa (CSM) Baseyard (Corporation Yard)')>
try get pd_FacNELs_Wet <Facility_Chars(id='113', Fac_Name ='Waianae Closed Sanitary Landfill')>
try get pd_FacNELs_Dry <Facility_Chars(id='113', Fac_Name ='Waianae Closed Sanitary Landfill')>
try get pd_FacNELs_Wet <Facility_Chars(id='114', Fac_Name ='Kapaa Closed Sanitary Landfill')>
try get pd_FacNELs_Dry <Facility_Chars(id='114', Fac_Name ='Kapaa Closed Sanitary Landfill')>

try get pd_FacNELs_Wet <Facility_Chars(id='115', Fac_Name ='Laie Corporation & Refuse Collection Yard')>
try get pd_FacNELs_Dry <Facility_Chars(id='115', Fac_Name ='Laie Corporation & Refuse Collection Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='116', Fac_Name ='Waipahu Closed Sanitary Landfill')>
try get pd_FacNELs_Dry <Facility_Chars(id='116', Fac_Name ='Waipahu Closed Sanitary Landfill')>
try get pd_FacNELs_Wet <Facility_Chars(id='117', Fac_Name ='Kokea (PBEM) Corporation Yard')>
try get pd_FacNELs_Dry <Facility_Chars(id='117', Fac_Name ='Kokea (PBEM) Corporation Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='118', Fac_Name ='Mililani-Mauka Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='118', Fac_Name ='Mililani-Mauka Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='119', Fac_Name ='Kapaa (AES) Corporation Yard')>
try get pd_FacNELs_Dry <Facility_Chars(id='119', Fac_Name ='Kapaa (AES) Corporation Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='120', Fac_Name ='Umi Street (AES) Fueling Facility')>
try get pd_FacNELs_Dry <Facility_Chars(id='120', Fac_Name ='Umi Street (AES) Fueling Facility')>
try get pd_FacNELs_Wet <Facility_Chars(id='121', Fac_Name ='Manana (DTS) Corporation Yard')>
try get pd_FacNELs_Dry <Facility_Chars(id='121', Fac_Name ='Manana (DTS) Corporation Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='122', Fac_Name ='Kaneohe Police Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='122', Fac_Name ='Kaneohe Police Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='123', Fac_Name ='Kawailoa Closed Sanitary Landfill')>
try get pd_FacNELs_Dry <Facility_Chars(id='123', Fac_Name ='Kawailoa Closed Sanitary Landfill')>
try get pd_FacNELs_Wet <Facility_Chars(id='124', Fac_Name ='Alapai Police Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='124', Fac_Name ='Alapai Police Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='125', Fac_Name ='McCully (-Moiliili) Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='125', Fac_Name ='McCully (-Moiliili) Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='126', Fac_Name ='Kalihi-Uka Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='126', Fac_Name ='Kalihi-Uka Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='127', Fac_Name ='Pearl City Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='127', Fac_Name ='Pearl City Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='128', Fac_Name ='Pearl City Police Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='128', Fac_Name ='Pearl City Police Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='129', Fac_Name ='Mokulele Fire Station and Training Center')>
try get pd_FacNELs_Dry <Facility_Chars(id='129', Fac_Name ='Mokulele Fire Station and Training Center')>
try get pd_FacNELs_Wet <Facility_Chars(id='130', Fac_Name ='Hawaii-Kai Fire Station')>
try get pd_FacNELs_Dry <Facility_Chars(id='130', Fac_Name ='Hawaii-Kai Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='131', Fac_Name ='Aircraft One Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='132', Fac_Name ='Central Oahu Regional Park (including Maintenance Baseyard)')>
try get pd_FacNELs_Dry <Facility_Chars(id='132', Fac_Name ='Central Oahu Regional Park (including Maintenance Baseyard)')>
try get pd_FacNELs_Wet <Facility_Chars(id='133', Fac_Name ='Kaneohe Wastewater Preliminary Treatment Facility')>
try get pd_FacNELs_Wet <Facility_Chars(id='134', Fac_Name ='Waipahu Wastewater Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='135', Fac_Name ='Laie Water Reclamation Facility')>
try get pd_FacNELs_Wet <Facility_Chars(id='136', Fac_Name ='Manoa Valley District Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='137', Fac_Name ='Laie Wastewater Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='138', Fac_Name ='Grandview Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='139', Fac_Name ='Waimanalo Wastewater Treatment Plant')>
try get pd_FacNELs_Wet <Facility_Chars(id='140', Fac_Name ='Kaneohe Community/Senior Center')>
try get pd_FacNELs_Wet <Facility_Chars(id='141', Fac_Name ='Nakula Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='142', Fac_Name ='Kaneohe Effluent Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='143', Fac_Name ='Wahiawa Botanical Garden')>
try get pd_FacNELs_Wet <Facility_Chars(id='144', Fac_Name ='Whitmore Pre-Treatment Facility')>
try get pd_FacNELs_Wet <Facility_Chars(id='145', Fac_Name ='Uwalu Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='146', Fac_Name ='Wahiawa District Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='147', Fac_Name ='Kaneohe Bay #2 Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='148', Fac_Name ='Ohai Place Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='149', Fac_Name ='Coconut Grove Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='150', Fac_Name ='Lakeview Circle Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='151', Fac_Name ='Homelani Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='152', Fac_Name ='Kemoo Farm Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='153', Fac_Name ='Makiki District Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='154', Fac_Name ='Kaimuki Community Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='155', Fac_Name ='Ala Wai Community Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='156', Fac_Name ='Beachwalk Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='157', Fac_Name ='Fort DeRussy Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='158', Fac_Name ='Moana Park Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='159', Fac_Name ='Auahi Coning Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='160', Fac_Name ='Nuuanu Nursery')>
try get pd_FacNELs_Wet <Facility_Chars(id='161', Fac_Name ='Evidence Warehouse')>
try get pd_FacNELs_Wet <Facility_Chars(id='162', Fac_Name ='Kaneohe District Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='163', Fac_Name ='Kahaluu Housing Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='164', Fac_Name ='Punawai Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='165', Fac_Name ='Waikapoki Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='166', Fac_Name ='Booth District Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='167', Fac_Name ='Kahanahou Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='168', Fac_Name ='Kalihi Valley District Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='169', Fac_Name ='Halawa District Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='170', Fac_Name ='Kaneohe Bay #3 Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='171', Fac_Name ='Kaneohe Bay #4 Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='172', Fac_Name ='Kaneohe Bay #5 Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='173', Fac_Name ='Kahawai Stream Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='174', Fac_Name ='Ala Puumalu Community Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='175', Fac_Name ='Lanakila District Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='176', Fac_Name ='Moanalua District Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='177', Fac_Name ='Aiea District Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='178', Fac_Name ='Pacific Palisades Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='179', Fac_Name ='Kailua Heights Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='180', Fac_Name ='Waipio Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='181', Fac_Name ='Mililani District Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='182', Fac_Name ='Kalakaua District Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='183', Fac_Name ='Foster Botanical Garden')>
try get pd_FacNELs_Wet <Facility_Chars(id='184', Fac_Name ='Waimalu Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='185', Fac_Name ='Chinatown Clean Team')>
try get pd_FacNELs_Wet <Facility_Chars(id='186', Fac_Name ='Salt Lake District Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='187', Fac_Name ='Paalaa Kai Wastewater Treatment Plant')>
try get pd_FacNELs_Wet <Facility_Chars(id='188', Fac_Name ='Halawa Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='189', Fac_Name ='Mililani Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='190', Fac_Name ='Waipahu Tree Farm')>
try get pd_FacNELs_Wet <Facility_Chars(id='191', Fac_Name ='Awa Street Pump Station')>

try get pd_FacNELs_Wet <Facility_Chars(id='192', Fac_Name ='Kamehameha Highway (Keehi Lagoon) Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='193', Fac_Name ='Hart Street Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='194', Fac_Name ='Aliamanu #2 Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='195', Fac_Name ='Aliamanu #1 Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='196', Fac_Name ='West Loch Shoreline Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='197', Fac_Name ='Waiawa Industrial Park Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='198', Fac_Name ='Hanauma Bay Nature Preserve')>
try get pd_FacNELs_Wet <Facility_Chars(id='199', Fac_Name ='Pearl City Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='200', Fac_Name ='Sand Island Industrial Park Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='201', Fac_Name ='Public Baths Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='202', Fac_Name ='Kapiolani Nursery')>
try get pd_FacNELs_Wet <Facility_Chars(id='203', Fac_Name ='Kunia Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='204', Fac_Name ='West Loch Estates Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='205', Fac_Name ='West Loch Fairways Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='206', Fac_Name ='Neal Blaisdell Center')>
try get pd_FacNELs_Dry <Facility_Chars(id='206', Fac_Name ='Neal Blaisdell Center')>
try get pd_FacNELs_Wet <Facility_Chars(id='207', Fac_Name ='Homeland Security Division Storage Facility')>
try get pd_FacNELs_Wet <Facility_Chars(id='208', Fac_Name ='Puunui District Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='209', Fac_Name ='Waimanalo District Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='210', Fac_Name ='Kahuku Wastewater Treatment Plant')>
try get pd_FacNELs_Wet <Facility_Chars(id='211', Fac_Name ='Kailua District Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='212', Fac_Name ='Enchanted Lake Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='213', Fac_Name ='Kuliouou Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='214', Fac_Name ='Alala Point Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='215', Fac_Name ='Pearl City District Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='216', Fac_Name ='Niu Valley Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='217', Fac_Name ='Aala Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='218', Fac_Name ='Makakilo Community Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='219', Fac_Name ='Paiko Drive Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='220', Fac_Name ='Koko Crater Botanical Garden')>
try get pd_FacNELs_Wet <Facility_Chars(id='221', Fac_Name ='Petrie Community Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='222', Fac_Name ='Kilauea District Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='223', Fac_Name ='Nanakuli District Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='224', Fac_Name ='Kahala Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='225', Fac_Name ='Ala Moana #1 and #2 Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='226', Fac_Name ='Makakilo Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='227', Fac_Name ='Waipahu District Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='228', Fac_Name ='Nanakuli Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='229', Fac_Name ='Lualualei Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='230', Fac_Name ='West Beach #1 Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='231', Fac_Name ='West Beach #2 Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='232', Fac_Name ='Kapolei Business Park Wastewater Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='233', Fac_Name ='Ewa Beach Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='234', Fac_Name ='Halekou Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='235', Fac_Name ='Waikalua Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='236', Fac_Name ='Maunawili Estates Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='237', Fac_Name ='Palolo District Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='238', Fac_Name ='Kaneohe Bay #1 Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='239', Fac_Name ='Maunawili Park Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='240', Fac_Name ='Kukanono Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='241', Fac_Name ='Hoomaluhia Botanical Garden')>
try get pd_FacNELs_Wet <Facility_Chars(id='242', Fac_Name ='Kahaluu Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='243', Fac_Name ='Queen Kapiolani Garden')>
try get pd_FacNELs_Wet <Facility_Chars(id='244', Fac_Name ='Airport Vehicle Maintenance Yard')>
try get pd_FacNELs_Dry <Facility_Chars(id='244', Fac_Name ='Airport Vehicle Maintenance Yard')>
try get pd_FacNELs_Wet <Facility_Chars(id='245', Fac_Name ='Ala Moana Regional Park (including Maintenance Baseyard)')>
try get pd_FacNELs_Dry <Facility_Chars(id='245', Fac_Name ='Ala Moana Regional Park (including Maintenance Baseyard)')>
try get pd_FacNELs_Wet <Facility_Chars(id='246', Fac_Name ='McCully District Park')>
try get pd_FacNELs_Wet <Facility_Chars(id='247', Fac_Name ='Ahuimanu Pre-Treatment Facility')>
try get pd_FacNELs_Wet <Facility_Chars(id='248', Fac_Name ='Laenani Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='249', Fac_Name ='Alii Bluffs Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='250', Fac_Name ='Heeia Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='251', Fac_Name ='Miomio Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='252', Fac_Name ='Kailua Road Pump Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='253', Fac_Name ='Kualoa Regional Park (including Maintenance Baseyard)')>
try get pd_FacNELs_Dry <Facility_Chars(id='253', Fac_Name ='Kualoa Regional Park (including Maintenance Baseyard)')>
try get pd_FacNELs_Wet <Facility_Chars(id='254', Fac_Name ='Waipio Peninsula Soccer Complex (including Maintenance Baseyard)')>
try get pd_FacNELs_Dry <Facility_Chars(id='254', Fac_Name ='Waipio Peninsula Soccer Complex (including Maintenance Baseyard)')>
try get pd_FacNELs_Wet <Facility_Chars(id='255', Fac_Name ='Kapiolani District (Regional) Park (including Maintenance Baseyard)')>
try get pd_FacNELs_Dry <Facility_Chars(id='255', Fac_Name ='Kapiolani District (Regional) Park (including Maintenance Baseyard)')>
try get pd_FacNELs_Wet <Facility_Chars(id='256', Fac_Name ='Neal S. Blaisdell Park (including Maintenance Baseyard)')>
try get pd_FacNELs_Dry <Facility_Chars(id='256', Fac_Name ='Neal S. Blaisdell Park (including Maintenance Baseyard)')>
try get pd_FacNELs_Wet <Facility_Chars(id='257', Fac_Name ='Keehi Lagoon Park Maintenance Baseyard')>
try get pd_FacNELs_Dry <Facility_Chars(id='257', Fac_Name ='Keehi Lagoon Park Maintenance Baseyard')>
try get pd_FacNELs_Wet <Facility_Chars(id='258', Fac_Name ='Honolulu Zoo')>
try get pd_FacNELs_Dry <Facility_Chars(id='258', Fac_Name ='Honolulu Zoo')>
try get pd_FacNELs_Wet <Facility_Chars(id='259', Fac_Name ='Waikiki Shell')>
try get pd_FacNELs_Dry <Facility_Chars(id='259', Fac_Name ='Waikiki Shell')>
try get pd_FacNELs_Wet <Facility_Chars(id='260', Fac_Name ='Waianae District Park (including Maintenance Baseyard)')>
try get pd_FacNELs_Dry <Facility_Chars(id='260', Fac_Name ='Waianae District Park (including Maintenance Baseyard)')>
try get pd_FacNELs_Wet <Facility_Chars(id='261', Fac_Name ='Kaiaka Bay Beach Park (including Maintenance Baseyard)')>
try get pd_FacNELs_Dry <Facility_Chars(id='261', Fac_Name ='Kaiaka Bay Beach Park (including Maintenance Baseyard)')>
try get pd_FacNELs_Wet <Facility_Chars(id='262', Fac_Name ='Koko Head Regional Park (Uka) (including Maintenance Baseyard)')>
try get pd_FacNELs_Dry <Facility_Chars(id='262', Fac_Name ='Koko Head Regional Park (Uka) (including Maintenance Baseyard)')>
try get pd_FacNELs_Wet <Facility_Chars(id='263', Fac_Name ='Waterfront Fire Station')>
try get pd_FacNELs_Wet <Facility_Chars(id='264', Fac_Name ='Waipio Soccer Complex (including Maintenance Baseyard)')>
Wet NELs:

,wrs_tss,wrs_turbidity,wrs_p,wrs_n,wrs_nn,wrs_an,wrs_og,wrs_cu,wrs_zn,wrs_fe,wrs_phmin,wrs_phmax
Facility_ID,,,,,,,,,,,,
1,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
2,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
3,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
4,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
5,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
6,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
7,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
8,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
9,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6
10,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
11,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
12,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
13,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
14,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
15,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
16,NaN,3.00,0.05,0.35,0.025,0.0100,15.0,NaN,NaN,NaN,7.0,8.6
18,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
19,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
20,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
21,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
22,NaN,1.25,0.04,0.25,0.014,0.0085,15.0,NaN,NaN,NaN,7.6,8.6
24,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
25,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
26,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
29,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
30,NaN,8.00,0.13,0.55,0.040,0.0200,15.0,NaN,NaN,NaN,6.8,8.8
31,NaN,1.25,0.04,0.25,0.014,0.0085,15.0,NaN,NaN,NaN,7.6,8.6
32,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
33,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
34,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...
115,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
116,NaN,8.00,0.13,0.55,0.040,0.0200,15.0,NaN,NaN,1000.0,6.8,8.8
117,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
118,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
119,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
120,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
121,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
122,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
123,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,1000.0,5.5,8.0
124,NaN,1.25,0.04,0.25,0.014,0.0085,15.0,NaN,NaN,NaN,7.6,8.6
125,NaN,3.00,0.05,0.35,0.025,0.0100,15.0,NaN,NaN,NaN,7.0,8.6
126,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
127,NaN,8.00,0.13,0.55,0.040,0.0200,15.0,NaN,NaN,NaN,6.8,8.8
128,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
129,NaN,1.25,0.04,0.25,0.014,0.0085,15.0,NaN,NaN,NaN,7.6,8.6
130,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
132,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
206,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
244,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
245,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
253,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
254,NaN,8.00,0.13,0.55,0.040,0.0200,15.0,NaN,NaN,NaN,6.8,8.8
255,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6
256,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
257,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
258,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6
259,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6
260,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0
261,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
262,50.0,15.00,0.10,0.52,0.180,NaN,15.0,NaN,NaN,NaN,5.5,8.0

Dry NELs:

,wrs_tss,wrs_turbidity,wrs_p,wrs_n,wrs_nn,wrs_an,wrs_og,wrs_cu,wrs_zn,wrs_fe,wrs_phmin,wrs_phmax
Facility_ID,,,,,,,,,,,,
1,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
2,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
3,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
4,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
5,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
6,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
7,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
8,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
9,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6
10,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
11,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
12,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
13,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
14,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
15,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
16,NaN,3.00,0.05,0.35,0.025,0.0100,15.0,NaN,NaN,NaN,7.0,8.6
18,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
19,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
20,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
21,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
22,NaN,1.25,0.04,0.25,0.014,0.0085,15.0,NaN,NaN,NaN,7.6,8.6
24,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
25,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
26,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
29,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
30,NaN,8.00,0.13,0.55,0.040,0.0200,15.0,NaN,NaN,NaN,6.8,8.8
31,NaN,1.25,0.04,0.25,0.014,0.0085,15.0,NaN,NaN,NaN,7.6,8.6
32,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
33,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
34,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...
115,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
116,NaN,8.00,0.13,0.55,0.040,0.0200,15.0,NaN,NaN,1000.0,6.8,8.8
117,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
118,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
119,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
120,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
121,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
122,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
123,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,1000.0,5.5,8.0
124,NaN,1.25,0.04,0.25,0.014,0.0085,15.0,NaN,NaN,NaN,7.6,8.6
125,NaN,3.00,0.05,0.35,0.025,0.0100,15.0,NaN,NaN,NaN,7.0,8.6
126,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
127,NaN,8.00,0.13,0.55,0.040,0.0200,15.0,NaN,NaN,NaN,6.8,8.8
128,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
129,NaN,1.25,0.04,0.25,0.014,0.0085,15.0,NaN,NaN,NaN,7.6,8.6
130,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,5.5,8.0
132,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
206,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
244,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
245,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
253,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
254,NaN,8.00,0.13,0.55,0.040,0.0200,15.0,NaN,NaN,NaN,6.8,8.8
255,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6
256,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
257,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
258,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6
259,NaN,0.50,0.03,0.18,0.010,0.0050,15.0,NaN,NaN,NaN,7.6,8.6
260,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0
261,NaN,3.00,0.05,0.35,0.020,0.0130,15.0,NaN,NaN,NaN,7.0,8.6
262,30.0,5.50,0.06,0.38,0.090,NaN,15.0,NaN,NaN,NaN,5.5,8.0

In [7]:
import pandas as pd
import numpy as np
import math
import datetime

In [8]:
#let's work on calculating exceedance values

import mod_EffluentLimit as EffLim

#get all sampling data
q = session.query(ExPollConcs.id, ExPollConcs.facility_id.label('Facility_ID'), ExPollConcs.sample_date, 
        ExPollConcs.c_tss,
        ExPollConcs.c_turbidity,
        ExPollConcs.c_p,
        ExPollConcs.c_n,
        ExPollConcs.c_nn,
        ExPollConcs.c_an,
        ExPollConcs.c_og,
        ExPollConcs.c_cu,
        ExPollConcs.c_zn,
        ExPollConcs.c_fe,
        ExPollConcs.c_phmin,
        ExPollConcs.c_phmax  
         ).order_by(ExPollConcs.facility_id) #.filter(ExPollConcs.facility_id == FacID)
pd_Concs = pd.read_sql(q.statement,session.bind) 
#tidy up the sampling data
from datetime import datetime
pd_Concs['sample_date'] = pd.to_datetime(pd_Concs['sample_date'], format="%m/%d/%Y")
pd_Concs = pd_Concs.applymap(lambda x: float('nan') if x is None else x) #assign NaN values to any None element

#for each pollutant constituent, do the Exceedance Calculation = max(0,(Constituent Concentration - NEL))
# if no exceedance, then report 0. report NaN sample result is NaN
pd_FacExceedances = pd.DataFrame() #make an empty dataframe.  we will append to it.
for Facs in session.query(Facility_Chars.id).order_by(Facility_Chars.id):
    FacID = Facs[0]
    if (FacID in pd_Concs.Facility_ID.values) and (FacID in pd_FacsNELs_Dry.index) and (FacID in pd_FacsNELs_Wet.index):
        pd_temp = pd_Concs.loc[pd_Concs['Facility_ID'] == FacID] #slice facility id rows into a temp dataframe
        pd_temp.is_copy = False #acknowledge that pd_temp is NOT a copy of pd_Concs. but intended to be treated as new dataframe
        for Constituent in pollLS:
            pd_temp['c_' + Constituent]  = pd_Concs.apply(lambda row: #for each row in pd_Concs:
                                     EffLim.ExceedanceCalc(row, Constituent, FacID, pd_FacsNELs_Wet, pd_FacsNELs_Dry, True), axis = 1)

        pd_FacExceedances = pd.concat([pd_FacExceedances,pd_temp])
print('Concentrations in excess of wet/dry season NELs')
display(pd_FacExceedances)

Concentrations in excess of wet/dry season NELs

,id,Facility_ID,sample_date,c_tss,c_turbidity,c_p,c_n,c_nn,c_an,c_og,c_cu,c_zn,c_fe,c_phmin,c_phmax
0,35,1,2017-04-19,72.0,NaN,NaN,1.910,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
1,36,1,2017-02-11,9.0,0.0,0.000,0.060,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.30
2,37,1,2016-12-04,30.0,56.2,0.200,0.390,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.20
3,38,1,2016-06-17,53.0,75.9,0.190,0.560,0.110,NaN,0.0,NaN,NaN,NaN,0.00,0.00
4,39,1,2015-02-20,0.0,2.5,0.076,1.310,0.010,NaN,0.0,NaN,NaN,NaN,0.00,0.54
5,40,1,2014-04-13,0.0,0.0,0.144,1.517,0.067,NaN,0.0,NaN,NaN,NaN,0.00,0.00
6,41,1,2013-03-09,113.0,9.4,0.055,0.679,0.059,NaN,0.0,NaN,NaN,NaN,0.00,0.09
7,80,2,2017-04-20,NaN,0.0,NaN,0.260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,81,2,2017-01-21,0.0,16.0,0.000,1.060,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.00
9,82,2,2016-05-05,0.0,0.0,0.006,2.292,0.122,NaN,0.0,NaN,NaN,NaN,0.00,0.00
10,83,2,2014-06-03,0.0,0.0,0.015,0.756,0.026,NaN,0.0,NaN,NaN,NaN,0.00,0.00
11,84,2,2013-03-09,30.0,0.0,0.067,0.241,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.00
12,51,3,2017-04-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00
13,52,3,2016-12-01,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.00,0.50
14,53,3,2015-02-14,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.00,0.00
15,54,3,2013-03-14,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.00,0.00
16,60,4,2013-04-24,197.0,0.0,0.655,0.829,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.00
17,62,5,2017-01-24,199.0,31.0,2.200,15.330,0.000,NaN,0.0,NaN,NaN,NaN,NaN,NaN
18,63,5,2016-12-08,190.0,752.0,0.037,26.730,0.000,NaN,6.0,NaN,NaN,NaN,0.00,0.00
19,64,5,2016-05-25,59.5,7.7,2.860,14.162,0.052,NaN,0.0,NaN,NaN,NaN,0.00,0.00
20,65,5,2013-03-09,82.0,38.0,2.430,0.000,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.00
21,111,6,2016-12-31,1960.0,4166.0,10.200,26.730,3.500,NaN,44.0,NaN,NaN,NaN,0.00,0.70
22,87,7,2014-06-03,0.0,12.8,0.000,0.323,0.043,NaN,0.0,NaN,NaN,NaN,0.00,0.00
23,50,8,2013-03-07,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.00,0.07
24,112,9,2016-12-31,NaN,4180.5,10.270,27.070,3.670,10.495,44.0,NaN,NaN,NaN,1.59,0.10
25,113,10,2016-12-31,1960.0,4166.0,10.200,26.730,3.500,NaN,44.0,NaN,NaN,NaN,0.00,0.70
26,114,11,2016-12-31,1960.0,4166.0,10.200,26.730,3.500,NaN,44.0,NaN,NaN,NaN,0.00,0.70
27,97,12,2013-03-22,12.5,19.4,0.351,2.127,0.197,NaN,0.0,NaN,NaN,NaN,0.00,0.07
28,106,13,2017-04-28,230.0,121.0,1.700,20.580,1.320,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,107,13,2017-02-06,30.0,58.0,1.100,4.380,0.540,NaN,0.0,NaN,NaN,NaN,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,5,108,2017-02-11,NaN,6.0,0.046,4.550,0.030,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,6,108,2016-12-08,0.0,13.1,0.100,0.720,0.190,NaN,0.0,NaN,NaN,NaN,0.00,0.00
78,7,108,2016-06-17,0.0,18.8,0.122,0.470,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.00
79,8,108,2014-05-02,12.5,23.8,0.170,0.781,0.011,NaN,0.0,NaN,NaN,NaN,0.00,0.00
80,9,108,2013-03-09,3.5,NaN,0.237,1.965,0.365,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,10,108,2013-01-27,NaN,8.6,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.00,0.00
82,124,109,2016-12-31,1960.0,4166.0,10.200,26.730,3.500,NaN,44.0,NaN,NaN,NaN,0.00,0.70
83,125,110,2016-12-31,1960.0,4166.0,10.200,26.730,3.500,NaN,44.0,NaN,NaN,NaN,0.00,0.70
84,126,111,2016-12-31,NaN,NaN,NaN,NaN,NaN,NaN,44.0,NaN,NaN,NaN,0.00,0.70
85,11,112,2014-05-02,0.5,11.9,0.101,0.772,0.002,NaN,0.0,NaN,NaN,NaN,0.00,0.00
86,12,112,2013-01-27,183.0,225.0,0.458,0.723,0.023,NaN,0.0,NaN,NaN,NaN,0.00,0.00
87,127,113,2016-12-31,1960.0,4166.0,10.200,26.730,3.500,NaN,44.0,NaN,NaN,18500.0,0.00,0.70
88,43,114,2106-12-01,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,5350.0,0.00,0.00
89,44,114,2017-04-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4600.0,NaN,NaN
90,45,114,2017-02-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3650.0,NaN,NaN
91,46,114,2016-05-25,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,3680.0,0.00,0.00
92,47,114,2015-02-14,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,4280.0,0.00,0.00
93,48,114,2014-04-12,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,440.0,0.00,0.00
94,49,114,2013-03-07,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,2570.0,0.00,0.00
95,66,115,2015-11-20,0.0,1.8,1.300,0.945,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.00
96,67,115,2015-11-19,162.0,108.8,0.676,1.640,0.000,NaN,0.0,NaN,NaN,NaN,0.00,0.00
97,109,116,2017-04-20,NaN,13.0,0.148,0.940,0.250,0.000,0.0,NaN,NaN,1650.0,0.00,0.00
98,128,117,2016-12-31,NaN,4178.0,10.250,26.900,3.660,10.487,44.0,NaN,NaN,NaN,0.99,0.10
99,42,119,2014-04-12,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.00,0.00
100,69,121,2017-04-20,NaN,28.0,0.100,0.180,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,70,121,2017-02-06,0.0,20.5,0.290,1.770,0.630,NaN,0.0,NaN,NaN,NaN,0.00,0.00
102,71,121,2013-03-09,105.0,0.8,0.675,1.701,0.281,NaN,0.0,NaN,NaN,NaN,0.00,0.00
103,57,123,2017-04-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13400.0,NaN,NaN
104,58,123,2017-02-11,91.0,110.0,0.557,0.570,0.380,NaN,0.0,NaN,NaN,7290.0,0.00,0.00
105,59,123,2015-11-20,22.0,72.5,0.224,4.800,3.440,NaN,0.0,NaN,NaN,7740.0,0.00,0.00

In [9]:
'''
CALCULATE AGE FACTOR WEIGHTED AVERAGE FOR EACH CONSTITUENT:

Age factor acknowledges fact that more recent samples are a better representation of facility pollutant discharge 
(i.e. sampling data) and housekeeping-operations (i.e. inspections) realities. But, historic data as a whole also tells part 
of story (i.e. we want to dampen whipsaw effects that may occur if we only considered most recent data).

AF = exp(-SampleRank)
SampleRank = Newest sample = 1
              Second Newest sample = 2
              ...
              nth Newest Sample = n (out of n samples)
'''
#calculate age factor weighted averages for each constituent of each facility.
#write these averages into a dataframe called pd_AFWFacExceedances
#use exceedance values in pd_FacExceedances
#we will process each facility separately. The results will be added to the pd_AFWFacExceedances dataframe
pd_AFWFacExceedances = pd.DataFrame() #make an empty dataframe.  we will append to it.
ShowCalculations = False
UnqFacIDs = pd_FacExceedances.Facility_ID.unique() #get unique facility IDs
for FacID in UnqFacIDs:
    pd_temp = pd_FacExceedances.loc[pd_FacExceedances['Facility_ID'] == FacID].set_index('sample_date') #write current fac's data to temp df
    pd_AFWFacExceedances = pd.concat([pd_AFWFacExceedances,EffLim.Calc_AFWtdExceedances(pd_temp,pollLS,ShowCalculations)]) #calculate age factor weighted averages
print ('Age Factor Weighted Averages:')
display(pd_AFWFacExceedances)

Age Factor Weighted Averages:

,Facility_ID,AFWtd_c_tss,AFWtd_c_turbidity,AFWtd_c_p,AFWtd_c_n,AFWtd_c_nn,AFWtd_c_an,AFWtd_c_og,AFWtd_c_cu,AFWtd_c_zn,AFWtd_c_fe,AFWtd_c_phmin,AFWtd_c_phmax
0,1,52.064543,19.729711,0.067223,1.296165,0.029425,NaN,0.000000,NaN,NaN,NaN,0.000000,0.093351
0,2,0.961758,3.745947,0.004876,0.637805,0.031165,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,3,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,0.118441
0,4,197.000000,0.000000,0.655000,0.829000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,5,180.960566,199.986459,1.752511,17.437221,0.004532,NaN,1.421297,NaN,NaN,NaN,0.000000,0.000000
0,6,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
0,7,0.000000,12.800000,0.000000,0.323000,0.043000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,8,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,0.070000
0,9,NaN,4180.500000,10.270000,27.070000,3.670000,10.495000,44.000000,NaN,NaN,NaN,1.590000,0.100000
0,10,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
0,11,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
0,12,12.500000,19.400000,0.351000,2.127000,0.197000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.070000
0,13,336.807197,469.755775,1.674704,15.243243,1.075904,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,14,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
0,15,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
0,34,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
0,41,NaN,4173.000000,10.170000,26.700000,3.640000,10.480000,44.000000,NaN,NaN,NaN,0.790000,0.000000
0,84,0.000000,0.000000,0.000000,0.496000,0.016000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,85,NaN,4178.000000,10.250000,26.900000,3.660000,10.487000,44.000000,NaN,NaN,NaN,0.990000,0.100000
0,87,NaN,4179.750000,10.260000,27.000000,3.666000,10.491500,44.000000,NaN,NaN,NaN,1.590000,0.100000
0,91,16.559240,4.868334,0.504841,4.083533,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,92,0.000000,0.000000,0.258000,2.260000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,96,NaN,NaN,NaN,NaN,NaN,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
0,97,NaN,4178.000000,10.250000,26.900000,3.660000,10.487000,44.000000,NaN,NaN,NaN,0.990000,0.100000
0,100,696.752557,515.665239,1.231643,1.193739,0.687195,NaN,0.000000,44.093122,542.332084,NaN,0.000000,0.100000
0,101,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,81.689667,112.670680,NaN,0.000000,0.086681
0,102,NaN,49.764373,1.282323,1.405886,0.499160,0.074351,0.000000,63.327487,224.735333,NaN,0.009474,0.000000
0,103,NaN,NaN,NaN,NaN,NaN,NaN,10.768053,7.662373,109.236597,NaN,0.000000,0.000000
0,104,NaN,15.400000,0.860000,3.290000,2.820000,0.103000,0.000000,16.000000,0.000000,NaN,0.000000,0.000000
0,105,14.732924,16.599986,0.691190,0.829885,0.006187,NaN,0.000000,NaN,NaN,NaN,0.000000,0.070236
0,106,NaN,4178.000000,10.250000,26.900000,3.655000,10.490000,44.000000,NaN,NaN,NaN,0.990000,0.100000
0,107,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,14500.000000,0.000000,0.000000
0,108,1.201509,7.864125,0.152872,2.174979,0.101017,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,109,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
0,110,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
0,111,NaN,NaN,NaN,NaN,NaN,NaN,44.000000,NaN,NaN,NaN,0.000000,0.700000
0,112,49.581809,69.211417,0.197012,0.758822,0.007648,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,113,1960.000000,4166.000000,10.200000,26.730000,3.500000,NaN,44.000000,NaN,NaN,18500.000000,0.000000,0.700000
0,114,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,4939.571691,0.000000,0.000000
0,115,43.568510,30.576732,1.132181,1.131914,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,116,NaN,13.000000,0.148000,0.940000,0.250000,0.000000,0.000000,NaN,NaN,1650.000000,0.000000,0.000000
0,117,NaN,4178.000000,10.250000,26.900000,3.660000,10.487000,44.000000,NaN,NaN,NaN,0.990000,0.100000
0,119,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,121,28.238849,23.715705,0.198266,0.706055,0.179478,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
0,123,72.443042,99.914697,0.467443,1.707622,1.202961,NaN,0.000000,NaN,NaN,11395.135998,0.000000,0.000000

In [10]:
#calculate monthly runoff volumes in cubic feet for each facility.
#hold data in dataframe called pd_RunoffVols
import calendar

#get facility imperviousness and area. order by Facility_ID so it's given in same order as monthly rain data dataframe
q_facDat = session.query(Facility_Chars.id.label('Facility_ID'), 
                         Facility_Chars.Fac_Area, 
                         Facility_Chars.Imperv.label('Imperv')).order_by('Facility_ID')
pd_facDat = pd.read_sql(q_facDat.statement,session.bind)

#get monthly rain data for each facility. order by facility_id so order matches facility data dataframe
q_rain = session.query(Facility_Chars.id.label('Facility_ID'), Facility_Monthly_Rain).filter(
    Facility_Chars.facility_monthly_rain_id == Facility_Monthly_Rain.id).order_by('Facility_ID')
pd_rainDat = pd.read_sql(q_rain.statement,session.bind)

#create a new dataframe to hold rain volumes
pd_RunoffVols = pd_facDat.loc[:,['Facility_ID']] #put facilities into the new dataframe
#now calculate volumes for each month:
for mo in range(1,13):
    pd_RunoffVols[calendar.month_name[mo]] = pd.DataFrame(pd_facDat['Fac_Area'] * pd_facDat['Imperv'] * pd_rainDat[calendar.month_name[mo]]/12)
#add monthlys together to get annual volume
pd_RunoffVols['Annual_Volume'] = pd_RunoffVols[[calendar.month_name[mo] for mo in range (1,13)]].sum(axis = 1)

display(pd_RunoffVols)

,Facility_ID,January,February,March,April,May,June,July,August,September,October,November,December,Annual_Volume
0,1,303546.250000,344735.416667,362643.750000,256984.583333,162070.416667,144162.083333,147743.750000,142371.250000,175501.666667,266834.166667,343840.000000,402937.500000,3.053371e+06
1,2,338916.586546,246040.406579,241152.186581,101837.916631,131167.236620,96134.993299,96949.696632,78211.519972,105096.729963,263149.176573,351951.839875,338101.883213,2.388710e+06
2,3,110527.319917,106519.649920,112214.759916,75723.869943,59693.189955,41553.209969,56740.169957,43662.509967,47670.179964,87746.879934,123183.119908,120019.169910,9.852540e+05
3,4,21601.669993,18133.109161,16552.499161,9439.754164,7771.332498,6454.157498,7376.179998,7595.709164,9878.812497,13698.619996,17298.898328,18177.014994,1.539778e+05
4,5,50545.681653,57766.493317,56824.648318,36261.032490,25272.840826,21191.512494,21348.486661,23232.176660,26528.634159,43795.792488,56039.777485,65615.201649,4.844223e+05
5,6,15974.190828,18427.906661,18127.451661,11667.669163,7911.981664,6810.313331,6910.464998,7311.071664,8462.815831,13871.005829,18027.299994,20831.546660,1.543337e+05
6,7,10058.130000,7407.150000,7069.280000,2858.900000,3742.560000,2521.030000,2754.940000,2365.090000,3066.820000,7407.150000,10447.980000,9928.180000,6.962721e+04
7,8,31502.679978,29712.754979,32397.642477,21658.092485,17183.279988,11873.169158,16168.989155,12529.474991,13603.429990,24999.285815,35142.194142,34426.224142,2.811972e+05
8,9,9823.037518,8034.365015,6568.240012,3782.602507,2140.542504,967.642502,1554.092503,3548.022506,3108.185006,6978.755013,7565.205014,9529.812517,6.360050e+04
9,10,7359.825004,4947.100003,3973.900002,2108.600001,1581.450001,648.800000,811.000000,3000.700002,3467.025002,4460.500002,5170.125003,5920.300003,4.344933e+04
10,11,38203.193333,36076.720000,44289.306667,30210.586667,24857.740000,15178.620000,20971.426667,22291.306667,28010.786667,32850.346667,40256.340000,39083.113333,3.722795e+05
11,12,15778.000002,11261.833335,11004.583335,6116.833334,6517.000001,4287.500001,4516.166667,4201.750001,5945.333334,10947.416668,14520.333335,15835.166669,1.109319e+05
12,13,10628.624992,8401.674994,9758.089992,4534.879997,4332.429997,2388.909998,2996.259998,2490.134998,2530.624998,6316.439995,10567.889992,11053.769991,7.599973e+04
13,14,5740.670832,3474.224166,3354.937499,1520.905000,1625.280833,954.293333,1177.955833,1371.796666,1893.675833,3518.956666,4652.179999,4726.734165,3.401161e+04
14,15,4947.973337,3860.506670,3806.133336,1644.793335,1359.333334,679.666667,747.633334,1372.926668,1549.640001,3425.520003,3710.980003,4730.480004,3.183559e+04
15,16,9943.041593,7764.165194,9544.092393,5892.172796,3805.361597,2700.579198,3836.049997,3437.100798,3651.919597,7917.607194,9329.273593,11569.526792,7.939089e+04
16,17,6286.404596,3929.002873,4753.608414,2454.414140,2900.671257,2046.961990,2289.493032,1610.406116,2124.571924,4317.052539,5578.213955,6296.105838,4.458691e+04
17,18,35481.116653,26756.251902,37392.277503,23515.587852,16868.071851,13378.125951,16784.977901,14541.441251,15206.192851,27005.533752,35481.116653,41297.693153,3.037084e+05
18,19,5674.058377,4342.665152,6022.543852,5289.830802,3601.016576,3761.856027,4360.536202,3770.791552,3886.953377,4682.215102,5566.832077,6085.092528,5.704439e+04
19,20,5385.942648,5975.644397,5385.942648,3787.195682,3197.493932,2201.553199,2725.732532,1952.568016,2293.284582,5032.121598,6408.092347,6303.256480,5.064883e+04
20,21,5361.025440,3381.771549,2765.712391,1756.423983,1140.364825,458.767458,550.520950,1690.885775,2005.469175,3276.910416,3486.632683,3932.292499,2.980678e+04
21,22,42046.395613,46376.115985,52726.372531,46857.196026,28768.586472,28191.290422,29634.530546,23957.786059,30596.690629,39833.427423,47626.924092,58499.333027,4.751146e+05
22,23,72450.158118,65254.205619,92239.027491,53315.466245,45301.791871,33035.963747,41867.359996,40886.093746,60674.963119,68198.004369,83244.086867,78501.299993,7.349684e+05
23,24,8522.309946,7009.692163,8116.485663,5294.162239,4002.903156,2803.876865,4039.796273,2564.071607,2933.002774,6677.654113,8891.241112,9094.153254,6.994935e+04
24,25,14393.588608,11631.438681,15001.768408,12873.139107,8387.813080,7880.996579,9376.105255,8717.243805,9198.719480,11555.416206,14570.974383,16522.217909,1.401094e+05
25,26,9292.808714,7348.278256,7409.684481,4298.435749,3950.467140,3377.342374,3336.404891,2804.217607,3561.561049,7778.121831,9497.496130,9558.902355,7.221372e+04
26,27,7648.207468,4819.151134,3804.593001,2555.906067,1599.880134,565.811267,702.386400,2146.180667,2868.077800,4916.704801,5189.855067,5755.666334,4.257242e+04
27,28,5733.919949,5510.743424,6643.793474,3794.000924,2369.104649,2077.258425,2678.118299,2248.932675,2832.625124,4566.535049,6609.458624,7107.313948,5.217180e+04
28,29,6312.630827,5326.682402,7311.383778,4110.252526,3457.221751,2381.641651,3137.108626,2560.905001,2535.295951,5134.614527,7298.579253,7746.737628,5.731305e+04
29,30,6012.333247,3638.632848,3513.701248,1592.877899,1702.193049,999.452799,1233.699549,1436.713399,1983.289149,3685.482198,4872.332397,4950.414647,3.562112e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
235,236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
236,237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
237,238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
238,239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
239,240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
240,241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
241,242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
242,243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
243,244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
244,245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
245,246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
246,247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
247,248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
248,249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
249,250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
250,251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
251,252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
252,253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
253,254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
254,255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
255,256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
256,257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
257,258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
258,259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
259,260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
260,261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
261,262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
262,263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
263,264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00

In [11]:
'''
CALCULATE RAW POLLUTANT EXCEEDANCE POTENTIAL SCORES (PEP_raw)
PEP_raw = AFWtd Exceedance * Annual Runoff Volume (cu. ft)

'''
# #make pd_AnnRunoffVols dataframe of just annual runoff volumes:
# pd_AnnRunoffVols = pd_RunoffVols[pd_RunoffVols.columns.drop([calendar.month_name[mo] for mo in range (1,13)])]

#initialize pd_PEP_raw dataframe w/ Facility_IDs from pd_AFWFacExceedances
pd_PEP_raw = pd_AFWFacExceedances.loc[:,['Facility_ID']]
pd_PEP_raw.reset_index(drop=True,inplace=True)

def _HELPER_calc_PEP_raw(row, Constituent):
    #HELPER function to calculate PEP_raw
    #include .values[0] to retrieve values from dataframe series (dunno why we're recieveing series and not val)
    AnnRunoffVol = pd_RunoffVols.loc[pd_RunoffVols['Facility_ID']==row['Facility_ID'],'Annual_Volume'].values[0]
    AFWFacExceedVal = pd_AFWFacExceedances.loc[pd_AFWFacExceedances['Facility_ID']==row['Facility_ID'],'AFWtd_c_'+Constituent].values[0]

#     if 'AFWtd_c_' + Constituent == 'AFWtd_c_fe':
#         if AnnRunoffVol == 0:
#             print (session.query(Facility_Chars.Fac_Name).filter(Facility_Chars.id == row['Facility_ID']).first())
#         print (type(AFWFacExceedVal),AFWFacExceedVal, type(AnnRunoffVol),AnnRunoffVol)
#         print(pd_AFWFacExceedances.loc[pd_AFWFacExceedances['Facility_ID']==row['Facility_ID'],'AFWtd_c_'+Constituent].values[0])
#         if ~math.isnan(AFWFacExceedVal * AnnRunoffVol): print (AFWFacExceedVal * AnnRunoffVol)

    return  AFWFacExceedVal * AnnRunoffVol

#for each facility in pd_PEP_raw, calculate PEP_Raw SCORE for each pollutant constituent in the pollLS LIST:
for Constituent in pollLS:
    pd_PEP_raw['PEP_raw_' + Constituent] = pd_PEP_raw.apply(lambda row: 
                                           _HELPER_calc_PEP_raw(row,Constituent), axis = 1)
display(pd_PEP_raw)

,Facility_ID,PEP_raw_tss,PEP_raw_turbidity,PEP_raw_p,PEP_raw_n,PEP_raw_nn,PEP_raw_an,PEP_raw_og,PEP_raw_cu,PEP_raw_zn,PEP_raw_fe,PEP_raw_phmin,PEP_raw_phmax
0,1,1.589724e+08,6.024212e+07,2.052564e+05,3.957671e+06,8.984628e+04,NaN,0.000000e+00,NaN,NaN,NaN,0.000000e+00,285035.182115
1,2,2.297361e+06,8.947981e+06,1.164828e+04,1.523531e+06,7.444524e+04,NaN,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000
2,3,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,0.000000e+00,116694.875493
3,4,3.033362e+07,0.000000e+00,1.008554e+05,1.276476e+05,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000
4,5,8.766133e+07,9.687790e+07,8.489555e+05,8.446978e+06,2.195162e+03,NaN,6.885079e+05,NaN,NaN,NaN,0.000000e+00,0.000000
5,6,3.024941e+08,6.429543e+08,1.574204e+06,4.125340e+06,5.401680e+05,NaN,6.790684e+06,NaN,NaN,NaN,0.000000e+00,108033.602799
6,7,0.000000e+00,8.912283e+05,0.000000e+00,2.248959e+04,2.993970e+03,NaN,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000
7,8,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,0.000000e+00,19683.805211
8,9,NaN,2.658819e+08,6.531772e+05,1.721666e+06,2.334138e+05,6.674873e+05,2.798422e+06,NaN,NaN,NaN,1.011248e+05,6360.050261
9,10,8.516068e+07,1.810099e+08,4.431831e+05,1.161400e+06,1.520726e+05,NaN,1.911770e+06,NaN,NaN,NaN,0.000000e+00,30414.527517
10,11,7.296678e+08,1.550916e+09,3.797251e+06,9.951031e+06,1.302978e+06,NaN,1.638030e+07,NaN,NaN,NaN,0.000000e+00,260595.640667
11,12,1.386649e+06,2.152079e+06,3.893710e+04,2.359522e+05,2.185359e+04,NaN,0.000000e+00,NaN,NaN,NaN,0.000000e+00,7765.234168
12,13,2.559726e+07,3.570131e+07,1.272771e+05,1.158482e+06,8.176839e+04,NaN,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000
13,14,6.666276e+07,1.416924e+08,3.469184e+05,9.091304e+05,1.190406e+05,NaN,1.496511e+06,NaN,NaN,NaN,0.000000e+00,23808.127576
14,15,6.239775e+07,1.326271e+08,3.247230e+05,8.509652e+05,1.114246e+05,NaN,1.400766e+06,NaN,NaN,NaN,0.000000e+00,22284.910684
15,34,9.312082e+08,1.979293e+09,4.846083e+06,1.269959e+07,1.662872e+06,NaN,2.090467e+07,NaN,NaN,NaN,0.000000e+00,332574.353801
16,41,NaN,3.442389e+09,8.389431e+06,2.202535e+07,3.002707e+06,8.645156e+06,3.629646e+07,NaN,NaN,NaN,6.516864e+05,0.000000
17,84,0.000000e+00,0.000000e+00,0.000000e+00,2.280402e+05,7.356137e+03,NaN,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000
18,85,NaN,1.550838e+09,3.804713e+06,9.985051e+06,1.358561e+06,3.892685e+06,1.633243e+07,NaN,NaN,NaN,3.674796e+05,37119.149658
19,87,NaN,2.844992e+09,6.983580e+06,1.837784e+07,2.495303e+06,7.141153e+06,2.994908e+07,NaN,NaN,NaN,1.082251e+06,68066.081983
20,91,4.502704e+06,1.323772e+06,1.372738e+05,1.110373e+06,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000
21,92,0.000000e+00,0.000000e+00,4.108437e+04,3.598863e+05,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000
22,96,NaN,NaN,NaN,NaN,NaN,NaN,1.999234e+06,NaN,NaN,NaN,0.000000e+00,31805.999319
23,97,NaN,5.603661e+08,1.374761e+06,3.607910e+06,4.908904e+05,1.406549e+06,5.901415e+06,NaN,NaN,NaN,1.327818e+05,13412.306095
24,100,1.879290e+09,1.390859e+09,3.322002e+06,3.219769e+06,1.853511e+06,NaN,0.000000e+00,1.189285e+08,1.462785e+09,NaN,0.000000e+00,269721.289918
25,101,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,1.734561e+08,2.392398e+08,NaN,0.000000e+00,184055.177342
26,102,NaN,2.364771e+08,6.093517e+06,6.680680e+06,2.371977e+06,3.533098e+05,0.000000e+00,3.009281e+08,1.067928e+09,NaN,4.502050e+04,0.000000
27,103,NaN,NaN,NaN,NaN,NaN,NaN,5.791266e+06,4.120971e+06,5.874954e+07,NaN,0.000000e+00,0.000000
28,104,NaN,1.439983e+07,8.041463e+05,3.076327e+06,2.636852e+06,9.631054e+04,0.000000e+00,1.496086e+07,0.000000e+00,NaN,0.000000e+00,0.000000
29,105,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000
30,106,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000
31,107,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,0.0,0.000000e+00,0.000000
32,108,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000
33,109,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000
34,110,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000
35,111,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000
36,112,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000
37,113,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,NaN,NaN,0.0,0.000000e+00,0.000000
38,114,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,0.0,0.000000e+00,0.000000
39,115,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000
40,116,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,0.0,0.000000e+00,0.000000
41,117,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000
42,119,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000
43,121,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000
44,123,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,NaN,NaN,0.0,0.000000e+00,0.000000

In [23]:
'''
NORMALIZE the raw Pollutant Exceedance Potential scores held in pd_PEP_raw to a new dataframe called pd_PEP_norm.
Use calculation:
PEP_Norm = (PEP_raw - PEPmin) / (PEPMax - PEPmin)

Hold the PEPmax and PEPmin baseline scores used for the normalization in a dataframe called pd_NormBaselinePEP
****NOTE: LATER, we'll need to write the norm. basis to file
          This will allow us to use a common baseline in future (when we get more data, we'll want to have same baseline)
          
'''
###BUILD BASELINE dataframe pd_NormBaselinePEP:
##Write max and mins for each PEP_Raw constituent to a dict:
dict_NormBaselinePEP = {'PEP_Baseline_' + Constituent: [pd_PEP_raw.loc[:,'PEP_raw_' + Constituent].max(),
                                             pd_PEP_raw.loc[:,'PEP_raw_' + Constituent].min()]
                                             for Constituent in pollLS}
dict_NormBaselinePEP['MaxMin'] = ['Max','Min'] #add column identifying if row is max or min
pd_NormBaselinePEP = pd.DataFrame(dict_NormBaselinePEP) #write dict to new dataframe 
print ('This is the pd_NormBaselinePEP dataframe:')
display(pd_NormBaselinePEP)

#initialize pd_PEP_norm dataframe w/ Facility_IDs from pd_PEP_raw
pd_PEP_norm = pd_PEP_raw.loc[:,['Facility_ID']]
pd_PEP_norm.reset_index(drop=True,inplace=True)

##calculate norm for each constituent:
def _HELPER_calc_PEP_norm(row, Constituent):
    #HELPER function to calculate norm of PEP_raw
    BLmax= pd_NormBaselinePEP.loc[pd_NormBaselinePEP['MaxMin']=='Max', 'PEP_Baseline_' + Constituent].values[0]
    BLmin= pd_NormBaselinePEP.loc[pd_NormBaselinePEP['MaxMin']=='Min', 'PEP_Baseline_' + Constituent].values[0]
    #i dont know how to catch div by zero errors using numpy :-/
    dv = row['PEP_raw_' + Constituent] - BLmin
    if dv != 0:
        v = (dv - BLmin)/(BLmax - BLmin)
    else:
        v = 0 #force to 0
    return v
#loop through each constituent; calculating norms as we go:   
for Constituent in pollLS:
        pd_PEP_norm['PEP_norm_' + Constituent] = pd_PEP_raw.apply(lambda row: 
                                           _HELPER_calc_PEP_norm(row,Constituent), axis = 1)
print('This is the pd_PEP_norm dataframe:')
display(pd_PEP_norm)

This is the pd_NormBaselinePEP dataframe:

,MaxMin,PEP_Baseline_an,PEP_Baseline_cu,PEP_Baseline_fe,PEP_Baseline_n,PEP_Baseline_nn,PEP_Baseline_og,PEP_Baseline_p,PEP_Baseline_phmax,PEP_Baseline_phmin,PEP_Baseline_tss,PEP_Baseline_turbidity,PEP_Baseline_zn
0,Max,8.645156e+06,3.009281e+08,0.0,2.202535e+07,3.002707e+06,3.629646e+07,8.389431e+06,332574.353801,1.082251e+06,1.879290e+09,3.442389e+09,1.462785e+09
1,Min,0.000000e+00,4.120971e+06,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

This is the pd_PEP_norm dataframe:

,Facility_ID,PEP_norm_tss,PEP_norm_turbidity,PEP_norm_p,PEP_norm_n,PEP_norm_nn,PEP_norm_an,PEP_norm_og,PEP_norm_cu,PEP_norm_zn,PEP_norm_fe,PEP_norm_phmin,PEP_norm_phmax
0,1,0.084592,0.017500,0.024466,0.179687,0.029922,NaN,0.000000,NaN,NaN,NaN,0.000000,0.857057
1,2,0.001222,0.002599,0.001388,0.069172,0.024793,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
2,3,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,0.350884
3,4,0.016141,0.000000,0.012022,0.005795,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
4,5,0.046646,0.028143,0.101193,0.383512,0.000731,NaN,0.018969,NaN,NaN,NaN,0.000000,0.000000
5,6,0.160962,0.186776,0.187641,0.187300,0.179894,NaN,0.187089,NaN,NaN,NaN,0.000000,0.324840
6,7,0.000000,0.000259,0.000000,0.001021,0.000997,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
7,8,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,0.059186
8,9,NaN,0.077238,0.077857,0.078167,0.077734,0.077209,0.077099,NaN,NaN,NaN,0.093439,0.019124
9,10,0.045315,0.052583,0.052826,0.052730,0.050645,NaN,0.052671,NaN,NaN,NaN,0.000000,0.091452
10,11,0.388268,0.450535,0.452623,0.451799,0.433935,NaN,0.451292,NaN,NaN,NaN,0.000000,0.783571
11,12,0.000738,0.000625,0.004641,0.010713,0.007278,NaN,0.000000,NaN,NaN,NaN,0.000000,0.023349
12,13,0.013621,0.010371,0.015171,0.052598,0.027232,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
13,14,0.035472,0.041161,0.041352,0.041277,0.039644,NaN,0.041230,NaN,NaN,NaN,0.000000,0.071587
14,15,0.033203,0.038528,0.038706,0.038636,0.037108,NaN,0.038592,NaN,NaN,NaN,0.000000,0.067007
15,34,0.495511,0.574976,0.577642,0.576590,0.553791,NaN,0.575943,NaN,NaN,NaN,0.000000,1.000000
16,41,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,0.602158,0.000000
17,84,0.000000,0.000000,0.000000,0.010354,0.002450,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
18,85,NaN,0.450512,0.453513,0.453344,0.452445,0.450274,0.449973,NaN,NaN,NaN,0.339551,0.111612
19,87,NaN,0.826459,0.832426,0.834395,0.831018,0.826029,0.825124,NaN,NaN,NaN,1.000000,0.204664
20,91,0.002396,0.000385,0.016363,0.050413,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
21,92,0.000000,0.000000,0.004897,0.016340,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
22,96,NaN,NaN,NaN,NaN,NaN,NaN,0.055081,NaN,NaN,NaN,0.000000,0.095636
23,97,NaN,0.162784,0.163868,0.163807,0.163483,0.162698,0.162589,NaN,NaN,NaN,0.122690,0.040329
24,100,1.000000,0.404039,0.395975,0.146185,0.617280,NaN,0.000000,0.372924,1.000000,NaN,0.000000,0.811010
25,101,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.556638,0.163551,NaN,0.000000,0.553426
26,102,NaN,0.068696,0.726333,0.303318,0.789946,0.040868,0.000000,0.986116,0.730065,NaN,0.041599,0.000000
27,103,NaN,NaN,NaN,NaN,NaN,NaN,0.159555,0.000000,0.040163,NaN,0.000000,0.000000
28,104,NaN,0.004183,0.095852,0.139672,0.878158,0.011140,0.000000,0.022637,0.000000,NaN,0.000000,0.000000
29,105,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
30,106,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000
31,107,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.0,0.000000,0.000000
32,108,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
33,109,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
34,110,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
35,111,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
36,112,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
37,113,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.0,0.000000,0.000000
38,114,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.0,0.000000,0.000000
39,115,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
40,116,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.0,0.000000,0.000000
41,117,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000
42,119,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
43,121,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
44,123,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.0,0.000000,0.000000

In [40]:
'''
SUM NORMALIZED PEP SCORES
write scores to new dataframe called pd_PEP_sum
'''
pd_PEP_norm.set_index('Facility_ID', inplace=True) #move FAcility ID to index temporarily
pd_PEP_norm['PEP_norm_sum'] = pd_PEP_norm.sum(axis = 1) #sum norm scores for each facility
pd_PEP_norm.reset_index(inplace=True) #move facility ID from index
pd_PEP_sum = pd_PEP_norm.loc[:,['Facility_ID', 'PEP_norm_sum']] #copy summed norm scores to pd_PEP_sum
display(pd_PEP_sum)

    Facility_ID  PEP_norm_sum
0             1      3.579671
1             2      0.297524
2             3      1.052651
3             4      0.101875
4             5      1.737581
5             6      4.243506
6             7      0.006831
7             8      0.177559
8             9      1.733605
9            10      1.194668
10           11     10.236067
11           12      0.142031
12           13      0.356976
13           14      0.935171
14           15      0.875340
15           34     13.063355
16           41     19.806475
17           84      0.038410
18           85      9.483670
19           87     18.540345
20           91      0.208670
21           92      0.063710
22           96      0.452149
23           97      3.426746
24          100     14.242240
25          101      3.820844
26          102     11.060818
27          103      0.599152
28          104      3.454930
29          105      0.000000
30          106      0.000000
31          107      0.000000
32          108      0.000000
33          109      0.000000
34          110      0.000000
35          111      0.000000
36          112      0.000000
37          113      0.000000
38          114      0.000000
39          115      0.000000
40          116      0.000000
41          117      0.000000
42          119      0.000000
43          121      0.000000
44          123      0.000000

In [ ]:
#CREATE COMBO BMPS USING BASE BMPS
#ALL POSSIBLE COMBOS WILL BE CREATED AND ADDED TO THE COMBO_BMPS TABLE
#MAXIMUM POLLUTANT REMOVAL RATES ARE DETERMINED BY IDENTIFYING 
#  THE BASE_BMP IN THE COMBO THAT PROVIDES THE HIGHEST REMOVAL RATE FOR A GIVEN POLLUTANT

import time
print ('get a coffee...this one takes a while!')
start_time = time.time()
CBMP_Eval.Make_ALL_bmp_base_option_combos()
session.commit()
print ('--- %s execution time in seconds ---' % (time.time() - start_time))

In [ ]:
'''
Identify the feasible bmp combinations for each facility
Use base bmp feasibility results for each facility.
Put results into the combo_bmp_feasibility_test_results table
'''
import itertools     #https://docs.python.org/3/library/itertools.html    
import pandas as pd

from sqlalchemy import and_

def _Make_bmp_fingerprint(base_BMP_components):
    #create fingerprint of the passed list of base_bmp_ids
    #fingerprint is just a | separated list of ids of the base bmps that make up the combo bmp
    #corresponds to bmp_options table's bmp_fingerprint field
    #FORMAT: |bmp_option_base_component_id||bmp_option_base_component_id| w/ id's given in ascending order
    fingerprint = '|' + '|'.join(str(id) + '|' for id in base_BMP_components)
    return fingerprint

def Eval_FacBMPCombo(pd_basebmps, myFacility, bmpCombo):
    '''
    input:
        pdbasebmps: pandas built from a BBMP_Eval.evalFacility_BaseBMP dictionary list
                    assme that pandas is passed in w/ index is set as base_bmp_id
        myFacility: SQLA fac_chars record
        bmpCombo: list of base_bmp_ids that make up this combo
    
    #retrieve previously computed combo removal rate
    #calculate combo cip and om cost, insert/update database
    #calculate wrs reduction, insert/update database

    #return as pandas    
    '''    
    #get combo bmp pollutant removal rates into pandas 
    q = session.query(Combo_BMPs.bmp_fingerprint, Combo_BMPs.id.label('combos_bmp_id'), PRR.id.label('PRR_id'),
          PRR.r_tss, PRR.r_turbidity, PRR.r_p, PRR.r_n, PRR.r_nn, PRR.r_an,
          PRR.r_og, PRR.r_cu, PRR.r_zn, PRR.r_fe, PRR.r_phmin, PRR.r_phmax
        ).filter(Combo_BMPs.bmp_fingerprint == _Make_bmp_fingerprint(bmpCombo)).filter(
        Combo_BMPs.bmp_option_removal_rate_id == PRR.id)  
    pd_rr = pd.read_sql(q.statement,session.bind) 

    #use information in pd_rr to get CBFTR_record - make new record if necessary
    myCBFTR = Base.metadata.tables['combo_bmp_feasibility_test_results']
    myCBFTR_id = SQLA_main.insertupdateRec(myCBFTR,{'facility_id':myFacility.id, 'combo_bmps_id':pd_rr['combos_bmp_id'][0]},
                and_(
        myCBFTR.c['facility_id'] == myFacility.id,
        myCBFTR.c['combo_bmps_id'] == pd_rr['combos_bmp_id'][0]
                    ))
    session.flush()
    
    print (myCBFTR_id)
    
    #calculate WRS reduction
#     myFac_exWRSData = session.query(
    
    

    #get costs in pandas
    sumCIP = sum(pd_basebmps.loc[bmp_id,'calc_cip_cost'] for bmp_id in bmpCombo)
    sumOM = sum(pd_basebmps.loc[bmp_id,'calc_om_cost'] for bmp_id in bmpCombo)
    pd_sums = pd.DataFrame([{'calc_cip_cost':sumCIP, 'calc_om_cost': sumOM}])

    #merge combo bmp's removal rates and costs into 1 dataframe
    return pd.concat([pd_rr, pd_sums], axis = 1)
    
    

def Eval_FacBMPOptions(myFacility):
    #a wrapper around Eval_FacBMPCombo
    print('\n***Evaluating feasible bmp combos for facility: ', aFac.Fac_Name, '***')
    print ('****Evaluating feasibile base bmps****')
    df = pd.DataFrame(BBMP_Eval.evalFacility_BaseBMP(aFac, False)).set_index('base_bmp_id')
    display (df)   
    print ('****These are the feasible base bmps. I\'ll use them to make combos:****')
    df = df.loc[df['is_feasible'] == 1]
    display (df)
    feas_ls = df.index #send feasible base bmp ids to list
#     print (feas_ls)
# from SQLA_DB_combo_bmps import Combo_BMPs
# from SQLA_DB_combo_bmp_feasibility_test_results import Combo_BMP_Feasibility_Test_Results as CBFTR
    for CBOLen in range (1, len(feas_ls)+1): #+1 so it's inclusive of last count
        for combo in  itertools.combinations(feas_ls,CBOLen):
            print ('Here is a summary of the combo: ', list(combo))
            display(Eval_FacBMPCombo(df,myFacility, list(combo)))

            
def Eval_All_FacBMPOptions():
    print ('Evaluating feasibile BMP Options for each facility:')
    for aFac in session.query(Facility_Chars):
        Eval_FacBMPOptions(aFac)
    
Eval_All_FacBMPOptions()
session.commit()

In [ ]:
# session.close()
# engine.dispose()

In [ ]:
# http://pythonhow.com/accessing-dataframe-columns-rows-and-cells/
import pandas as pd #import in pandas library
print ('#get csv data and read into pandas')
df1=pd.read_csv("http://pythonhow.com/wp-content/uploads/2016/01/Income_data.csv")
print (df1)
print ('#write new dataframe w/ index set to the "State" column in the csv')
df2=df1.set_index("State").copy()
print (df2)
print ('#extract a portion of the dataframe: States = Alaska to Arkansas; and Dates 2005:2007')
print (df2.loc["Alaska":"Arkansas","2005":"2007"])

print ('Get only certain States, using a list of states:')
getStates = ['Alaska', 'Arizona']
print (df2.loc[getStates])

print ('#slice a column:')
df2.loc[: , "2005"]
print ('get a cell:')
df2.loc['Alaska','2005']
print ('#get max of 2005 data')
print (df2.loc[:,'2005'].max())
print ('take 2005 column and put into list')
LS = df2['2005'].tolist() #this is a series. we use the .tolist() to convert from series to list
print (type(LS))

In [ ]:
df = pd.DataFrame({'col1' : [1.0] * 5, 
                   'col2' : [2.0] * 5, 
                   'col3' : [3.0] * 5 }, index = range(1,6),)
display(df)
df2 = pd.DataFrame({'col1' : [10.0] * 5, 
                    'col2' : [100.0] * 5, 
                    'col3' : [1000.0] * 5 }, index = range(1,6),)
display(df2)
df.mul(df2, 0) # element by element multiplication no problems

In [ ]:
import datetime

# xmin = datetime.datetime.strptime('1/1/2018', "%m/%d/%Y").date()
# xmax = datetime.datetime.strptime('5/6/2018', "%m/%d/%Y").date()

# xmin <= datetime.date(2018,1,5) <= xmax

#     Wet Season is from: January 1 through April 30 and November 1 through December 31
#     Dry Season is from: May 1 through October 31

SampleDate = datetime.date(2018,11,1)

#Wet Season 1:
if datetime.date(SampleDate.year, 1,1) <= SampleDate <= datetime.date(SampleDate.year, 4,30):
    print ('ws 1')
elif datetime.date(SampleDate.year, 5,1) <= SampleDate <= datetime.date(SampleDate.year, 10,31):
    print ('dry')
else:
    print ('ws 2')
    
    
import numpy as np    
# np.max([float('nan'),0])
np.max([0,float('nan')])

if math.isnan(10)

In [ ]:
#import the pandas library
import pandas as pd

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

display (df)

display (df.groupby('Team').groups)


import numpy as np


grouped = df.groupby('Year')
print (grouped['Points'].agg(np.max))

In [ ]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [0.1, 0.2]},
                      index=['a', 'b'])
for idx in df.index:
    print (idx)
    print (df.loc[idx]['col2'])

In [ ]:
import pandas as pd
import numpy as np
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3],
        'coverage': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
display(df)

dfx = df.copy()

capitalizer = lambda x: x.upper()

dfx['name'] = dfx['name'].apply(capitalizer)
display(df)
display(dfx)

In [ ]:
def div0( a, b ):
    """ ignore / 0, div0( [-1, 0, 1], 0 ) -> [0, 0, 0] """
    with np.errstate(divide='ignore', invalid='ignore'):
        c = np.true_divide( a, b )
        c[ ~ np.isfinite( c )] = 0  # -inf inf NaN
    return c

div0( [-1, 0, 1], 0 )